advanced dashboard (bitcoin)
[{"id":"3e6934b2.79480c","type":"ui_text","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","order":2,"width":"0","height":"0","name":"","label":"Bid Price","format":"{{msg.payload.bidPrice}}","layout":"row-spread","x":800,"y":60,"wires":[]},{"id":"283ee802.c99158","type":"ui_chart","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":3,"width":"18","height":"10","label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Click on a crypto or provide a ticker pair","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":600,"wires":[[],[]]},{"id":"592d6f1e.79145","type":"binance-get-candlesticks","z":"d7d920d1.1e628","name":"","ticker":"","interval":"1d","limit":"30","startTime":"","endTime":"","x":860,"y":480,"wires":[["e918db8d.87e3d8"]]},{"id":"e918db8d.87e3d8","type":"function","z":"d7d920d1.1e628","name":"built chart data","func":"\nvar series = [msg.topic]\nvar data = msg.payload.map(function (d) {\n return {\n x: d[0],\n y: d[4] // close price\n }\n});\n\nmsg.payload = [{\n series: series,\n data: [data]\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":540,"wires":[["283ee802.c99158"]]},{"id":"3a5bf45.9251f0c","type":"function","z":"d7d920d1.1e628","name":"set values for API","func":"if (typeof msg.payload === 'string') {\n flow.set(\"selectedTickerPair\", msg.payload);\n}\nmsg.topic = flow.get(\"selectedTickerPair\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["90a8d0bc.4aeac","304459df.84fe86","c0332b3e.107478","58d47e8a.52b39"]]},{"id":"b1a9caa7.d0e068","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":2,"width":"2","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"refresh","payload":"selectedTickerPair","payloadType":"flow","topic":"","x":100,"y":60,"wires":[["71902fa5.40cf","686b8209.90607c"]]},{"id":"2d31df00.dddce","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":6,"width":"2","height":"1","passthru":false,"label":"Ethereum","color":"","bgcolor":"#555555","icon":"","payload":"ETHBTC","payloadType":"str","topic":"","x":100,"y":140,"wires":[["71902fa5.40cf"]]},{"id":"4a25114.13304f","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":7,"width":"2","height":"1","passthru":false,"label":"Neo","color":"","bgcolor":"#58be02","icon":"","payload":"NEOBTC","payloadType":"str","topic":"","x":90,"y":180,"wires":[["71902fa5.40cf"]]},{"id":"1a781586.60994a","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":4,"width":"2","height":"1","passthru":false,"label":"BTC","color":"","bgcolor":"#ff8e13","icon":"","payload":"BTCUSDT","payloadType":"str","topic":"","x":90,"y":100,"wires":[["71902fa5.40cf"]]},{"id":"7cc83e6.13d54c","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":5,"width":"2","height":"1","passthru":false,"label":"Litecoin","color":"","bgcolor":"#bebebe","icon":"","payload":"LTCBTC","payloadType":"str","topic":"","x":100,"y":220,"wires":[["71902fa5.40cf"]]},{"id":"90a8d0bc.4aeac","type":"binance-get-book-ticker","z":"d7d920d1.1e628","name":"","ticker":"","x":620,"y":80,"wires":[["3e6934b2.79480c","30816eb1.acf7b2"]]},{"id":"30816eb1.acf7b2","type":"ui_text","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","order":3,"width":"0","height":"0","name":"","label":"Ask Price","format":"{{msg.payload.askPrice}}","layout":"row-spread","x":800,"y":100,"wires":[]},{"id":"71902fa5.40cf","type":"ui_text_input","z":"d7d920d1.1e628","name":"","label":"Ticker pair","group":"3fa75da0.6d85c2","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":370,"y":120,"wires":[["673df297.a4404c"]]},{"id":"304459df.84fe86","type":"binance-get-day-stats","z":"d7d920d1.1e628","name":"","ticker":"","x":610,"y":180,"wires":[["38c0811d.2ab6fe","319d75a2.00504a","8e238a8f.ec6f48","bf8d0cbf.6f50f"]]},{"id":"2bb366e1.79afaa","type":"catch","z":"d7d920d1.1e628","name":"","scope":null,"x":100,"y":640,"wires":[["6206c86d.bf05b8","15052e06.11e1a2"]]},{"id":"4a8fb8a1.e63068","type":"ui_toast","z":"d7d920d1.1e628","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":550,"y":640,"wires":[]},{"id":"6206c86d.bf05b8","type":"debug","z":"d7d920d1.1e628","name":"","active":true,"console":false,"complete":"error","x":240,"y":680,"wires":[]},{"id":"15052e06.11e1a2","type":"function","z":"d7d920d1.1e628","name":"","func":"msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":640,"wires":[["22694b27.9c4fd4"]]},{"id":"38c0811d.2ab6fe","type":"ui_text","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","order":4,"width":"0","height":"0","name":"","label":"24 hr Low","format":"{{msg.payload.lowPrice}}","layout":"row-spread","x":800,"y":140,"wires":[]},{"id":"319d75a2.00504a","type":"ui_text","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","order":5,"width":"0","height":"0","name":"","label":"24 hr high","format":"{{msg.payload.highPrice}}","layout":"row-spread","x":800,"y":180,"wires":[]},{"id":"8e238a8f.ec6f48","type":"ui_text","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","order":6,"width":"0","height":"0","name":"","label":"24 hr Price % change","format":"{{msg.payload.priceChangePercent}}%","layout":"row-spread","x":840,"y":220,"wires":[]},{"id":"bf8d0cbf.6f50f","type":"ui_text","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","order":7,"width":"0","height":"0","name":"","label":"24 hr volume","format":"{{msg.payload.volume}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"cf4f08bb.9ceda8","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":8,"width":"2","height":"1","passthru":false,"label":"Ripple","color":"","bgcolor":"#0086be","icon":"","payload":"XRPBTC","payloadType":"str","topic":"","x":90,"y":260,"wires":[["71902fa5.40cf"]]},{"id":"6a86f23d.54b9ec","type":"ui_slider","z":"d7d920d1.1e628","name":"","label":"","group":"684f06d8.eb11a8","order":9,"width":0,"height":0,"passthru":true,"topic":"","min":"2","max":"14","step":1,"x":90,"y":580,"wires":[["963cb0a3.0c805"]]},{"id":"11b7370d.f93ff9","type":"function","z":"d7d920d1.1e628","name":"set values for api","func":"\nvar interval = \"1d\";\n\nswitch(msg.payload) {\n case 0:\n interval = \"1m\";\n break;\n case 1:\n interval = \"3m\";\n break;\n case 2:\n interval = \"5m\";\n break; \n case 3:\n interval = \"15m\";\n break;\n case 4:\n interval = \"1h\";\n break;\n case 5:\n interval = \"2h\";\n break;\n case 6:\n interval = \"4h\";\n break;\n case 7:\n interval = \"6h\";\n break;\n case 8:\n interval = \"8h\";\n break;\n case 9:\n interval = \"12h\";\n break;\n case 10:\n interval = \"1d\";\n break;\n case 11:\n interval = \"3d\";\n break;\n case 12:\n interval = \"1w\";\n break;\n case 13:\n interval = \"1M\";\n break;\n}\n\nflow.set(\"interval\", interval);\nmsg.payload = interval;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["5b8217e7.65f4f8","c0332b3e.107478"]]},{"id":"963cb0a3.0c805","type":"delay","z":"d7d920d1.1e628","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":580,"wires":[["11b7370d.f93ff9"]]},{"id":"90628d7.2b2047","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":9,"width":"2","height":"1","passthru":false,"label":"Monero","color":"","bgcolor":"#ff6600","icon":"","payload":"XMRBTC","payloadType":"str","topic":"","x":100,"y":300,"wires":[["71902fa5.40cf"]]},{"id":"5b8217e7.65f4f8","type":"ui_text","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","order":8,"width":"0","height":"0","name":"","label":"Chart time interval","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":580,"wires":[]},{"id":"8d98a98c.b79718","type":"inject","z":"d7d920d1.1e628","name":"initialize","topic":"10","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"x":100,"y":540,"wires":[["6a86f23d.54b9ec"]]},{"id":"9bfab0f0.119d1","type":"ui_numeric","z":"d7d920d1.1e628","name":"","label":"# datapoints","group":"684f06d8.eb11a8","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"500","step":1,"x":110,"y":480,"wires":[["2eaadaeb.ab8fb6"]]},{"id":"79abf723.549248","type":"inject","z":"d7d920d1.1e628","name":"initialize","topic":"30","payload":"30","payloadType":"num","repeat":"","crontab":"","once":true,"x":100,"y":440,"wires":[["9bfab0f0.119d1"]]},{"id":"1895296a.741bc7","type":"function","z":"d7d920d1.1e628","name":"set values for api","func":"flow.set(\"limit\", parseInt(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["c0332b3e.107478"]]},{"id":"c0332b3e.107478","type":"function","z":"d7d920d1.1e628","name":"load chart options","func":"msg.topic = flow.get(\"selectedTickerPair\");\nmsg.payload = {};\nmsg.payload.interval = flow.get(\"interval\");\nmsg.payload.limit = flow.get(\"limit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["592d6f1e.79145"]]},{"id":"2eaadaeb.ab8fb6","type":"delay","z":"d7d920d1.1e628","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":480,"wires":[["1895296a.741bc7"]]},{"id":"686b8209.90607c","type":"ui_toast","z":"d7d920d1.1e628","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Refreshing chart","name":"","x":390,"y":60,"wires":[]},{"id":"96138b39.2d61d8","type":"ui_template","z":"d7d920d1.1e628","group":"684f06d8.eb11a8","name":"Logo display","order":1,"width":"4","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":300,"wires":[[]]},{"id":"58d47e8a.52b39","type":"function","z":"d7d920d1.1e628","name":"load logo","func":"var symbol = msg.topic.slice(0,-3);\nsymbol = symbol.toLowerCase();\n\nif (symbol === \"btcu\") { // USDT case\n symbol = \"btc\";\n}\n\nvar imgUrl = \"https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/color/\"+symbol+\".png\";\n\nmsg.payload = \"<img src='\"+imgUrl+\"'alt='Logo image not found' />\";\n\nreturn msg","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["96138b39.2d61d8"]]},{"id":"673df297.a4404c","type":"delay","z":"d7d920d1.1e628","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":160,"wires":[["3a5bf45.9251f0c"]]},{"id":"2bf673c4.ad97ac","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":9,"width":"2","height":"1","passthru":false,"label":"Stellar","color":"","bgcolor":"#99a2a6","icon":"","payload":"XLMBTC","payloadType":"str","topic":"","x":90,"y":340,"wires":[["71902fa5.40cf"]]},{"id":"e2a8bad4.68cb78","type":"ui_button","z":"d7d920d1.1e628","name":"","group":"3fa75da0.6d85c2","order":9,"width":"2","height":"1","passthru":false,"label":"Zcash","color":"","bgcolor":"#e49b2e","icon":"","payload":"ZECBTC","payloadType":"str","topic":"","x":90,"y":380,"wires":[["71902fa5.40cf"]]},{"id":"22694b27.9c4fd4","type":"delay","z":"d7d920d1.1e628","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":640,"wires":[["4a8fb8a1.e63068"]]},{"id":"684f06d8.eb11a8","type":"ui_group","z":"","name":"Numbers","tab":"122ee689.480fd9","order":1,"disp":false,"width":"5"},{"id":"3fa75da0.6d85c2","type":"ui_group","z":"","name":"Chart","tab":"122ee689.480fd9","order":2,"disp":false,"width":"18"},{"id":"122ee689.480fd9","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin"}]
