aeries weather api.json
[
    {
        "id": "9a884242b68d81d1",
        "type": "tab",
        "label": "aeris weather",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a6d091f6de231e3",
        "type": "http request",
        "z": "9a884242b68d81d1",
        "name": "pavugada-current",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.aerisapi.com/conditions/summary/pavugada,india?format=json&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "b027480dabd94e17",
                "d2215ebf2dce8047"
            ]
        ]
    },
    {
        "id": "49dfca11cfae70c0",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "4a6d091f6de231e3"
            ]
        ]
    },
    {
        "id": "b027480dabd94e17",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2215ebf2dce8047",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "pavugada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{   \"place\":payload.response[0].place,\t    \"date\":payload.response[0].periods[0].timestamp,\t    \"temperature(maxC)\":payload.response[0].periods[0].temp.maxC,\t    \"temperature(avgC)\":payload.response[0].periods[0].temp.avgC,\t    \"irradiance(W/m^2)\":payload.response[0].periods[0].solrad.maxWM2,\t    \"UV index(max)\":payload.response[0].periods[0].uvi.max\t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "088d55262c4d5d7a",
        "type": "http request",
        "z": "9a884242b68d81d1",
        "name": "pavugada-forecast",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.aerisapi.com/forecasts/pavugada,india?format=json&filter=day&limit=7&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "cc1bd9220d3427aa",
                "345f3f5d516d76d0"
            ]
        ]
    },
    {
        "id": "9a14670d63165c45",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "088d55262c4d5d7a"
            ]
        ]
    },
    {
        "id": "cc1bd9220d3427aa",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "345f3f5d516d76d0",
        "type": "change",
        "z": "9a884242b68d81d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.response[0].periods",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "c80607d725db3a4d"
            ]
        ]
    },
    {
        "id": "79991c25dda168ba",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "c80607d725db3a4d",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "for (var i = 0; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        timestamp:msg.payload[i].timestamp,\n        date:msg.payload[i].validTime,\n        Temperature:msg.payload[i].maxTempC,\n        UVindex:msg.payload[i].uvi,\n        irradiance:msg.payload[i].solradMaxWM2\n        \n    }\n        \n    node.send(newMsg);\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "79991c25dda168ba"
            ]
        ]
    },
    {
        "id": "f219d26503c3ceb3",
        "type": "http request",
        "z": "9a884242b68d81d1",
        "name": "pavugada-past",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-02 6:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=5min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "87f225887120166c",
                "ae183934d7917d1d"
            ]
        ]
    },
    {
        "id": "4013c126f4ddbafc",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-02 6:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=5min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ,https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-02 7:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=5min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "f219d26503c3ceb3"
            ]
        ]
    },
    {
        "id": "87f225887120166c",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "ae183934d7917d1d",
        "type": "change",
        "z": "9a884242b68d81d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.response[0].periods",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 500,
        "wires": [
            [
                "b10b2b60bcee1cfb"
            ]
        ]
    },
    {
        "id": "91d658705549139b",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "b10b2b60bcee1cfb",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "for (var i = 0; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        date:msg.payload[i].timestamp,\n        Temperature:msg.payload[i].tempC,\n        UVindex:msg.payload[i].uvi,\n        irradiance:msg.payload[i].solradWM2\n        \n    }\n        \n    node.send(newMsg);\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "91d658705549139b"
            ]
        ]
    },
    {
        "id": "1a04aea2f5298415",
        "type": "comment",
        "z": "9a884242b68d81d1",
        "name": "present weather informations of pavugada from www.aerisweather.com",
        "info": "",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "8bc82d340ef511c9",
        "type": "comment",
        "z": "9a884242b68d81d1",
        "name": "7 days forecast weather details of pavugada from www.aerisweather.com",
        "info": "",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "45b954cb3dab5024",
        "type": "comment",
        "z": "9a884242b68d81d1",
        "name": "historical weather details of pavugada from www.aerisweather.com",
        "info": "",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d424c1bac7817f9",
        "type": "http request",
        "z": "9a884242b68d81d1",
        "name": "pavugada-past",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-08&to=2021-11-01 &plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 500,
        "y": 700,
        "wires": [
            [
                "a51992fe3681b1f4",
                "caf86b8d0a5f6ca6"
            ]
        ]
    },
    {
        "id": "bedcb5b837da44a9",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "method",
                "v": "url",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "2d424c1bac7817f9"
            ]
        ]
    },
    {
        "id": "a51992fe3681b1f4",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "caf86b8d0a5f6ca6",
        "type": "change",
        "z": "9a884242b68d81d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.response[0].periods",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "c5d81562676ababa"
            ]
        ]
    },
    {
        "id": "543c63c151244123",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 780,
        "wires": []
    },
    {
        "id": "c5d81562676ababa",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "for (var i = 0; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        date:msg.payload[i].dateTimeISO,\n        Temperature:msg.payload[i].tempC,\n        UVindex:msg.payload[i].uvi,\n        irradiance:msg.payload[i].solradWM2\n        \n    }\n        \n    node.send(newMsg);\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 780,
        "wires": [
            [
                "543c63c151244123",
                "7f8b763ba79cf936",
                "abb82861746724e8"
            ]
        ]
    },
    {
        "id": "0cc09441ea002adf",
        "type": "file",
        "z": "9a884242b68d81d1",
        "name": "",
        "filename": "C:\\Users\\MALAVIKA\\Downloads\\Doc1.docx",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 470,
        "y": 1360,
        "wires": [
            [
                "04b306d6b31b3d2d"
            ]
        ]
    },
    {
        "id": "95c65559b8557127",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "topic",
        "payloadType": "str",
        "x": 210,
        "y": 1360,
        "wires": [
            [
                "0cc09441ea002adf"
            ]
        ]
    },
    {
        "id": "04b306d6b31b3d2d",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1360,
        "wires": []
    },
    {
        "id": "249ef7fa1634d90b",
        "type": "file",
        "z": "9a884242b68d81d1",
        "name": "",
        "filename": "C:\\Users\\MALAVIKA\\Downloads\\history20.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 340,
        "y": 920,
        "wires": [
            [
                "605a67800f16e3b0"
            ]
        ]
    },
    {
        "id": "11f46fcf5fb11e2e",
        "type": "ui_chart",
        "z": "9a884242b68d81d1",
        "name": "",
        "group": "f0f94831572aed61",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "15",
        "removeOlderPoints": "50",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "605a67800f16e3b0",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 940,
        "wires": []
    },
    {
        "id": "abb82861746724e8",
        "type": "change",
        "z": "9a884242b68d81d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.irradiance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 860,
        "wires": [
            [
                "249ef7fa1634d90b"
            ]
        ]
    },
    {
        "id": "7f8b763ba79cf936",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "pavugada",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{   \t    \"date\":payload.date,\t    \"irradiance(W/m^2)\":payload.irradiance\t    \t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "f23f6e3202054e38",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1100,
        "wires": [
            [
                "26cf75ea4d92dd6a"
            ]
        ]
    },
    {
        "id": "26cf75ea4d92dd6a",
        "type": "file in",
        "z": "9a884242b68d81d1",
        "name": "1",
        "filename": "C:\\Users\\MALAVIKA\\Downloads\\1-10-2021.xlsx",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 1100,
        "wires": [
            [
                "9223bde04e06ded6",
                "11f46fcf5fb11e2e"
            ]
        ]
    },
    {
        "id": "9223bde04e06ded6",
        "type": "influxdb out",
        "z": "9a884242b68d81d1",
        "influxdb": "ed4f779dff97f1b7",
        "name": "",
        "measurement": "change",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4c5d2d5f4aac904a",
        "type": "http request",
        "z": "9a884242b68d81d1",
        "name": "pavugada-past",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 1460,
        "wires": [
            [
                "b7eac3b8bb1c4714"
            ]
        ]
    },
    {
        "id": "d9efc97f4ca472dd",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "5am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 5:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "8eca4a9ddf56b498",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "6am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 6:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1540,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "30f8bd77f5f6728c",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "7am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 7:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "c0eb8212d863ddbe",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "12pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 12:00 PM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "21",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1900,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "66cca0a9e6d8702a",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "11am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 11:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "18",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1840,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "04610fc5f8d5f832",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "9am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 9:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "12",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "55276509fec5e2a2",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "10am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 10:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1780,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "2d0a58cbd24853ed",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "1pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 1:00 PM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "24",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1960,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "201319606edbf063",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "2pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 2:00 PM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "27",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 2020,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "1f3d57d081b50459",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "3pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 3:00 PM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 2080,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "56e8f47fcd1021ea",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "4pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 4:00 PM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "33",
        "topic": "",
        "payloadType": "date",
        "x": 131,
        "y": 2148,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "e7e7d7b2f57fd800",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "5pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 5:00 PM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "36",
        "topic": "",
        "payloadType": "date",
        "x": 134,
        "y": 2205,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "ead8f92de65f0a49",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "6pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 6:00 PM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "39",
        "topic": "",
        "payloadType": "date",
        "x": 137,
        "y": 2249,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "b7eac3b8bb1c4714",
        "type": "change",
        "z": "9a884242b68d81d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.response[0].periods",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1520,
        "wires": [
            [
                "dd9e25cd883047d1"
            ]
        ]
    },
    {
        "id": "3b8a9da9042dd451",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1520,
        "wires": []
    },
    {
        "id": "dd9e25cd883047d1",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "for (var i = 0; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        date:msg.payload[i].dateTimeISO,\n        Temperature:msg.payload[i].tempC,\n        UVindex:msg.payload[i].uvi,\n        irradiance:msg.payload[i].solradWM2\n        \n    }\n        \n    node.send(newMsg);\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1520,
        "wires": [
            [
                "3b8a9da9042dd451",
                "7cd9c117d2483547",
                "b561197bbae45e33"
            ]
        ]
    },
    {
        "id": "25842d1ade46d45e",
        "type": "file",
        "z": "9a884242b68d81d1",
        "name": "history",
        "filename": "C:\\Users\\MALAVIKA\\Downloads\\history20.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 570,
        "y": 1660,
        "wires": [
            [
                "b9431ee17208b668"
            ]
        ]
    },
    {
        "id": "b9431ee17208b668",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1660,
        "wires": []
    },
    {
        "id": "b561197bbae45e33",
        "type": "change",
        "z": "9a884242b68d81d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.irradiance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1600,
        "wires": [
            [
                "25842d1ade46d45e"
            ]
        ]
    },
    {
        "id": "7cd9c117d2483547",
        "type": "debug",
        "z": "9a884242b68d81d1",
        "name": "pavugada",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{   \t    \"date\":payload.date,\t    \"irradiance(W/m^2)\":payload.irradiance\t    \t}",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1580,
        "wires": []
    },
    {
        "id": "7420e3e9c0145f5d",
        "type": "inject",
        "z": "9a884242b68d81d1",
        "name": "8am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://api.aerisapi.com/conditions/14.13,77.31?format=json&from=2021-10-09 8:00 AM&to=2021-11-01 10:30 AM&plimit=1800&filter=15min&fields=&client_id=iRjwmcoDtj9JzUXz00xdi&client_secret=TtTsxcRBangnGOXKMT09WIXlYrpzGgBXCOhQ8rDZ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "9",
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 1660,
        "wires": [
            [
                "4ff6235e556fce89"
            ]
        ]
    },
    {
        "id": "4ff6235e556fce89",
        "type": "change",
        "z": "9a884242b68d81d1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "url",
                "pt": "msg",
                "from": "2021-10-09",
                "fromt": "str",
                "to": "2021-10-11",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "4c5d2d5f4aac904a"
            ]
        ]
    },
    {
        "id": "8b440ad2b205b339",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "fe1050995f3aac58",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "f388935cfd73eb82",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "b76c4bd4ee07ef47",
        "type": "function",
        "z": "9a884242b68d81d1",
        "name": "",
        "func": "var test = msg.payload;\nvar name1 = msg.payload.response[0].periods[0].dateTimeISO;\nvar val1 = msg.payload.response[0].periods[0].solradWM2;\nvar name2 = msg.payload.response[0].periods[1].dateTimeISO;\nvar val2 = msg.payload.response[0].periods[1].solradWM2;\nvar name3 =msg.payload.response[0].periods[2].dateTimeISO;\nvar val3 = msg.payload.response[0].periods[2].solradWM2;\nvar name4 =msg.payload.response[0].periods[3].dateTimeISO;\nvar val4 = msg.payload.response[0].periods[3].solradWM2;\n\n\nmsg.payload = \"INSERT INTO public.node (name1,irr1,irr2,irr3,irr4) VALUES (\" +name1 +\",\" +val1 +\",\"+val2 +\",\" +val3 +\",\" +val4 +\" );\";\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "a530bfdf6141e927",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f2ffa7af57d4dba",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "704f82b3075f0d25",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "81ba0721a9fdfc9a",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "f711ddec5b361d59",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5bc8a061555199f5",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "b0562740bea84e3d",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2339d078df485fe",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "ba5f438bc72cee49",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "fc3e36225cf0100e",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "315bca75405f7e97",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "ad23ae42c671b127",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "8e1991d0bd8588d3",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "5bdde7b34adad1d3",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "a1304235ce4f0bb8",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "b47fc121019d970e",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e11400b9a5aa0d1",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 21,
        "width": 26,
        "height": 1
    },
    {
        "id": "4e309d6850891bf4",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "2f3c290b7ba6861b",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 26,
        "width": 4,
        "height": 1
    },
    {
        "id": "5281ffa9d07d69f3",
        "type": "ui_spacer",
        "z": "9a884242b68d81d1",
        "name": "spacer",
        "group": "27e0dfd98f31c097",
        "order": 32,
        "width": 8,
        "height": 1
    },
    {
        "id": "f0f94831572aed61",
        "type": "ui_group",
        "name": "sqlite",
        "tab": "3c839faf1afccb7e",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "ed4f779dff97f1b7",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "history",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "27e0dfd98f31c097",
        "type": "ui_group",
        "name": "WEATHER&PLANT",
        "tab": "d64d007fb860f2d1",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": true
    },
    {
        "id": "3c839faf1afccb7e",
        "type": "ui_tab",
        "name": "IPLON",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d64d007fb860f2d1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]