arraymeter sftp
[
    {
        "id": "1422e4bd3aa099d5",
        "type": "sftp in",
        "z": "f6f2187d.f17ca8",
        "name": "DELETE",
        "sftp": "",
        "operation": "delete",
        "filename": "",
        "localFilename": "",
        "workdir": "",
        "x": 1020,
        "y": 640,
        "wires": [
            [
                "e95a76555c61fc44"
            ]
        ]
    },
    {
        "id": "e95a76555c61fc44",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 640,
        "wires": []
    },
    {
        "id": "42610d2796857649",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 520,
        "wires": []
    },
    {
        "id": "dec99a54835c0189",
        "type": "sftp in",
        "z": "f6f2187d.f17ca8",
        "name": "pv india",
        "sftp": "",
        "operation": "list",
        "filename": "",
        "localFilename": "",
        "workdir": "/home/iplon/ftp_test",
        "x": 320,
        "y": 560,
        "wires": [
            [
                "f06a658e482e774c"
            ]
        ]
    },
    {
        "id": "555e90a33a173194",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "combine",
        "func": "context.data = context.data || {};\nswitch(msg.topic){\n    case \"DELETE\":\n        context.data.delete = msg.payload;\n        msg = null;\n        break;\n    case \"PUT\":\n        context.data.put = msg.payload;\n        msg = null;\n        break;\n}\nif(context.data.delete != null && context.data.put != null){\n    var data_combine = {\n        \"delete\": context.data.delete,\n        \"put\": context.data.put\n       \n    }\n    context.data = null\n    return {payload: data_combine};\n}  ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 520,
        "wires": [
            [
                "32e94d17bd9ff1b1",
                "5a7927d428091118",
                "42635cf4f011d4b4"
            ]
        ]
    },
    {
        "id": "dee7a43ce7d72218",
        "type": "sftp in",
        "z": "f6f2187d.f17ca8",
        "name": "pv india",
        "sftp": "",
        "operation": "list",
        "filename": "",
        "localFilename": "",
        "workdir": "/home/visionUser/test/tolocaltest/",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "a9cc956b5fa25861"
            ]
        ]
    },
    {
        "id": "c964426aab284156",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload.data",
                "v": "",
                "vt": "str"
            },
            {
                "p": "payload.filename",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "dee7a43ce7d72218",
                "dec99a54835c0189"
            ]
        ]
    },
    {
        "id": "a9cc956b5fa25861",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "DELETE",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "DELETE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "555e90a33a173194"
            ]
        ]
    },
    {
        "id": "f06a658e482e774c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "PUT",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 560,
        "wires": [
            [
                "555e90a33a173194"
            ]
        ]
    },
    {
        "id": "5a7927d428091118",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "array comparison",
        "func": "var DELETE_LENGTH = msg.payload.delete.length\n\nvar PUT_LENGTH = msg.payload.put.length\n\nlet DELETE = [];\nlet PUT = [];\n\nlet BALANCE = [];\nif(DELETE_LENGTH != PUT_LENGTH)\n{\nfor (var i = 0; i<DELETE_LENGTH;i++)\n\n{  \n     DELETE.push(msg.payload.delete[i].name);\n   \n}\nfor (var j = 0; j<PUT_LENGTH;j++)\n{  \n   \n   PUT.push(msg.payload.put[j].name);\n   \n}\nfor(var k=0; k<DELETE_LENGTH; k++)\n{\n       flag = 0;\n       for(var l=0; l<PUT_LENGTH; l++)\n       {\n           if(DELETE[k] === PUT[l])\n           {\n             \n               PUT.splice(l,1);\n               l--;\n               flag = 1;\n               \n           }\n       }\n \n       if(flag == 0)\n       {\n            var device2 = {};\n           device2.payload = {\n               \n           balance:DELETE[k]\n           }\n       \n       \n    node.send(device2);     \n}\n}\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "42610d2796857649",
                "911d2e66736cff13"
            ]
        ]
    },
    {
        "id": "7e38eeda3512bbe9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 580,
        "wires": []
    },
    {
        "id": "1dadf5d818b3b302",
        "type": "sftp in",
        "z": "f6f2187d.f17ca8",
        "name": "PUT",
        "sftp": "",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "workdir": "/home/iplon/ftp_test",
        "x": 990,
        "y": 580,
        "wires": [
            [
                "7e38eeda3512bbe9"
            ]
        ],
        "info": "sleep 10"
    },
    {
        "id": "911d2e66736cff13",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "insert function",
        "func": "msg.payload.data=\"/home/visionUser/test/tolocaltest/\"+msg.payload.balance\n//flow.set(\"path_test\",  msg.payload.path);\nmsg.payload.filename=msg.payload.balance\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 580,
        "wires": [
            [
                "1dadf5d818b3b302"
            ]
        ]
    },
    {
        "id": "7f7030c27db83051",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "dlt_file",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 640,
        "wires": [
            [
                "1422e4bd3aa099d5"
            ]
        ]
    },
    {
        "id": "32e94d17bd9ff1b1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "42635cf4f011d4b4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "delete_function",
        "func": "var DELETE_LENGTH = msg.payload.delete.length\n\nvar PUT_LENGTH = msg.payload.put.length\n\nfor (var i = 0; i<DELETE_LENGTH;i++)\n{  \nfor (var j = 0; j<PUT_LENGTH;j++)\n   {  \n   \n\n    var dlt_file= msg.payload.delete[i].name\n    var check_file=msg.payload.put[j].name\n    var filename;\n\nif(dlt_file==check_file)\n\n{ var device2 = {};\n           device2.payload = {\n     filename:\"/home/visionUser/test/tolocaltest/\"+dlt_file\n}\n\nnode.send(device2)\n}\n}\n}\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 640,
        "wires": [
            [
                "7f7030c27db83051"
            ]
        ]
    }
]
