csv reading.json
[
    {
        "id": "0c1b1859b9604edf",
        "type": "tab",
        "label": "plants",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2d44583b3233890",
        "type": "file in",
        "z": "0c1b1859b9604edf",
        "name": "31 oct",
        "filename": "C:\\Users\\MALAVIKA\\Downloads\\31_Oct.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 450,
        "y": 540,
        "wires": [
            [
                "112627f2a2efef63"
            ]
        ]
    },
    {
        "id": "57af9ec477af1fbc",
        "type": "inject",
        "z": "0c1b1859b9604edf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "e2d44583b3233890"
            ]
        ]
    },
    {
        "id": "c443bfe9e25f2bc7",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 580,
        "wires": []
    },
    {
        "id": "87453be4fe960141",
        "type": "file in",
        "z": "0c1b1859b9604edf",
        "name": "all-india-renewable-gene",
        "filename": "/home/ubuntu/Downloads/all-india-renewable-gene.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "ed0eeee912247d06"
            ]
        ]
    },
    {
        "id": "c515274dc842be0e",
        "type": "inject",
        "z": "0c1b1859b9604edf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "87453be4fe960141"
            ]
        ]
    },
    {
        "id": "ed0eeee912247d06",
        "type": "csv",
        "z": "0c1b1859b9604edf",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "87f4a7314cfe1826",
                "53b85f476fae4e1f",
                "74fc0e56edbbeb35"
            ]
        ]
    },
    {
        "id": "87f4a7314cfe1826",
        "type": "function",
        "z": "0c1b1859b9604edf",
        "name": "",
        "func": "for (var i = 0; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        solar:msg.payload[i].Solar,\n        date:msg.payload[i][\"Month & Year\"]\n    }\n        \n    node.send(newMsg);\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 240,
        "wires": [
            [
                "5ff97ed93b3e6f70"
            ]
        ]
    },
    {
        "id": "53b85f476fae4e1f",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ff97ed93b3e6f70",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "74fc0e56edbbeb35",
        "type": "influxdb out",
        "z": "0c1b1859b9604edf",
        "influxdb": "74084a2821e07143",
        "name": "",
        "measurement": "details",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "3819693c332b011a",
        "type": "function",
        "z": "0c1b1859b9604edf",
        "name": "",
        "func": "\n    for (var i = 0; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        plantName:msg.payload[i][\"Station\"],\n        capacity:msg.payload[i][\"Installed Capacity\"],\n        generated:msg.payload[i][\"Actual Generation\"]\n    }\n    node.send(newMsg);\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "93d6bed0ea8dcf38",
                "b07ebaa7e459da83"
            ]
        ]
    },
    {
        "id": "93d6bed0ea8dcf38",
        "type": "function",
        "z": "0c1b1859b9604edf",
        "name": "condition",
        "func": "var capacity = msg.payload.capacity\nvar PlantName = msg.payload.plantName\nvar generated = msg.payload.generated\nif(capacity >=\"1000.00\")\n{\n    msg.payload =\n    {\n       PlantName,\n       capacity,\n        note:\"high capacity\",\n        generated,\n        \n    }\n    \n}else\n{\n    msg.payload =\n    {\n       PlantName,\n       capacity,\n       note:\"low capacity\",\n       generated,\n        \n    }\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 580,
        "wires": [
            [
                "c443bfe9e25f2bc7",
                "83febc1f741ea4ab"
            ]
        ]
    },
    {
        "id": "fcd81f12f6796142",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "b07ebaa7e459da83",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 540,
        "wires": []
    },
    {
        "id": "a669bba3ccf00845",
        "type": "file in",
        "z": "0c1b1859b9604edf",
        "name": "31 oct",
        "filename": "C:\\Users\\MALAVIKA\\Downloads\\31_Oct.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "681557dd5b3920f2",
                "a9619ad15f778d3d"
            ]
        ]
    },
    {
        "id": "681557dd5b3920f2",
        "type": "csv",
        "z": "0c1b1859b9604edf",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 750,
        "y": 1100,
        "wires": [
            [
                "97e69dd357025726",
                "51e8937b6b90901f",
                "1380c528559df402",
                "61a3b02c1a0db08c",
                "73ec946a178e8903",
                "f52eb86d050358e5",
                "5a9b5c5c1f6a0e2e",
                "db2ae023591e216e"
            ]
        ]
    },
    {
        "id": "53341a965992cbad",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c565d6e4755bfecb",
        "type": "inject",
        "z": "0c1b1859b9604edf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "29",
                "vt": "num"
            },
            {
                "p": "uv",
                "v": "5",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 490,
        "y": 860,
        "wires": [
            [
                "a669bba3ccf00845",
                "de9b096847a0f6aa",
                "08df8bd50fa4690b"
            ]
        ]
    },
    {
        "id": "a9619ad15f778d3d",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 960,
        "wires": []
    },
    {
        "id": "97e69dd357025726",
        "type": "function",
        "z": "0c1b1859b9604edf",
        "name": "",
        "func": "\n    for (var i = 63; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        plantName:msg.payload[i][\"Station\"],\n        capacity:msg.payload[i][\"Installed Capacity\"],\n        generated:msg.payload[i][\"Actual Generation\"]\n    }\n    node.send(newMsg);\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1100,
        "wires": [
            [
                "53341a965992cbad"
            ]
        ]
    },
    {
        "id": "f52eb86d050358e5",
        "type": "ui_gauge",
        "z": "0c1b1859b9604edf",
        "name": "",
        "group": "5ee453b815d6bb0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Installed Capacity",
        "label": "MU",
        "format": "{{payload[73][\"Installed Capacity\"]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1070,
        "y": 1220,
        "wires": []
    },
    {
        "id": "51e8937b6b90901f",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5a9b5c5c1f6a0e2e",
        "type": "ui_gauge",
        "z": "0c1b1859b9604edf",
        "name": "",
        "group": "5ee453b815d6bb0c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Cumulative Generation during Oct 2021",
        "label": "MU",
        "format": "{{payload[73][\"Cumulative Generation during Oct 2021\"]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 1260,
        "wires": []
    },
    {
        "id": "73ec946a178e8903",
        "type": "ui_text",
        "z": "0c1b1859b9604edf",
        "group": "5ee453b815d6bb0c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "STATION",
        "format": "{{payload[73].Station}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 1180,
        "wires": []
    },
    {
        "id": "61a3b02c1a0db08c",
        "type": "ui_gauge",
        "z": "0c1b1859b9604edf",
        "name": "",
        "group": "774d02af69958c78",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Installed Capacity",
        "label": "MU",
        "format": "{{payload[72][\"Installed Capacity\"]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1380c528559df402",
        "type": "ui_gauge",
        "z": "0c1b1859b9604edf",
        "name": "",
        "group": "774d02af69958c78",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Cumulative Generation during Oct 2021",
        "label": "MU",
        "format": "{{payload[72][\"Cumulative Generation during Oct 2021\"]}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 920,
        "y": 1320,
        "wires": []
    },
    {
        "id": "de9b096847a0f6aa",
        "type": "ui_gauge",
        "z": "0c1b1859b9604edf",
        "name": "",
        "group": "774d02af69958c78",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "October average temperature",
        "label": "°C",
        "format": "{{msg.topic}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 840,
        "wires": []
    },
    {
        "id": "db2ae023591e216e",
        "type": "ui_text",
        "z": "0c1b1859b9604edf",
        "group": "774d02af69958c78",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "STATION",
        "format": "{{payload[72].Station}}",
        "layout": "row-spread",
        "x": 843.88330078125,
        "y": 1235.88330078125,
        "wires": []
    },
    {
        "id": "08df8bd50fa4690b",
        "type": "ui_gauge",
        "z": "0c1b1859b9604edf",
        "name": "",
        "group": "5ee453b815d6bb0c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "October average UV index",
        "label": "",
        "format": "{{msg.uv}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "112627f2a2efef63",
        "type": "csv",
        "z": "0c1b1859b9604edf",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "fcd81f12f6796142",
                "3819693c332b011a",
                "685d5bd0f54addfe"
            ]
        ]
    },
    {
        "id": "83febc1f741ea4ab",
        "type": "switch",
        "z": "0c1b1859b9604edf",
        "name": "",
        "property": "payload.capacity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "4000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 620,
        "wires": [
            [
                "4191975b27a14990"
            ]
        ]
    },
    {
        "id": "8a4a868bb8e9ebd3",
        "type": "file in",
        "z": "0c1b1859b9604edf",
        "name": "new",
        "filename": "C:\\Users\\MALAVIKA\\Downloads\\5286_INV03_1638437408_3.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 490,
        "y": 1540,
        "wires": [
            [
                "e44582f862341e2b"
            ]
        ]
    },
    {
        "id": "f6fceb8a292a05e5",
        "type": "inject",
        "z": "0c1b1859b9604edf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 360,
        "y": 1540,
        "wires": [
            [
                "8a4a868bb8e9ebd3"
            ]
        ]
    },
    {
        "id": "6e90e218df2de495",
        "type": "function",
        "z": "0c1b1859b9604edf",
        "name": "",
        "func": "\n    for (var i = 0; i < msg.payload.length;i++)\n{\n    var newMsg = {};\n    newMsg.payload = {\n        \n        DG01:msg.payload[i].DG01_PAC,\n        DGO2:msg.payload[i].DG02_PAC,\n        DG03:msg.payload[i].DG03_PAC\n    }\n    node.send(newMsg);\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1580,
        "wires": [
            [
                "935dd5238c4b76a1",
                "cc419216190607af"
            ]
        ]
    },
    {
        "id": "935dd5238c4b76a1",
        "type": "function",
        "z": "0c1b1859b9604edf",
        "name": "condition",
        "func": "var capacity = msg.payload.capacity\nvar PlantName = msg.payload.plantName\nvar generated = msg.payload.generated\nif(capacity >=\"1000.00\")\n{\n    msg.payload =\n    {\n       PlantName,\n       capacity,\n        note:\"high capacity\",\n        generated,\n        \n    }\n    \n}else\n{\n    msg.payload =\n    {\n       PlantName,\n       capacity,\n       note:\"low capacity\",\n       generated,\n        \n    }\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "a3e6b19a8b5df2c8",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1520,
        "wires": []
    },
    {
        "id": "cc419216190607af",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e44582f862341e2b",
        "type": "csv",
        "z": "0c1b1859b9604edf",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "1",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1540,
        "wires": [
            [
                "a3e6b19a8b5df2c8",
                "6e90e218df2de495"
            ]
        ]
    },
    {
        "id": "4191975b27a14990",
        "type": "debug",
        "z": "0c1b1859b9604edf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 620,
        "wires": []
    },
    {
        "id": "685d5bd0f54addfe",
        "type": "ui_table",
        "z": "0c1b1859b9604edf",
        "group": "4cf969b6a0062abf",
        "name": "",
        "order": 19,
        "width": 12,
        "height": 15,
        "columns": [
            {
                "field": "Installed Capacity",
                "title": "plant",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Actual Generation",
                "title": " Capacity (MW)",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 612.9545288085938,
        "y": 611.5908813476562,
        "wires": []
    },
    {
        "id": "74084a2821e07143",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "history",
        "name": "",
        "usetls": false,
        "tls": "c563e3c6072c32be",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "5ee453b815d6bb0c",
        "type": "ui_group",
        "d": true,
        "name": "PAVUGADA1",
        "tab": "3c839faf1afccb7e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "774d02af69958c78",
        "type": "ui_group",
        "d": true,
        "name": "PAVUGADA",
        "tab": "3c839faf1afccb7e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4cf969b6a0062abf",
        "type": "ui_group",
        "name": "plant",
        "tab": "b7554f23e3ef1b79",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "c563e3c6072c32be",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "3c839faf1afccb7e",
        "type": "ui_tab",
        "name": "IPLON",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b7554f23e3ef1b79",
        "type": "ui_tab",
        "name": "work",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]