modscan
[
    {
        "id": "9bf17dc4160e76d0",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 127.1429443359375,
        "y": 683.8571310043335,
        "wires": [
            [
                "ad940368f1def587"
            ]
        ]
    },
    {
        "id": "ad940368f1def587",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "enable",
        "func": "if(flow.get(\"enabled\")){\n   flow.set(\"count\", flow.get(\"count\") + 1);\n   msg.payload = {'fc': flow.get(\"FC\"), 'unitid': flow.get(\"unitid\"), 'address': flow.get(\"address\") , 'quantity': flow.get(\"length\"), 'conversion': flow.get(\"conversion\") };\n}else\n    msg = null;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 309.1429443359375,
        "y": 683.8571310043335,
        "wires": [
            [
                "952ee75c3346654e"
            ]
        ]
    },
    {
        "id": "e64e3a8f801b873b",
        "type": "ui_button",
        "z": "c65e21978fddef7f",
        "name": "",
        "group": "426c6703.2c1038",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 429.6429443359375,
        "y": 861.8571310043335,
        "wires": [
            [
                "b8b90ab614daa485"
            ]
        ]
    },
    {
        "id": "b8b90ab614daa485",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "enable",
        "func": "flow.set(\"enabled\", true);\nflow.set(\"count\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 598.1429443359375,
        "y": 861.8571310043335,
        "wires": []
    },
    {
        "id": "a733c63092bfeaf7",
        "type": "ui_button",
        "z": "c65e21978fddef7f",
        "name": "",
        "group": "426c6703.2c1038",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 429.1429443359375,
        "y": 912.8571310043335,
        "wires": [
            [
                "618d871521c79eed"
            ]
        ]
    },
    {
        "id": "618d871521c79eed",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "disable",
        "func": "flow.set(\"enabled\", false);",
        "outputs": "0",
        "noerr": 0,
        "x": 605.6429443359375,
        "y": 912.8571310043335,
        "wires": []
    },
    {
        "id": "e3f7bb5a90ca3aaf",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"address\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 595.1429443359375,
        "y": 955.8571310043335,
        "wires": []
    },
    {
        "id": "ddb97069ef4a5d7d",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"length\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 596.1429443359375,
        "y": 1000.8571310043335,
        "wires": []
    },
    {
        "id": "4c02d1c1bea93356",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"FC\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 593.1429443359375,
        "y": 1043.8571310043335,
        "wires": []
    },
    {
        "id": "952ee75c3346654e",
        "type": "modbus-flex-getter",
        "z": "c65e21978fddef7f",
        "name": "read",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "5876d9d3.3456c8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 460.1429443359375,
        "y": 682.8571310043335,
        "wires": [
            [
                "f5d2a0d1e0ae6677",
                "8814863065a6a0e0"
            ],
            []
        ]
    },
    {
        "id": "74e97467b8ab3f9e",
        "type": "ui_template",
        "z": "c65e21978fddef7f",
        "group": "55e082a0.9e821c",
        "name": "",
        "order": 5,
        "width": "6",
        "height": "10",
        "format": "<div style=\"width:100%;\">\n    <div style=\"display:inline-block; width:25%;\" ng-repeat=\"x in msg.payload track by $index\">\n        {{!msg.input.payload.conversion ? \n        ($index + msg.input.payload.address) : \n        (($index*2 + msg.input.payload.address)+'-'+($index*2 + msg.input.payload.address+1))}} : {{ x }}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1485.14306640625,
        "y": 692.8571166992188,
        "wires": [
            []
        ]
    },
    {
        "id": "522e02fa9b07d783",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "init",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [
                "415a2620ead1c6b2"
            ]
        ]
    },
    {
        "id": "415a2620ead1c6b2",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "init",
        "func": "flow.set(\"FC\", 3);\nflow.set(\"address\", 1);\nflow.set(\"length\", 1);\nflow.set(\"enabled\", false);\nflow.set(\"count\", 0);\nflow.set(\"conversion\", 0);\nflow.set(\"hex\", 0);\nflow.set(\"conversion_float\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 289.1429443359375,
        "y": 862.8571310043335,
        "wires": []
    },
    {
        "id": "2af763d1cf596285",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "init",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "count",
        "payloadType": "flow",
        "x": 482.1429443359375,
        "y": 623.8571310043335,
        "wires": [
            [
                "e7af6b4d36b36974"
            ]
        ]
    },
    {
        "id": "e7af6b4d36b36974",
        "type": "ui_text",
        "z": "c65e21978fddef7f",
        "group": "55e082a0.9e821c",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "read count",
        "label": "Total reads: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 637.6429748535156,
        "y": 623.8571329116821,
        "wires": []
    },
    {
        "id": "70cd3d581d9055af",
        "type": "status",
        "z": "c65e21978fddef7f",
        "name": "",
        "scope": [
            "952ee75c3346654e"
        ],
        "x": 113.6429443359375,
        "y": 623.8571310043335,
        "wires": [
            [
                "4cf3dc9528ea8d8b"
            ]
        ]
    },
    {
        "id": "4cf3dc9528ea8d8b",
        "type": "ui_text",
        "z": "c65e21978fddef7f",
        "group": "55e082a0.9e821c",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "Modbus status",
        "label": "Status:",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "x": 294.1429443359375,
        "y": 623.8571310043335,
        "wires": []
    },
    {
        "id": "1bdbaedc61624f1c",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "16To32Bit",
        "func": "var values32bit = [];\n\nfor(var i=0;i<msg.payload.length;i++){\n    var tmp = msg.payload[i].toString(2);\n    tmp = tmp.length < 16 ? '0'.repeat(16-tmp.length) + tmp : tmp;\n    i++;\n    var tmp1 = i < msg.payload.length ? msg.payload[i].toString(2) : '0000000000000000';\n    tmp1 = tmp1.length < 16 ? '0'.repeat(16-tmp1.length) + tmp1 : tmp1;\n    var value = parseInt(tmp1+tmp,2);\n    if(flow.get('hex')) value = '0x'+value.toString(16).toUpperCase();\n        \n    values32bit.push(value);\n}\n\nmsg.payload = values32bit;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 885.1429977416992,
        "y": 707.8571300506592,
        "wires": [
            [
                "1268b019918e8d7c"
            ]
        ]
    },
    {
        "id": "8814863065a6a0e0",
        "type": "switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "property": "conversion",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670.6429443359375,
        "y": 675.8571166992188,
        "wires": [
            [
                "b9244fbc7951c3f5"
            ],
            [
                "5125f0c5368720f2",
                "cd46e8a59e0a0fba"
            ]
        ]
    },
    {
        "id": "34c077794abb6e07",
        "type": "ui_switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "32 bit",
        "group": "426c6703.2c1038",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 429.6429443359375,
        "y": 1083.8571310043335,
        "wires": [
            [
                "0878324dcb7ab87a"
            ]
        ]
    },
    {
        "id": "0878324dcb7ab87a",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"conversion\", msg.payload);\nif(!flow.get(\"conversion\") && flow.get(\"conversion_float\"))\n flow.set(\"conversion_float\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 592.1429443359375,
        "y": 1083.8571310043335,
        "wires": []
    },
    {
        "id": "9e84b5caf744478a",
        "type": "ui_dropdown",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "FC",
        "place": "FC",
        "group": "426c6703.2c1038",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Read Coil Status FC 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Read Holding Register FC 3",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Read Status Register FC 4",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 429.1429443359375,
        "y": 1043.8571310043335,
        "wires": [
            [
                "4c02d1c1bea93356"
            ]
        ]
    },
    {
        "id": "598b7fa8233bf69a",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "address",
        "payloadType": "flow",
        "x": 214.1429443359375,
        "y": 955.8571310043335,
        "wires": [
            [
                "00738188c7a0d447"
            ]
        ]
    },
    {
        "id": "f5fc0c1d36d96d7c",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "length",
        "payloadType": "flow",
        "x": 213.1429443359375,
        "y": 1000.8571310043335,
        "wires": [
            [
                "357ce16d3fc7d6cc"
            ]
        ]
    },
    {
        "id": "0dc02772b7f30b89",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "FC",
        "payloadType": "flow",
        "x": 202.1429443359375,
        "y": 1043.8571310043335,
        "wires": [
            [
                "9e84b5caf744478a"
            ]
        ]
    },
    {
        "id": "7ccc36932dd9238d",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "conversion",
        "payloadType": "flow",
        "x": 230.1429443359375,
        "y": 1083.8571310043335,
        "wires": [
            [
                "34c077794abb6e07"
            ]
        ]
    },
    {
        "id": "a9f5832ff4b510f2",
        "type": "modbus-flex-write",
        "z": "c65e21978fddef7f",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "5876d9d3.3456c8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1173.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ce3f8b4f7c7106c7",
        "type": "ui_button",
        "z": "c65e21978fddef7f",
        "name": "write",
        "group": "4a263e90.169ff",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "WRITE",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 868.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [
                "092a1c24e14b849b"
            ]
        ]
    },
    {
        "id": "092a1c24e14b849b",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "enable",
        "func": "var value = flow.get(\"value\");\n\nif(flow.get(\"conversion_write\"))\n    value = parseInt(value, 16);\nelse value = parseInt(value);\n\nmsg.payload = {'value': value, 'fc': flow.get(\"FC_WRITE\"), 'unitid': flow.get(\"unitid\"), 'address': flow.get(\"address_write\") , 'quantity': 1 };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1018.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [
                "a9f5832ff4b510f2"
            ]
        ]
    },
    {
        "id": "035761518614f28a",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"address_write\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1287.6429443359375,
        "y": 977.8571310043335,
        "wires": []
    },
    {
        "id": "1fc0567c7a92a2ab",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"FC_WRITE\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1288.6429443359375,
        "y": 1018.8571310043335,
        "wires": []
    },
    {
        "id": "c31109956a0162da",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "init",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 883.6429443359375,
        "y": 923.8571310043335,
        "wires": [
            [
                "f7a48efd549bc3e9"
            ]
        ]
    },
    {
        "id": "f7a48efd549bc3e9",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "init",
        "func": "flow.set(\"FC_WRITE\", 6);\nflow.set(\"address_write\", 1);\nflow.set(\"conversion_write\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 1012.6429443359375,
        "y": 923.8571310043335,
        "wires": []
    },
    {
        "id": "117e079439d5563f",
        "type": "ui_switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Hex to Int",
        "group": "4a263e90.169ff",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1133.1429443359375,
        "y": 1058.8571310043335,
        "wires": [
            [
                "67b0e62b445df0b7"
            ]
        ]
    },
    {
        "id": "67b0e62b445df0b7",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"conversion_write\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1289.6429443359375,
        "y": 1058.8571310043335,
        "wires": []
    },
    {
        "id": "766e2bf5cc697e2e",
        "type": "ui_dropdown",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "FC",
        "place": "FC",
        "group": "4a263e90.169ff",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "options": [
            {
                "label": "Force Single Coil FC 5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Force Single Register FC 6",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1124.6429443359375,
        "y": 1018.8571310043335,
        "wires": [
            [
                "1fc0567c7a92a2ab"
            ]
        ]
    },
    {
        "id": "8547aac9cae07d3b",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "address_write",
        "payloadType": "flow",
        "x": 924.6429443359375,
        "y": 977.8571310043335,
        "wires": [
            [
                "ecdb9c5a65b3e50d"
            ]
        ]
    },
    {
        "id": "0e0f3ca75dfb0141",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "FC_WRITE",
        "payloadType": "flow",
        "x": 915.6429443359375,
        "y": 1018.8571310043335,
        "wires": [
            [
                "766e2bf5cc697e2e"
            ]
        ]
    },
    {
        "id": "a0a50aadd449eda1",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "conversion_write",
        "payloadType": "flow",
        "x": 933.6429443359375,
        "y": 1058.8571310043335,
        "wires": [
            [
                "117e079439d5563f"
            ]
        ]
    },
    {
        "id": "6ec8eb3cf26cbd83",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Value",
        "group": "4a263e90.169ff",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 1122.1429443359375,
        "y": 1098.8571310043335,
        "wires": [
            [
                "1d79cdf423983160"
            ]
        ]
    },
    {
        "id": "1d79cdf423983160",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"value\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1288.6429443359375,
        "y": 1098.8571310043335,
        "wires": []
    },
    {
        "id": "af80748dad0aed0b",
        "type": "comment",
        "z": "c65e21978fddef7f",
        "name": "READ",
        "info": "",
        "x": 74.6429443359375,
        "y": 809.8571310043335,
        "wires": []
    },
    {
        "id": "b98fad7159285328",
        "type": "comment",
        "z": "c65e21978fddef7f",
        "name": "WRITE",
        "info": "",
        "x": 804.1429443359375,
        "y": 810.8571310043335,
        "wires": []
    },
    {
        "id": "e8acc3ad5905e00c",
        "type": "comment",
        "z": "c65e21978fddef7f",
        "name": "OUTPUT",
        "info": "",
        "x": 86.1429443359375,
        "y": 570.8571310043335,
        "wires": []
    },
    {
        "id": "420454f139ad010e",
        "type": "ui_switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Hex Values",
        "group": "426c6703.2c1038",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 435.9085693359375,
        "y": 1130.6071310043335,
        "wires": [
            [
                "4ff7cf70896c2095"
            ]
        ]
    },
    {
        "id": "4ff7cf70896c2095",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"hex\", msg.payload);\n\nif(flow.get(\"hex\") && flow.get(\"conversion_float\"))\n flow.set(\"conversion_float\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 589.4085693359375,
        "y": 1130.6071310043335,
        "wires": []
    },
    {
        "id": "aa14440dc490447b",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "hex",
        "payloadType": "flow",
        "x": 200.4085693359375,
        "y": 1130.6071310043335,
        "wires": [
            [
                "420454f139ad010e"
            ]
        ]
    },
    {
        "id": "b9244fbc7951c3f5",
        "type": "switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "property": "hex",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 878.9086074829102,
        "y": 669.6071166992188,
        "wires": [
            [
                "3c8b18ab0ca386c3"
            ],
            [
                "74e97467b8ab3f9e",
                "f52866fa364e51dd"
            ]
        ]
    },
    {
        "id": "3c8b18ab0ca386c3",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "toHex",
        "func": "for(var i=0;i<msg.payload.length;i++)\n   msg.payload[i] = '0x'+msg.payload[i].toString(16).toUpperCase();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1032.9085693359375,
        "y": 615.6071166992188,
        "wires": [
            [
                "74e97467b8ab3f9e",
                "f52866fa364e51dd"
            ]
        ]
    },
    {
        "id": "105b3aedbd50ed6c",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "conversion_float",
        "payloadType": "flow",
        "x": 221.1429443359375,
        "y": 1176.8571310043335,
        "wires": [
            [
                "9b59638e1ed0ec2b"
            ]
        ]
    },
    {
        "id": "9b59638e1ed0ec2b",
        "type": "ui_switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Float",
        "group": "426c6703.2c1038",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 410.6429443359375,
        "y": 1176.8571310043335,
        "wires": [
            [
                "833c8e08b85ccfb8"
            ]
        ]
    },
    {
        "id": "833c8e08b85ccfb8",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"conversion_float\", msg.payload);\nif(!flow.get(\"conversion\") && flow.get(\"conversion_float\"))\n flow.set(\"conversion\", 1);\n\nif(flow.get(\"conversion_float\"))\n    flow.set(\"hex\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 587.1429443359375,
        "y": 1176.8571310043335,
        "wires": []
    },
    {
        "id": "1268b019918e8d7c",
        "type": "switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "property": "conversion_float",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1031.1429443359375,
        "y": 737.8571166992188,
        "wires": [
            [
                "74e97467b8ab3f9e",
                "f52866fa364e51dd"
            ],
            [
                "9514f563298828dd",
                "b04803f4c905f759"
            ]
        ]
    },
    {
        "id": "120f1a29530045bb",
        "type": "comment",
        "z": "c65e21978fddef7f",
        "name": "CONNECTION",
        "info": "",
        "x": 118.46179962158203,
        "y": 41.56597328186035,
        "wires": []
    },
    {
        "id": "a7c90c56f8bd0c30",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Address",
        "group": "b079e2a.7753f2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 546.4617919921875,
        "y": 131.01041412353516,
        "wires": [
            [
                "8df9ac10c77efe5f"
            ]
        ]
    },
    {
        "id": "75db6515078336c8",
        "type": "modbus-flex-connector",
        "z": "c65e21978fddef7f",
        "name": "connection",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": false,
        "showErrors": false,
        "server": "5876d9d3.3456c8",
        "x": 450.46185302734375,
        "y": 385.01045298576355,
        "wires": [
            []
        ]
    },
    {
        "id": "84613fc345927599",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Port",
        "group": "b079e2a.7753f2",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 536.4791259765625,
        "y": 175.01040649414062,
        "wires": [
            [
                "c10fa0a427b5b016"
            ]
        ]
    },
    {
        "id": "8df9ac10c77efe5f",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.tcpHost = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 700.017333984375,
        "y": 131.23263549804688,
        "wires": []
    },
    {
        "id": "c10fa0a427b5b016",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.tcpPort = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 698.017333984375,
        "y": 175.23263549804688,
        "wires": []
    },
    {
        "id": "3c0e824073e76189",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Unit ID",
        "group": "b079e2a.7753f2",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 535.4791412353516,
        "y": 225.23263549804688,
        "wires": [
            [
                "9bd589cc3d394202"
            ]
        ]
    },
    {
        "id": "9bd589cc3d394202",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.unitId = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 697.0173492431641,
        "y": 225.45486450195312,
        "wires": []
    },
    {
        "id": "eb06e532e169311e",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "TCP_Connection",
        "payloadType": "flow",
        "x": 136,
        "y": 147.23263549804688,
        "wires": [
            [
                "02286a2b15916437",
                "527094d6d17ef355",
                "a780c7e78af5bb60",
                "18a4c9b299d58556"
            ]
        ]
    },
    {
        "id": "02286a2b15916437",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tcpHost",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 385.0173645019531,
        "y": 131.23263549804688,
        "wires": [
            [
                "a7c90c56f8bd0c30"
            ]
        ]
    },
    {
        "id": "527094d6d17ef355",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tcpPort",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 383.0173645019531,
        "y": 175.23263549804688,
        "wires": [
            [
                "84613fc345927599"
            ]
        ]
    },
    {
        "id": "a780c7e78af5bb60",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.unitId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380.0173645019531,
        "y": 225.23263549804688,
        "wires": [
            [
                "3c0e824073e76189"
            ]
        ]
    },
    {
        "id": "386e42f60676cf08",
        "type": "ui_button",
        "z": "c65e21978fddef7f",
        "name": "connectTCP",
        "group": "b079e2a.7753f2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Connect",
        "color": "",
        "bgcolor": "",
        "icon": "compare_arrows",
        "payload": "TCP_Connection",
        "payloadType": "flow",
        "topic": "",
        "x": 109.01741790771484,
        "y": 357.2326593399048,
        "wires": [
            [
                "29aa7e039dfee3f6"
            ]
        ]
    },
    {
        "id": "29aa7e039dfee3f6",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "connect",
        "func": "var options = msg.payload;\nvar error = {topic: \"TCP Connect\"};\nvar configs = flow.get('configs_TCP') || [];\n\noptions.connectorType = \"TCP\";\n\nif(!options.name || options.name === \"\"){\n    options.name = \"No name\";\n}\n\nif(!options.tcpPort)\n    options.tcpPort = 502;\n\nif(!options.tcpHost){\n    error.payload = \"TCP Host address not Valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nvar index = configs.findIndex(function(conf) {\n    return conf.name == options.name;\n});\n\nif(index < 0)\n    configs.push(options);\nelse\n    configs[index] = options;\n    \nflow.set('configs_TCP', configs);\n\nnode.send([msg, {payload:configs, topic:\"init\"}]);",
        "outputs": "2",
        "noerr": 0,
        "x": 288.0174217224121,
        "y": 357.23265838623047,
        "wires": [
            [
                "75db6515078336c8",
                "c1c39047ec7b94fa"
            ],
            [
                "81777c2b27ebb8b4"
            ]
        ]
    },
    {
        "id": "4a38404872d7f7ba",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "custom port",
        "label": "or choose a custom Port",
        "group": "4fe0301e.33802",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1330.03466796875,
        "y": 157.23262786865234,
        "wires": [
            [
                "f7482e50cf2f1d92"
            ]
        ]
    },
    {
        "id": "5a50cbd5bb824444",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Unit ID",
        "group": "4fe0301e.33802",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1308.034683227539,
        "y": 200.4548568725586,
        "wires": [
            [
                "d4267ff6b7d96e5c"
            ]
        ]
    },
    {
        "id": "1bc69cb8655e22f3",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "SERIAL_Connection",
        "payloadType": "flow",
        "x": 926.5555419921875,
        "y": 152.4548568725586,
        "wires": [
            [
                "6775efbfdbf0b33e",
                "987db69cab9e7b1a",
                "6880ed4d910beac3",
                "dc0f4e63dc612add",
                "58d0f609903f0595"
            ]
        ]
    },
    {
        "id": "6775efbfdbf0b33e",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.serialPort",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1162.5729064941406,
        "y": 157.4548568725586,
        "wires": [
            [
                "4a38404872d7f7ba"
            ]
        ]
    },
    {
        "id": "987db69cab9e7b1a",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.unitId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160.5729064941406,
        "y": 200.4548568725586,
        "wires": [
            [
                "5a50cbd5bb824444"
            ]
        ]
    },
    {
        "id": "8ddc3c9d401c8a45",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\nif(msg.payload)\n    options.serialPort = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1479.5728759765625,
        "y": 111.4548568725586,
        "wires": []
    },
    {
        "id": "6880ed4d910beac3",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.serialPort",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1164.5729064941406,
        "y": 111.4548568725586,
        "wires": [
            [
                "c9af11920caafd96"
            ]
        ]
    },
    {
        "id": "c9af11920caafd96",
        "type": "ui_dropdown",
        "z": "c65e21978fddef7f",
        "name": "port",
        "label": "Port",
        "place": "Choose a serial port",
        "group": "4fe0301e.33802",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "/dev/ttyUSB0",
                "value": "/dev/ttyUSB0",
                "type": "str"
            },
            {
                "label": "/dev/ttyUSB1",
                "value": "/dev/ttyUSB1",
                "type": "str"
            },
            {
                "label": "/dev/ttyAMA0",
                "value": "/dev/ttyAMA0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1311.5729064941406,
        "y": 111.78819942474365,
        "wires": [
            [
                "8ddc3c9d401c8a45"
            ]
        ]
    },
    {
        "id": "f7482e50cf2f1d92",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.serialPort = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1480.5728759765625,
        "y": 156.78819274902344,
        "wires": []
    },
    {
        "id": "d4267ff6b7d96e5c",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.unitId = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1480.5728759765625,
        "y": 199.78819274902344,
        "wires": []
    },
    {
        "id": "dc0f4e63dc612add",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.serialBaudrate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1161.111099243164,
        "y": 245.78817749023438,
        "wires": [
            [
                "2120989800e8db47"
            ]
        ]
    },
    {
        "id": "20bd971730951c23",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.serialBaudrate = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1481.111068725586,
        "y": 246.12151336669922,
        "wires": []
    },
    {
        "id": "da2d912e3511f80e",
        "type": "ui_button",
        "z": "c65e21978fddef7f",
        "name": "connectSERIAL",
        "group": "4fe0301e.33802",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Connect",
        "color": "",
        "bgcolor": "",
        "icon": "compare_arrows",
        "payload": "SERIAL_Connection",
        "payloadType": "flow",
        "topic": "",
        "x": 120.0173568725586,
        "y": 409.7881774902344,
        "wires": [
            [
                "905e071242ac007e"
            ]
        ]
    },
    {
        "id": "2120989800e8db47",
        "type": "ui_dropdown",
        "z": "c65e21978fddef7f",
        "name": "BaudRate",
        "label": "Baud Rate",
        "place": "Select a Boud Rate",
        "group": "4fe0301e.33802",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 115200,
                "type": "num"
            },
            {
                "label": "",
                "value": 57600,
                "type": "num"
            },
            {
                "label": "",
                "value": 38400,
                "type": "num"
            },
            {
                "label": "",
                "value": 19200,
                "type": "num"
            },
            {
                "label": "",
                "value": 9600,
                "type": "num"
            },
            {
                "label": "",
                "value": 4800,
                "type": "num"
            },
            {
                "label": "",
                "value": 2400,
                "type": "num"
            },
            {
                "label": "",
                "value": 1200,
                "type": "num"
            },
            {
                "label": "",
                "value": 300,
                "type": "num"
            },
            {
                "label": "",
                "value": 110,
                "type": "num"
            },
            {
                "label": "",
                "value": 75,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1315.239501953125,
        "y": 245.78817749023438,
        "wires": [
            [
                "20bd971730951c23"
            ]
        ]
    },
    {
        "id": "192104bfc0fa2097",
        "type": "ui_dropdown",
        "z": "c65e21978fddef7f",
        "name": "configurations",
        "label": "Configurations",
        "place": "Choose a conf...",
        "group": "b079e2a.7753f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1119.731704711914,
        "y": 334.5819034576416,
        "wires": [
            [
                "33a77aa9e3ae31d7"
            ]
        ]
    },
    {
        "id": "28d1a5c2957dd17e",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "init",
        "payload": "configs_TCP",
        "payloadType": "flow",
        "x": 749.0174331665039,
        "y": 385.01042461395264,
        "wires": [
            [
                "81777c2b27ebb8b4"
            ]
        ]
    },
    {
        "id": "81777c2b27ebb8b4",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "options",
        "func": "var options = [];\n\n\n(msg.payload || []).forEach(function(opt) {\n    var tmp = {};\n    tmp[opt.name] = opt;\n    options.push(tmp);\n});\n\nmsg.options = options;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 935.0173721313477,
        "y": 364.01040267944336,
        "wires": [
            [
                "192104bfc0fa2097"
            ]
        ]
    },
    {
        "id": "3c8c8b19f6e3ed5f",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Name",
        "group": "b079e2a.7753f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 536.017333984375,
        "y": 84.01041412353516,
        "wires": [
            [
                "3eb2e08c0e31581a"
            ]
        ]
    },
    {
        "id": "3eb2e08c0e31581a",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.name = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 699.5728759765625,
        "y": 84.23263549804688,
        "wires": []
    },
    {
        "id": "18a4c9b299d58556",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 384.5729064941406,
        "y": 84.23263549804688,
        "wires": [
            [
                "3c8c8b19f6e3ed5f"
            ]
        ]
    },
    {
        "id": "5e9c27d52a3c3cc7",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Name",
        "group": "4fe0301e.33802",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1313.4617919921875,
        "y": 67.01041412353516,
        "wires": [
            [
                "e25836a4250371f2"
            ]
        ]
    },
    {
        "id": "e25836a4250371f2",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.name = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1481.017333984375,
        "y": 67.23263549804688,
        "wires": []
    },
    {
        "id": "58d0f609903f0595",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1166.0173645019531,
        "y": 67.23263549804688,
        "wires": [
            [
                "5e9c27d52a3c3cc7"
            ]
        ]
    },
    {
        "id": "cee146333469ea0a",
        "type": "ui_dropdown",
        "z": "c65e21978fddef7f",
        "name": "configurations",
        "label": "Configurations",
        "place": "Choose a conf...",
        "group": "4fe0301e.33802",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1117.4460067749023,
        "y": 464.5977191925049,
        "wires": [
            [
                "f6d4fce76ac66e46"
            ]
        ]
    },
    {
        "id": "281bcbb046d971b5",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "init",
        "payload": "configs_SERIAL",
        "payloadType": "flow",
        "x": 744.017391204834,
        "y": 437.4548463821411,
        "wires": [
            [
                "dadf8433abe3d19d"
            ]
        ]
    },
    {
        "id": "dadf8433abe3d19d",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "options",
        "func": "var options = [];\n\n(msg.payload || []).forEach(function(opt) {\n    var tmp = {};\n    tmp[opt.name] = opt;\n    options.push(tmp);\n});\n\nmsg.options = options;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 933.0174179077148,
        "y": 416.4548511505127,
        "wires": [
            [
                "cee146333469ea0a"
            ]
        ]
    },
    {
        "id": "905e071242ac007e",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "connect",
        "func": "var options = msg.payload;\nvar error = {topic: \"SERIAL Connect\"};\nvar configs = flow.get('configs_SERIAL') || [];\n\noptions.connectorType = \"SERIAL\";\n\nif(!options.name || options.name === \"\"){\n    options.name = \"No name\";\n}\n\nif(!options.serialPort){\n    error.payload = \"Serial port not valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nif(!options.serialBaudrate){\n    error.payload = \"Select a Baud Rate\";\n    node.error(\"Error\",error);\n    return;\n}\n\nif(!options.unitId){\n    error.payload = \"Unit ID not Valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nvar index = configs.findIndex(function(conf) {\n    return conf.name == options.name;\n});\n\nif(index < 0)\n    configs.push(options);\nelse\n    configs[index] = options;\n    \nflow.set('configs_SERIAL', configs);\n\nnode.send([msg, {payload:configs, topic:\"init\"}]);",
        "outputs": "2",
        "noerr": 0,
        "x": 290.0173645019531,
        "y": 409.8992919921875,
        "wires": [
            [
                "75db6515078336c8",
                "9b199dfc23e1578f"
            ],
            [
                "dadf8433abe3d19d"
            ]
        ]
    },
    {
        "id": "e3dc942c6457ae43",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TCP_Connection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1458.0652198791504,
        "y": 334.9152021408081,
        "wires": [
            [
                "5d349227df9baafd"
            ]
        ]
    },
    {
        "id": "244a22fcda33bddd",
        "type": "change",
        "z": "c65e21978fddef7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SERIAL_Connection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1467.9221725463867,
        "y": 464.4865942001343,
        "wires": [
            [
                "f2ba967b8bf69260"
            ]
        ]
    },
    {
        "id": "653b6ff979f3f166",
        "type": "link in",
        "z": "c65e21978fddef7f",
        "name": "set_tcp",
        "links": [
            "5d349227df9baafd",
            "c1c39047ec7b94fa"
        ],
        "x": 220.46198081970215,
        "y": 84.89933586120605,
        "wires": [
            [
                "18a4c9b299d58556",
                "02286a2b15916437",
                "527094d6d17ef355",
                "a780c7e78af5bb60"
            ]
        ]
    },
    {
        "id": "5d349227df9baafd",
        "type": "link out",
        "z": "c65e21978fddef7f",
        "name": "set_tcp",
        "links": [
            "653b6ff979f3f166"
        ],
        "x": 1620.60462474823,
        "y": 335.47075176239014,
        "wires": []
    },
    {
        "id": "7965595d3dbcc338",
        "type": "link in",
        "z": "c65e21978fddef7f",
        "name": "set_serial",
        "links": [
            "f2ba967b8bf69260",
            "9b199dfc23e1578f"
        ],
        "x": 992.4618768692017,
        "y": 66.89929580688477,
        "wires": [
            [
                "58d0f609903f0595",
                "6880ed4d910beac3",
                "6775efbfdbf0b33e",
                "987db69cab9e7b1a",
                "dc0f4e63dc612add"
            ]
        ]
    },
    {
        "id": "f2ba967b8bf69260",
        "type": "link out",
        "z": "c65e21978fddef7f",
        "name": "set_serial",
        "links": [
            "7965595d3dbcc338"
        ],
        "x": 1630.175989151001,
        "y": 464.0420923233032,
        "wires": []
    },
    {
        "id": "bac9b641927655ce",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "init",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"options\":[]}",
        "payloadType": "json",
        "x": 728.9999771118164,
        "y": 505.57143783569336,
        "wires": [
            [
                "b52c01ee8c575c09",
                "192104bfc0fa2097",
                "cee146333469ea0a"
            ]
        ]
    },
    {
        "id": "b52c01ee8c575c09",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "init confs",
        "func": "flow.set(\"configs_TCP\", null);\nflow.set(\"configs_SERIAL\", null);",
        "outputs": "0",
        "noerr": 0,
        "x": 886.7143058776855,
        "y": 506.00001430511475,
        "wires": []
    },
    {
        "id": "33a77aa9e3ae31d7",
        "type": "switch",
        "z": "c65e21978fddef7f",
        "name": "check",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "init",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1277.8570747375488,
        "y": 335.14288997650146,
        "wires": [
            [
                "e3dc942c6457ae43"
            ]
        ]
    },
    {
        "id": "f6d4fce76ac66e46",
        "type": "switch",
        "z": "c65e21978fddef7f",
        "name": "check",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "init",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1277.0000076293945,
        "y": 464.42857837677,
        "wires": [
            [
                "244a22fcda33bddd"
            ]
        ]
    },
    {
        "id": "e7e4c3cd446f21d0",
        "type": "catch",
        "z": "c65e21978fddef7f",
        "name": "",
        "scope": [
            "905e071242ac007e",
            "29aa7e039dfee3f6"
        ],
        "x": 160.00000762939453,
        "y": 496.42858505249023,
        "wires": [
            [
                "88e20f07ba744350"
            ]
        ]
    },
    {
        "id": "88e20f07ba744350",
        "type": "ui_toast",
        "z": "c65e21978fddef7f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Error",
        "name": "error",
        "x": 320,
        "y": 496.4285774230957,
        "wires": []
    },
    {
        "id": "c1c39047ec7b94fa",
        "type": "link out",
        "z": "c65e21978fddef7f",
        "name": "init_tcp",
        "links": [
            "653b6ff979f3f166"
        ],
        "x": 431.42858600616455,
        "y": 330.2857265472412,
        "wires": []
    },
    {
        "id": "9b199dfc23e1578f",
        "type": "link out",
        "z": "c65e21978fddef7f",
        "name": "init_serial",
        "links": [
            "7965595d3dbcc338"
        ],
        "x": 426.42856788635254,
        "y": 453.1428499221802,
        "wires": []
    },
    {
        "id": "00738188c7a0d447",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Address",
        "group": "426c6703.2c1038",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 438.2857360839844,
        "y": 955.4285888671875,
        "wires": [
            [
                "e3f7bb5a90ca3aaf"
            ]
        ]
    },
    {
        "id": "ecdb9c5a65b3e50d",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Address",
        "group": "4a263e90.169ff",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1124.2857666015625,
        "y": 977.7142944335938,
        "wires": [
            [
                "035761518614f28a"
            ]
        ]
    },
    {
        "id": "357ce16d3fc7d6cc",
        "type": "ui_text_input",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Length",
        "group": "426c6703.2c1038",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 427.1428527832031,
        "y": 1001.1428833007812,
        "wires": [
            [
                "ddb97069ef4a5d7d"
            ]
        ]
    },
    {
        "id": "0ff5f0b53e8bbe03",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "topic": "init",
        "payload": "{\"payload\":null}",
        "payloadType": "json",
        "x": 838.5714492797852,
        "y": 307.1428499221802,
        "wires": [
            [
                "192104bfc0fa2097",
                "cee146333469ea0a"
            ]
        ]
    },
    {
        "id": "f5d2a0d1e0ae6677",
        "type": "ui_text",
        "z": "c65e21978fddef7f",
        "group": "55e082a0.9e821c",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Received Data: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 449.00000762939453,
        "y": 768.0000534057617,
        "wires": []
    },
    {
        "id": "f52866fa364e51dd",
        "type": "ui_text",
        "z": "c65e21978fddef7f",
        "group": "55e082a0.9e821c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Converted Data: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1401,
        "y": 629,
        "wires": []
    },
    {
        "id": "811d868f55901b2c",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "16To32Bit_Inverse",
        "func": "var values32bit = [];\n\nfor(var i=0;i<msg.payload.length;i++){\n    var tmp = msg.payload[i].toString(2);\n    tmp = tmp.length < 16 ? '0'.repeat(16-tmp.length) + tmp : tmp;\n    i++;\n    var tmp1 = i < msg.payload.length ? msg.payload[i].toString(2) : '0000000000000000';\n    tmp1 = tmp1.length < 16 ? '0'.repeat(16-tmp1.length) + tmp1 : tmp1;\n    var value = parseInt(tmp+tmp1,2);\n    if(flow.get('hex')) value = '0x'+value.toString(16).toUpperCase();\n        \n    values32bit.push(value);\n}\n\nmsg.payload = values32bit;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860.7695465087891,
        "y": 758.0039596557617,
        "wires": [
            [
                "1268b019918e8d7c"
            ]
        ]
    },
    {
        "id": "7b28c53b6f6c4507",
        "type": "ui_switch",
        "z": "c65e21978fddef7f",
        "name": "",
        "label": "Invert",
        "group": "426c6703.2c1038",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 415.01953887939453,
        "y": 1226.003960609436,
        "wires": [
            [
                "c2b92d0f7e3bb780"
            ]
        ]
    },
    {
        "id": "5125f0c5368720f2",
        "type": "switch",
        "z": "c65e21978fddef7f",
        "name": "Inv",
        "property": "inverse",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 671.0195350646973,
        "y": 738.0040216445923,
        "wires": [
            [
                "1bdbaedc61624f1c"
            ],
            [
                "811d868f55901b2c"
            ]
        ]
    },
    {
        "id": "c2b92d0f7e3bb780",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "save",
        "func": "flow.set(\"inverse\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 585.0195960998535,
        "y": 1226.0039138793945,
        "wires": []
    },
    {
        "id": "1269550ed2be44a6",
        "type": "inject",
        "z": "c65e21978fddef7f",
        "name": "",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "inverse",
        "payloadType": "flow",
        "x": 206.01953125,
        "y": 1226.0039463043213,
        "wires": [
            [
                "7b28c53b6f6c4507"
            ]
        ]
    },
    {
        "id": "cd46e8a59e0a0fba",
        "type": "function",
        "z": "c65e21978fddef7f",
        "name": "64Bit_Int",
        "func": "// 13.04.2019 Ben ekledim, kodu asagidan aldim\n// 16to32bit ornegine bakarak 4 registeri birlestirdim 64 Bit integer yaptim\n\nvar values64bit = [];\n\nfor(var i=0;i<msg.payload.length;i++){\n    var tmp = msg.payload[i].toString(4);\n    tmp = tmp.length < 16 ? '0'.repeat(16-tmp.length) + tmp : tmp;\n    i++;\n    var tmp1 = i < msg.payload.length ? msg.payload[i].toString(4) : '0000000000000000';\n    tmp1 = tmp1.length < 16 ? '0'.repeat(16-tmp1.length) + tmp1 : tmp1;\n    i++;\n    var tmp2 = i < msg.payload.length ? msg.payload[i].toString(4) : '0000000000000000';\n    tmp2 = tmp2.length < 16 ? '0'.repeat(16-tmp2.length) + tmp2 : tmp2;\n    i++;\n    var tmp3 = i < msg.payload.length ? msg.payload[i].toString(4) : '0000000000000000';\n    tmp3 = tmp3.length < 16 ? '0'.repeat(16-tmp3.length) + tmp3 : tmp3;\n    \n    var value = parseInt(tmp+tmp1+tmp2+tmp3,4); // 64 Bit int olarak birlestiriyor\n\n    if(flow.get('hex')) value = '0x'+value.toString(16).toUpperCase();\n        \n    values64bit.push(value);\n}\n\nmsg.payload = values64bit;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 653.8867263793945,
        "y": 796.6328649520874,
        "wires": [
            [
                "2eb82a708bd760cc"
            ]
        ]
    },
    {
        "id": "2eb82a708bd760cc",
        "type": "debug",
        "z": "c65e21978fddef7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1029.6445770263672,
        "y": 797.9023342132568,
        "wires": []
    },
    {
        "id": "b04803f4c905f759",
        "type": "debug",
        "z": "c65e21978fddef7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1279.6328125,
        "y": 826.8984375,
        "wires": []
    },
    {
        "id": "9514f563298828dd",
        "type": "toFloat",
        "z": "c65e21978fddef7f",
        "name": "",
        "toFixed": "4",
        "x": 1287.6429443359375,
        "y": 761.8571166992188,
        "wires": [
            [
                "74e97467b8ab3f9e",
                "f52866fa364e51dd"
            ]
        ]
    },
    {
        "id": "e171ef9734453a0f",
        "type": "modbus-server",
        "z": "c65e21978fddef7f",
        "name": "",
        "logEnabled": false,
        "hostname": "127.0.0.0",
        "serverPort": 10502,
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "x": 930,
        "y": 1340,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "426c6703.2c1038",
        "type": "ui_group",
        "name": "Read (0 Based)",
        "tab": "1810c2ba.d68d0d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5876d9d3.3456c8",
        "type": "modbus-client",
        "name": "MODSCAN",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "55e082a0.9e821c",
        "type": "ui_group",
        "name": "Output",
        "tab": "1810c2ba.d68d0d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4a263e90.169ff",
        "type": "ui_group",
        "name": "Write (0 Based)",
        "tab": "1810c2ba.d68d0d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b079e2a.7753f2",
        "type": "ui_group",
        "name": "TCP",
        "tab": "1810c2ba.d68d0d",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "4fe0301e.33802",
        "type": "ui_group",
        "name": "Serial",
        "tab": "1810c2ba.d68d0d",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1810c2ba.d68d0d",
        "type": "ui_tab",
        "name": "Modscan (C.Iskender 26.12.2018)",
        "icon": "dashboard",
        "order": 2
    }
]
