MQTT.json
[
    {
        "id": "1dd5936fc13de828",
        "type": "tab",
        "label": "protocols",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d4e6242fd24e06a",
        "type": "aedes broker",
        "z": "1dd5936fc13de828",
        "name": "",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 290,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8eea46838c83e77b",
        "type": "mqtt in",
        "z": "1dd5936fc13de828",
        "name": "client2",
        "topic": "test",
        "qos": "0",
        "datatype": "auto",
        "broker": "776d833a8333cf36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 860,
        "wires": [
            [
                "6a7b0503cb37c55a"
            ]
        ]
    },
    {
        "id": "df5e20d6744aa764",
        "type": "mqtt out",
        "z": "1dd5936fc13de828",
        "name": "publisher 4",
        "topic": "test",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "776d833a8333cf36",
        "x": 550,
        "y": 1080,
        "wires": []
    },
    {
        "id": "393b28b2c88a2b61",
        "type": "inject",
        "z": "1dd5936fc13de828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "node red",
        "payload": "blue",
        "payloadType": "str",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "df5e20d6744aa764"
            ]
        ]
    },
    {
        "id": "6a7b0503cb37c55a",
        "type": "debug",
        "z": "1dd5936fc13de828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 860,
        "wires": []
    },
    {
        "id": "4b7869ca3c894b80",
        "type": "mqtt out",
        "z": "1dd5936fc13de828",
        "name": "publisher 3",
        "topic": "test",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "776d833a8333cf36",
        "x": 550,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7b96715ffad1947a",
        "type": "inject",
        "z": "1dd5936fc13de828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "node red",
        "payload": "red",
        "payloadType": "str",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "4b7869ca3c894b80"
            ]
        ]
    },
    {
        "id": "bd80f3502184084d",
        "type": "mqtt out",
        "z": "1dd5936fc13de828",
        "name": "publisher 2",
        "topic": "test",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "776d833a8333cf36",
        "x": 530,
        "y": 940,
        "wires": []
    },
    {
        "id": "2813558b2c87f400",
        "type": "inject",
        "z": "1dd5936fc13de828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "node red",
        "payload": "yellow",
        "payloadType": "str",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "bd80f3502184084d"
            ]
        ]
    },
    {
        "id": "f9c24d0425ad9981",
        "type": "mqtt out",
        "z": "1dd5936fc13de828",
        "name": "publisher 1",
        "topic": "test",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "776d833a8333cf36",
        "x": 510,
        "y": 860,
        "wires": []
    },
    {
        "id": "14ac80660316fc82",
        "type": "inject",
        "z": "1dd5936fc13de828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "node red",
        "payload": "black",
        "payloadType": "str",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "f9c24d0425ad9981"
            ]
        ]
    },
    {
        "id": "2649fd96d2984b63",
        "type": "mqtt in",
        "z": "1dd5936fc13de828",
        "name": "client1",
        "topic": "topic",
        "qos": "0",
        "datatype": "auto",
        "broker": "776d833a8333cf36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 670,
        "y": 1400,
        "wires": [
            [
                "bf7dfd0fc1e02196",
                "613f928df22c6b98"
            ]
        ]
    },
    {
        "id": "bf7dfd0fc1e02196",
        "type": "debug",
        "z": "1dd5936fc13de828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1400,
        "wires": []
    },
    {
        "id": "55051c6c6ceaab38",
        "type": "mqtt out",
        "z": "1dd5936fc13de828",
        "name": "publisher odd",
        "topic": "topic",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "776d833a8333cf36",
        "x": 820,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8da46539e1ca001b",
        "type": "inject",
        "z": "1dd5936fc13de828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "node red",
        "payload": "hello iplon",
        "payloadType": "str",
        "x": 440,
        "y": 1280,
        "wires": [
            [
                "55051c6c6ceaab38"
            ]
        ]
    },
    {
        "id": "d606f0d4a6ae80a1",
        "type": "mqtt in",
        "z": "1dd5936fc13de828",
        "name": "client3",
        "topic": "topic",
        "qos": "0",
        "datatype": "auto",
        "broker": "776d833a8333cf36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 1460,
        "wires": [
            [
                "f0b551fd64863908"
            ]
        ]
    },
    {
        "id": "f0b551fd64863908",
        "type": "debug",
        "z": "1dd5936fc13de828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1460,
        "wires": []
    },
    {
        "id": "de392c6db86abfee",
        "type": "mqtt in",
        "z": "1dd5936fc13de828",
        "name": "client5",
        "topic": "topic",
        "qos": "0",
        "datatype": "auto",
        "broker": "776d833a8333cf36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 1520,
        "wires": [
            [
                "ce005644895eb3ea"
            ]
        ]
    },
    {
        "id": "ce005644895eb3ea",
        "type": "debug",
        "z": "1dd5936fc13de828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1520,
        "wires": []
    },
    {
        "id": "79432177dc65cd50",
        "type": "mqtt in",
        "z": "1dd5936fc13de828",
        "name": "client7",
        "topic": "topic",
        "qos": "0",
        "datatype": "auto",
        "broker": "776d833a8333cf36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 1600,
        "wires": [
            [
                "3a038bea951324f5"
            ]
        ]
    },
    {
        "id": "3a038bea951324f5",
        "type": "debug",
        "z": "1dd5936fc13de828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1600,
        "wires": []
    },
    {
        "id": "23e83146a89494af",
        "type": "mqtt in",
        "z": "1dd5936fc13de828",
        "name": "client9",
        "topic": "topic",
        "qos": "0",
        "datatype": "auto",
        "broker": "776d833a8333cf36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 1660,
        "wires": [
            [
                "4880f594825e93f4"
            ]
        ]
    },
    {
        "id": "4880f594825e93f4",
        "type": "debug",
        "z": "1dd5936fc13de828",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1660,
        "wires": []
    },
    {
        "id": "613f928df22c6b98",
        "type": "ui_text",
        "z": "1dd5936fc13de828",
        "group": "f0f94831572aed61",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "message",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 1320,
        "wires": []
    },
    {
        "id": "812c3f21f04e1945",
        "type": "inject",
        "z": "1dd5936fc13de828",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "payload",
        "payloadType": "msg",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "6a4fcd1a42d0424c"
            ]
        ]
    },
    {
        "id": "560942461d5ed284",
        "type": "mqtt out",
        "z": "1dd5936fc13de828",
        "name": "",
        "topic": "hello",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "776d833a8333cf36",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "2b96e3d8331430bd",
        "type": "mqtt in",
        "z": "1dd5936fc13de828",
        "name": "",
        "topic": "hello",
        "qos": "2",
        "datatype": "auto",
        "broker": "776d833a8333cf36",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 560,
        "wires": [
            [
                "2f3a701c6c956601"
            ]
        ]
    },
    {
        "id": "2f3a701c6c956601",
        "type": "debug",
        "z": "1dd5936fc13de828",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "6a4fcd1a42d0424c",
        "type": "random",
        "z": "1dd5936fc13de828",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "0cfadb24ee89e007"
            ]
        ]
    },
    {
        "id": "0cfadb24ee89e007",
        "type": "filter",
        "z": "1dd5936fc13de828",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "asArray": false,
        "itemProperty": "payload",
        "itemPropertyType": "item",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "num",
                "output": 1
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 910,
        "y": 480,
        "wires": [
            [
                "560942461d5ed284"
            ]
        ]
    },
    {
        "id": "776d833a8333cf36",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1884",
        "clientid": "client9",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "temperature",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "max",
        "birthMsg": {},
        "closeTopic": "humidity",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "of",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f0f94831572aed61",
        "type": "ui_group",
        "name": "sqlite",
        "tab": "3c839faf1afccb7e",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "3c839faf1afccb7e",
        "type": "ui_tab",
        "name": "IPLON",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]