OPCUA.json
[
    {
        "id": "209dda4a831da887",
        "type": "tab",
        "label": "sourcetimestamp_write_csv",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aea0f6b90c9e8c33",
        "type": "inject",
        "z": "209dda4a831da887",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "36afd6ba22e2758f"
            ]
        ]
    },
    {
        "id": "36afd6ba22e2758f",
        "type": "change",
        "z": "209dda4a831da887",
        "name": "B11_INV1_ON",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=2;s=B11_INV1_ON",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "datatype",
                "pt": "msg",
                "to": "int64",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "12e564b1079aa8ab"
            ]
        ]
    },
    {
        "id": "12e564b1079aa8ab",
        "type": "OpcUa-Client",
        "z": "209dda4a831da887",
        "endpoint": "3a27b9acba8ce163",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "875e7d8ed84e71a7"
            ]
        ]
    },
    {
        "id": "09dba3b59367123d",
        "type": "debug",
        "z": "209dda4a831da887",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "39b83b49d0bb3ca7",
        "type": "file",
        "z": "209dda4a831da887",
        "name": "",
        "filename": "C:\\Users\\HP\\rangini.py",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "197b45edcccb2b57"
            ]
        ]
    },
    {
        "id": "875e7d8ed84e71a7",
        "type": "template",
        "z": "209dda4a831da887",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "mustache",
        "template": "import time\nimport csv\nimport pandas as pd\nimport csv\nimport xlsxwriter\nimport pandas as pd\n\ni =0\nsts_list = []\n\nsts = (\"\"\"{{sourceTimestamp}}\"\"\")\nserver_ts  = (\"\"\"{{serverTimestamp}}\"\"\")\nvalue = (\"\"\"{{payload}}\"\"\")\nsts_list.append(sts)\n#print(\"Value : \",value,\"--------SourceTimestamp : \",sts,\"--------ServerTimestamp : \", server_ts)\nprint(value)\nprint(sts)",
        "output": "str",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "39b83b49d0bb3ca7"
            ]
        ]
    },
    {
        "id": "197b45edcccb2b57",
        "type": "exec",
        "z": "209dda4a831da887",
        "command": "python3 rangini.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "09dba3b59367123d",
                "1f57516f35d1c6e5",
                "54e52e0412acfc8d"
            ],
            [
                "09dba3b59367123d"
            ],
            [
                "09dba3b59367123d"
            ]
        ]
    },
    {
        "id": "1f57516f35d1c6e5",
        "type": "file",
        "z": "209dda4a831da887",
        "name": "",
        "filename": "B11_INV1_ON_OFF_STATUS_1.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "54e52e0412acfc8d",
        "type": "file",
        "z": "209dda4a831da887",
        "name": "",
        "filename": "B11_INV1_ON_OFF_STATUS_1.xls",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b73b37f1683113c0",
        "type": "inject",
        "z": "209dda4a831da887",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "3c10aa19a6747c17"
            ]
        ]
    },
    {
        "id": "3c10aa19a6747c17",
        "type": "change",
        "z": "209dda4a831da887",
        "name": "B11_INV1_PAC",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=2;s=B11_IO_ITF_OTI",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "datatype",
                "pt": "msg",
                "to": "int64",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "7c09b2b7fba53465"
            ]
        ]
    },
    {
        "id": "7c09b2b7fba53465",
        "type": "OpcUa-Client",
        "z": "209dda4a831da887",
        "endpoint": "3a27b9acba8ce163",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "ada9309e96e112a5"
            ]
        ]
    },
    {
        "id": "ada9309e96e112a5",
        "type": "debug",
        "z": "209dda4a831da887",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "3a27b9acba8ce163",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://148.66.133.102:4842/iSolar/scaback_csv/",
        "secpol": "None",
        "secmode": "None",
        "login": false
    }
]