SDS API.json
[
    {
        "id": "fb38595.4c5b428",
        "type": "http request",
        "z": "57d5c984.a0e7b",
        "name": "solarlog",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://auth.enerest.world/auth/realms/quotaapi/protocol/openid-connect/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "395ea24f.7bee0e"
            ]
        ]
    },
    {
        "id": "62853da9.a9c70c",
        "type": "function",
        "z": "57d5c984.a0e7b",
        "name": "Build header and payload",
        "func": "msg.headers = {\n  'Content-Type' : 'application/x-www-form-urlencoded'\n};\n\n// client backend-service\n/*\nmsg.payload = {'grant_type':'password', \n               'client_id':'backend-service',\n               'username':'alice',\n               'password':'alice',\n               'client_secret':'secret'\n              };\n*/\n\nmsg.payload = {'grant_type':'client_credentials', \n               'client_id':'650fb07e-8a18-4907-a6c4-e4f432f52cb2',\n               'client_secret':'b7f327e7-60de-4cb5-909a-ee916445e143'\n              };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "fb38595.4c5b428"
            ]
        ]
    },
    {
        "id": "dc69b490.8d60d",
        "type": "inject",
        "z": "57d5c984.a0e7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "62853da9.a9c70c"
            ]
        ]
    },
    {
        "id": "88563b76.bca528",
        "type": "comment",
        "z": "57d5c984.a0e7b",
        "name": "1) Request bearer access token",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "20f9ff47.c04818",
        "type": "debug",
        "z": "57d5c984.a0e7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "395ea24f.7bee0e",
        "type": "json",
        "z": "57d5c984.a0e7b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "4df8036f.eca4cc"
            ]
        ]
    },
    {
        "id": "4df8036f.eca4cc",
        "type": "function",
        "z": "57d5c984.a0e7b",
        "name": "set_bearer_token",
        "func": "flow.set(\"bearer_token\", \"Bearer \" + msg.payload.access_token);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 160,
        "wires": [
            [
                "20f9ff47.c04818"
            ]
        ]
    },
    {
        "id": "a46df675.a19d",
        "type": "comment",
        "z": "57d5c984.a0e7b",
        "name": "Bearer access token saved as flow variable",
        "info": "",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "88096981.88df6",
        "type": "comment",
        "z": "57d5c984.a0e7b",
        "name": "2) Request protected data",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "88142578.39a2c",
        "type": "function",
        "z": "57d5c984.a0e7b",
        "name": "Build header and payload",
        "func": "msg.headers = {\n  'Authorization' : flow.get(\"bearer_token\")\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "bfde2608.8101b"
            ]
        ]
    },
    {
        "id": "1abbf619.6524ca",
        "type": "inject",
        "z": "57d5c984.a0e7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "88142578.39a2c"
            ]
        ]
    },
    {
        "id": "bfde2608.8101b",
        "type": "http request",
        "z": "57d5c984.a0e7b",
        "name": "https://WEB_API-SERVICE/articles",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.enerest.world/api/v1/iplon/administration/plant/622a8cd2-e3d1-11eb-a4c6-960000a1d181",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 660,
        "y": 360,
        "wires": [
            [
                "a8295408.7a4ea8"
            ]
        ]
    },
    {
        "id": "6023edcb.a62c0c",
        "type": "debug",
        "z": "57d5c984.a0e7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "a8295408.7a4ea8",
        "type": "json",
        "z": "57d5c984.a0e7b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "6023edcb.a62c0c"
            ]
        ]
    },
    {
        "id": "524b5cfcc1c1129b",
        "type": "function",
        "z": "57d5c984.a0e7b",
        "name": "Build header and payload",
        "func": "msg.headers = {\n  'Authorization' : flow.get(\"bearer_token\")\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "1718d97f389ae41a"
            ]
        ]
    },
    {
        "id": "c6fcb111a05d4d56",
        "type": "inject",
        "z": "57d5c984.a0e7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "524b5cfcc1c1129b"
            ]
        ]
    },
    {
        "id": "1718d97f389ae41a",
        "type": "http request",
        "z": "57d5c984.a0e7b",
        "name": "https://WEB_API-SERVICE/articles",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.enerest.world/api/v1/iplon/visualization/plant/622a8cd2-e3d1-11eb-a4c6-960000a1d181/channels?channelNames[]=ProdPac&dateFrom=today&dateTo=today",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "45822538e7721beb"
            ]
        ]
    },
    {
        "id": "3836ac37f05ea7b1",
        "type": "debug",
        "z": "57d5c984.a0e7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "45822538e7721beb",
        "type": "json",
        "z": "57d5c984.a0e7b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 460,
        "wires": [
            [
                "3836ac37f05ea7b1"
            ]
        ]
    }
]
