sircilla ftp
[
    {
        "id": "234ca3c593fa3fa0",
        "type": "tab",
        "label": "sircilla ftp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c88846a58ffd5192",
        "type": "influxdb in",
        "z": "234ca3c593fa3fa0",
        "influxdb": "d4100b3ade9e64bf",
        "name": "test",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "9afe71fecb48e1f1"
            ]
        ]
    },
    {
        "id": "4b81b401eb99a402",
        "type": "inject",
        "z": "234ca3c593fa3fa0",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "31be69e558d68b6e"
            ]
        ]
    },
    {
        "id": "31be69e558d68b6e",
        "type": "function",
        "z": "234ca3c593fa3fa0",
        "name": "msg.query",
        "func": "\n var $today = new Date();\nvar d = new Date($today);\nd.setDate($today.getDate() - 1);\nd.setHours(18,30,0,0);\n var tstart=d.getTime();\n\n\n var tend=msg.payload;\n var q = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV1' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q1 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV2' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q2 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV3' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q3 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV4' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q4 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV1' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q5 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV2' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q6 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV3' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q7 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV4' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q8 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV1' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q9 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV2' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q10 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV3' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q11 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV4' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q12 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV1' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q13 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV2' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q14 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV3' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q15 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV4' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q16 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV1' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q17 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV2' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q18 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV3' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q19 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV4' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q20 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV1' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q21 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV2' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q22 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV3' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q23 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV4' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q24 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV1' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q25 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV2' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q26 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV3' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q27 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B01_INV4' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q28 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV1' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q29 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV2' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q30 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV3' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q31 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B02_INV4' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q32 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV1' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q33 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV2' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q34 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV3' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q35 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B03_INV4' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q36 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV1' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q37 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV2' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q38 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV3' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q39 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B04_INV4' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q40 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV1' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q41 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV2' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q42 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV3' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q43 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B05_INV4' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q44 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV1' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q45 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV2' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q46 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV3' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q47 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'B06_INV4' AND f = 'PDC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q48 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM01' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q49 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM01' AND f = 'PR') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q50 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM01' AND f = 'CUF') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\"; \n var q51 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM02' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q52 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM02' AND f = 'PR') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q53 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM02' AND f = 'CUF') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\"; \n var q54 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM03' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q55 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM03' AND f = 'PR') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q56 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM03' AND f = 'CUF') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\"; \n var q57 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM04' AND f = 'PAC') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q58 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM04' AND f = 'PR') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\";\n var q59 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_EM04' AND f = 'CUF') AND time >= \" + tstart + \"ms  and time <= \" + tend + \"ms  GROUP BY time(15m), d, f fill(null);\"; \n var q60 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_WS' AND f = 'SOLAR_RADIATION') AND time >= \" + tstart + \"ms and time <= \" +tend + \"ms GROUP BY time(15m), d,f fill(null);\";\n var q61 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_WS' AND f = 'SOLAR_RADIATION_TILT') AND time >= \" + tstart + \"ms and time <= \" +tend + \"ms GROUP BY time(15m),d,f fill(null);\";\n var q62 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_WS' AND f = 'AIR_TEMP') AND time >= \" + tstart + \"ms and time <= \" +tend + \"ms GROUP BY time(15m),d, f fill(null);\";\n var q63 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_WS' AND f = 'MODULE_TEMP') AND time >= \" + tstart + \"ms and time <= \" +tend + \"ms GROUP BY time(15m),d, f fill(null);\";\n var q64 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_WS' AND f = 'WIND_SPEED') AND time >= \" + tstart + \"ms and time <= \" +tend + \"ms GROUP BY time(15m),d,f fill(null);\";\n var q65 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_WS' AND f = 'WIND_DIRECTION') AND time >= \" + tstart + \"ms and time <= \" +tend + \"ms GROUP BY time(15m), d,f fill(null);\";\n var q66 = \"SELECT mean(value) FROM scaback_csv WHERE (d = 'CR_WS' AND f = 'HUMDITIY') AND time >= \" + tstart + \"ms and time <= \" +tend + \"ms GROUP BY time(15m), d,f fill(null);\"\n\nmsg.query = q+q1+q2+q3+q4+q5+q6+q7+q8+q9+q10+q11+q12+q13+q14+q15+q16+q17+q18+q19+q20+q21+q22+q23+q24+q25+q26+q27+q28+q29+q30+q31+q32+q33+q34+q35+q36+q37+q38+q39+q40+q41+q42+q43+q44+q45+q46+q47+q48+q49+q50+q51+q52+q53+q54+q55+q56+q57+q58+q59+q60+q61+q62+q63+q64+q65+q66\n//msg.payload=tstart\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "c88846a58ffd5192"
            ]
        ]
    },
    {
        "id": "65d97552f1cfbb81",
        "type": "csv",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": true,
        "x": 810,
        "y": 400,
        "wires": [
            [
                "2e736bbb985e87ab"
            ]
        ]
    },
    {
        "id": "ede947f085bb1215",
        "type": "inject",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "props": [
            {
                "p": "payload.data",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "1020",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "db554677b1b3d41a"
            ]
        ]
    },
    {
        "id": "538a36615d36a138",
        "type": "debug",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "29e9adc3182bc3f5",
        "type": "comment",
        "z": "234ca3c593fa3fa0",
        "name": "SFTP push",
        "info": "",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "76cf506330570e63",
        "type": "sftp in",
        "z": "234ca3c593fa3fa0",
        "name": "pv india",
        "sftp": "",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "workdir": "/home/iplon/tmp/sirusilla",
        "x": 680,
        "y": 580,
        "wires": [
            [
                "538a36615d36a138"
            ]
        ]
    },
    {
        "id": "d88fdc2fb3032fd5",
        "type": "debug",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "2e736bbb985e87ab",
        "type": "function",
        "z": "234ca3c593fa3fa0",
        "name": "todays date",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\n\nvar c =today1;\ncontext.set('c',c)\n\nvar path = \"/usr/src/node-red/ftp/sircilla_\"+c+\".csv\"\nmsg.filename = path\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 400,
        "wires": [
            [
                "2b59112f08cbc406"
            ]
        ]
    },
    {
        "id": "2b59112f08cbc406",
        "type": "file",
        "z": "234ca3c593fa3fa0",
        "name": "test",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1150,
        "y": 400,
        "wires": [
            [
                "d88fdc2fb3032fd5"
            ]
        ]
    },
    {
        "id": "2f62c9c151a9b8d9",
        "type": "comment",
        "z": "234ca3c593fa3fa0",
        "name": "sirucilla csv save",
        "info": "",
        "x": 390,
        "y": 351,
        "wires": []
    },
    {
        "id": "91b775d021c73005",
        "type": "debug",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "efdcff8a14a2e7c5",
        "type": "ftp in",
        "z": "234ca3c593fa3fa0",
        "ftp": "9e23069abe8f4a6d",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "name": "",
        "x": 640,
        "y": 680,
        "wires": [
            [
                "91b775d021c73005"
            ]
        ]
    },
    {
        "id": "db554677b1b3d41a",
        "type": "function",
        "z": "234ca3c593fa3fa0",
        "name": "filename",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\n\nvar c =today1;\ncontext.set('c',c)\n\n\nmsg.payload.data = \"/usr/src/node-red/ftp/sircilla_\"+c+\".csv\"\n//msg.payload.filename=\"/ftp/solarlog/archive\"\nmsg.payload.filename=\"sircilla_\"+c+\".csv\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "76cf506330570e63"
            ]
        ]
    },
    {
        "id": "3702ede242922be2",
        "type": "function",
        "z": "234ca3c593fa3fa0",
        "name": "filename",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\n\nvar c =today1;\ncontext.set('c',c)\n\n\nmsg.localFilename = \"/usr/src/node-red/ftp/sircilla_\"+c+\".csv\"\n//msg.payload.filename=\"/ftp/solarlog/archive\"\nmsg.filename=\"sircilla_\"+c+\".csv\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 680,
        "wires": [
            [
                "efdcff8a14a2e7c5"
            ]
        ]
    },
    {
        "id": "4297c65ed981a6f0",
        "type": "inject",
        "z": "234ca3c593fa3fa0",
        "name": "sircilla",
        "props": [
            {
                "p": "payload.data",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "1020",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 680,
        "wires": [
            [
                "3702ede242922be2"
            ]
        ]
    },
    {
        "id": "c7c08252c54c2367",
        "type": "file in",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "filename": "/usr/src/node-red/ftp/sircilla_26_05_2022.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 520,
        "y": 820,
        "wires": [
            [
                "81406db3b1f31223"
            ]
        ]
    },
    {
        "id": "8f14ed2333be9412",
        "type": "inject",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "c7c08252c54c2367"
            ]
        ]
    },
    {
        "id": "d6cb87ec63486a85",
        "type": "debug",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 840,
        "wires": []
    },
    {
        "id": "81406db3b1f31223",
        "type": "csv",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": true,
        "x": 770,
        "y": 820,
        "wires": [
            [
                "d6cb87ec63486a85"
            ]
        ]
    },
    {
        "id": "c9ad5c1d5442ccfc",
        "type": "function",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "func": "\nlet plantObj\n\nplantObj = []\n\n//for (var j = 0; j < msg.payload.length;j++)\n  for (var i = 0; i < msg.payload[0].length;i++)\n\n\n{\n//  new Date(msg.payload[i].time).getTime()\nvar dateUTC = new Date(msg.payload[0][i].time).toLocaleString(\"en-US\", {timeZone: 'Asia/Kolkata'})\n//var GHI_\"W/m2\"=\"\"NaN\"\";\n//var GTI_\"W/m2\"=\"\"NaN\"\"\n\n\n//if((msg.payload[j])!=0)\n\nvar obj=\n{\nTIME:dateUTC,\nB01_INV1_PAC_KW:msg.payload[0][i].mean,\nB01_INV2_PAC_KW:msg.payload[1][i].mean,\nB01_INV3_PAC_KW:msg.payload[2][i].mean,\n B01_INV4_PAC_KW:msg.payload[3][i].mean,\n B02_INV1_PAC_KW:\"NaN\",//msg.payload[4][i].mean,\n B02_INV2_PAC_KW:\"NaN\",//msg.payload[5][i].mean,\n B02_INV3_PAC_KW:\"NaN\",//msg.payload[6][i].mean,\n B02_INV4_PAC_KW:\"NaN\",//msg.payload[7][i].mean,\n B03_INV1_PAC_KW:msg.payload[8][i].mean,\n B03_INV2_PAC_KW:msg.payload[9][i].mean,\n B03_INV3_PAC_KW:msg.payload[10][i].mean,\n B03_INV4_PAC_KW:msg.payload[11][i].mean,\n B04_INV1_PAC_KW:msg.payload[12][i].mean,\n B04_INV2_PAC_KW:msg.payload[13][i].mean,\n B04_INV3_PAC_KW:msg.payload[14][i].mean,\n B04_INV4_PAC_KW:msg.payload[15][i].mean,\n B05_INV1_PAC_KW:msg.payload[16][i].mean,\n B05_INV2_PAC_KW:msg.payload[17][i].mean,\n B05_INV3_PAC_KW:msg.payload[18][i].mean,\n B05_INV4_PAC_KW:msg.payload[19][i].mean,\n B06_INV1_PAC_KW:msg.payload[20][i].mean,\n B06_INV2_PAC_KW:msg.payload[21][i].mean,\n B06_INV3_PAC_KW:msg.payload[22][i].mean,\n B06_INV4_PAC_KW:msg.payload[23][i].mean,\n B01_INV1_PDC_KW:msg.payload[24][i].mean,\n B01_INV2_PDC_KW:msg.payload[25][i].mean,\n B01_INV3_PDC_KW:msg.payload[26][i].mean,\n B01_INV4_PDC_KW:msg.payload[27][i].mean,\n B02_INV1_PDC_KW:\"NaN\",//msg.payload[28][i].mean,\n B02_INV2_PDC_KW:\"NaN\",//msg.payload[29][i].mean,\n B02_INV3_PDC_KW:\"NaN\",//msg.payload[30][i].mean,\n B02_INV4_PDC_KW:\"NaN\",//msg.payload[31][i].mean,\n B03_INV1_PDC_KW:msg.payload[32][i].mean,\n B03_INV2_PDC_KW:msg.payload[33][i].mean,\n B03_INV3_PDC_KW:msg.payload[34][i].mean,\n B03_INV4_PDC_KW:msg.payload[35][i].mean,\n B04_INV1_PDC_KW:msg.payload[36][i].mean,\n B04_INV2_PDC_KW:msg.payload[37][i].mean,\n B04_INV3_PDC_KW:msg.payload[38][i].mean,\n B04_INV4_PDC_KW:msg.payload[39][i].mean,\n B05_INV1_PDC_KW:msg.payload[40][i].mean,\n B05_INV2_PDC_KW:msg.payload[41][i].mean,\n B05_INV3_PDC_KW:msg.payload[42][i].mean,\n B05_INV4_PDC_KW:msg.payload[43][i].mean,\n B06_INV1_PDC_KW:msg.payload[44][i].mean,\n B06_INV2_PDC_KW:msg.payload[45][i].mean,\n B06_INV3_PDC_KW:msg.payload[46][i].mean,\n B06_INV4_PDC_KW:msg.payload[47][i].mean,\n PLANT_ACTIVEPOWER_KW:(msg.payload[48][i].mean)*1000,\n PR:msg.payload[49][i].mean,\n CUF:msg.payload[50][i].mean,\n\"GHI_W/m2\":\"NaN\",//msg.payload[60][i].mea\n \"GTI_W/m2\":\"NaN\",\n AIR_TEMP_ºC :\"NaN\",\nMODULE_TEMP_ºC :\"NaN\",\nWIND_SPEED_Kmph:\"NaN\",\nWIND_DIRECTION_º:\"NaN\",\n \"HUMITIDY_%\":\"NaN\"\n \n\n\n//GHI:msg.payload[60][i].mean,\n//GTI:msg.payload[61][i].mean,\n//AIR_TEMP:msg.payload[62][i].mean,\n//MODULE_TEMP:msg.payload[63][i].mean,\n//WIND_SPEED:msg.payload[64][i].mean,\n//WIND_DIRECTION:msg.payload[65][i].mean\n//HUMDITIY:msg.payload[66][i].mean\n\n\n\n\n\n}\n\n    \n\n\n plantObj.push(obj)\n}\n\nmsg.payload = plantObj\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9afe71fecb48e1f1",
        "type": "function",
        "z": "234ca3c593fa3fa0",
        "name": "",
        "func": "let array = [];\nlet array1 = [];\nvar value = msg.payload.length;\nlet plantObj\n\nplantObj = []\n\nvar j=0;\n\n\nfor(var i=0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].length == 0)\n   {\n       for(var k=0;k<msg.payload[0].length;k++)\n       {\n           msg.payload[i][k] = 0;\n           \n         \n       }\n   }\n}\n\nfor (i = 0; i < msg.payload[0].length;i++)\n{\nvar dateIST =new Date(msg.payload[0][i].time).toLocaleString(\"en-US\", {timeZone: 'Asia/Kolkata'});\n\nvar obj=\n{\nTIME:dateIST,\nB01_INV1_PAC_KW:msg.payload[0][i].mean,\nB01_INV2_PAC_KW:msg.payload[1][i].mean,\nB01_INV3_PAC_KW:msg.payload[2][i].mean,\n B01_INV4_PAC_KW:msg.payload[3][i].mean,\n B02_INV1_PAC_KW:msg.payload[4][i].mean,\n B02_INV2_PAC_KW:msg.payload[5][i].mean,\n B02_INV3_PAC_KW:msg.payload[6][i].mean,\n B02_INV4_PAC_KW:msg.payload[7][i].mean,\n B03_INV1_PAC_KW:msg.payload[8][i].mean,\n B03_INV2_PAC_KW:msg.payload[9][i].mean,\n B03_INV3_PAC_KW:msg.payload[10][i].mean,\n B03_INV4_PAC_KW:msg.payload[11][i].mean,\n B04_INV1_PAC_KW:msg.payload[12][i].mean,\n B04_INV2_PAC_KW:msg.payload[13][i].mean,\n B04_INV3_PAC_KW:msg.payload[14][i].mean,\n B04_INV4_PAC_KW:msg.payload[15][i].mean,\n B05_INV1_PAC_KW:msg.payload[16][i].mean,\n B05_INV2_PAC_KW:msg.payload[17][i].mean,\n B05_INV3_PAC_KW:msg.payload[18][i].mean,\n B05_INV4_PAC_KW:msg.payload[19][i].mean,\n B06_INV1_PAC_KW:msg.payload[20][i].mean,\n B06_INV2_PAC_KW:msg.payload[21][i].mean,\n B06_INV3_PAC_KW:msg.payload[22][i].mean,\n B06_INV4_PAC_KW:msg.payload[23][i].mean,\n B01_INV1_PDC_KW:msg.payload[24][i].mean,\n B01_INV2_PDC_KW:msg.payload[25][i].mean,\n B01_INV3_PDC_KW:msg.payload[26][i].mean,\n B01_INV4_PDC_KW:msg.payload[27][i].mean,\n B02_INV1_PDC_KW:msg.payload[28][i].mean,\n B02_INV2_PDC_KW:msg.payload[29][i].mean,\n B02_INV3_PDC_KW:msg.payload[30][i].mean,\n B02_INV4_PDC_KW:msg.payload[31][i].mean,\n B03_INV1_PDC_KW:msg.payload[32][i].mean,\n B03_INV2_PDC_KW:msg.payload[33][i].mean,\n B03_INV3_PDC_KW:msg.payload[34][i].mean,\n B03_INV4_PDC_KW:msg.payload[35][i].mean,\n B04_INV1_PDC_KW:msg.payload[36][i].mean,\n B04_INV2_PDC_KW:msg.payload[37][i].mean,\n B04_INV3_PDC_KW:msg.payload[38][i].mean,\n B04_INV4_PDC_KW:msg.payload[39][i].mean,\n B05_INV1_PDC_KW:msg.payload[40][i].mean,\n B05_INV2_PDC_KW:msg.payload[41][i].mean,\n B05_INV3_PDC_KW:msg.payload[42][i].mean,\n B05_INV4_PDC_KW:msg.payload[43][i].mean,\n B06_INV1_PDC_KW:msg.payload[44][i].mean,\n B06_INV2_PDC_KW:msg.payload[45][i].mean,\n B06_INV3_PDC_KW:msg.payload[46][i].mean,\n B06_INV4_PDC_KW:msg.payload[47][i].mean,\n PLANT_ACTIVEPOWER_KW:(msg.payload[48][i].mean)*1000,\n PR:msg.payload[49][i].mean,\n CUF:msg.payload[50][i].mean,\n\"GHI_Wm2\":msg.payload[60][i].mean,\n\"GTI_Wm2\":msg.payload[61][i].mean,\nAIR_TEMP_ºC:msg.payload[62][i].mean,\nMODULE_TEMP_ºC:msg.payload[63][i].mean,\nWIND_SPEED_Kmph:msg.payload[64][i].mean,\nWIND_DIRECTION_º:msg.payload[65][i].mean,\n\"HUMITIDY_%\":msg.payload[66][i].mean\n}\nplantObj.push(obj)\n}\n\nmsg.payload = plantObj\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 400,
        "wires": [
            [
                "65d97552f1cfbb81"
            ]
        ]
    },
    {
        "id": "d4100b3ade9e64bf",
        "type": "influxdb",
        "hostname": "192.168.64.84",
        "port": "8086",
        "protocol": "http",
        "database": "iSolar",
        "name": "",
        "usetls": false,
        "tls": "c563e3c6072c32be",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9e23069abe8f4a6d",
        "type": "ftp",
        "host": "104.211.208.200",
        "port": "",
        "secureOptions": "",
        "user": "Siricilla",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": ""
    },
    {
        "id": "c563e3c6072c32be",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]
