SMA Yasdimqtt
[
    {
        "id": "f41e9c287899869f",
        "type": "mqtt in",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "topic": "solar/inverter/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "efdbf9fee9037cee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "d7f3bc125817417d",
                "7227f87a69614dda",
                "89702165c41dd266"
            ]
        ]
    },
    {
        "id": "d7f3bc125817417d",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "func": "let array = [];\nlet array1 = [];\nlet plantObj\n\nplantObj = []\n\n\n\n\n       var obj =\n        \n       {\n        Time: new Date((msg.payload.time) * 1000).toLocaleString(\"en-US\", { timeZone: 'Asia/Kolkata' }),\n        A_Ms_Amp: msg.payload.values[\"A.Ms.Amp\"],\n        A1_Ms_Amp: msg.payload.values[\"A1.Ms.Amp\"],\n        B_Ms_Amp: msg.payload.values[\"B.Ms.Amp\"],\n        B1_Ms_Amp: msg.payload.values[\"B1.Ms.Amp\"],\n        A_Ms_Vol: msg.payload.values[\"A.Ms.Vol\"],\n        B_Ms_Vol: msg.payload.values[\"B.Ms.Vol\"],\n        A_Ms_Watt: msg.payload.values[\"A.Ms.Watt\"],\n        B_Ms_Watt: msg.payload.values[\"B.Ms.Watt\"],\n        Pac: msg.payload.values.Pac,\n        GridMs_W_phsA: msg.payload.values[\"GridMs.W.phsA\"],\n        GridMs_W_phsB: msg.payload.values[\"GridMs.W.phsB\"],\n        GridMs_W_phsC: msg.payload.values[\"GridMs.W.phsC\"],\n        GridMs_PhV_phsA: msg.payload.values[\"GridMs.PhV.phsA\"],\n        GridMs_PhV_phsB: msg.payload.values[\"GridMs.PhV.phsB\"],\n        GridMs_PhV_phsC: msg.payload.values[\"GridMs.PhV.phsC\"],\n        GridMs_A_phsA: msg.payload.values[\"GridMs.A.phsA\"],\n        GridMs_A_phsB: msg.payload.values[\"GridMs.A.phsB\"],\n        GridMs_A_phsC: msg.payload.values[\"GridMs.A.phsC\"],\n        GridMs_Hz: msg.payload.values[\"GridMs.Hz\"],\n        GridMs_TotVAr: msg.payload.values[\"GridMs.TotVAr\"],\n        GridMs_VAr_phsA: msg.payload.values[\"GridMs.VAr.phsA\"],\n        GridMs_VAr_phsB: msg.payload.values[\"GridMs.VAr.phsB\"],\n        GridMs_VAr_phsC: msg.payload.values[\"GridMs.VAr.phsC\"],\n        GridMs_TotVA: msg.payload.values[\"GridMs.TotVA\"],\n        GridMs_VA_phsA: msg.payload.values[\"GridMs.VA.phsA\"],\n        GridMs_VA_phsB: msg.payload.values[\"GridMs.VA.phsB\"],\n        GridMs_VA_phsC: msg.payload.values[\"GridMs.VA.phsC\"],\n        GridMs_TotPF: msg.payload.values[\"GridMs.TotPF\"],\n        Op_Dmd_WCtl: msg.payload.values[\"Op.Dmd.WCtl\"],\n        Op_Dmd_VArCtl: msg.payload.values[\"Op.Dmd.VArCtl\"],\n        Op_Dmd_PFCtl: msg.payload.values[\"Op.Dmd.PFCtl\"],\n        Serial_Number: msg.payload.values[\"Serial Number\"],\n        E_Total: msg.payload.values[\"E-Total\"],\n        GM_TotWhOut: msg.payload.values[\"GM.TotWhOut\"],\n        Op_EvtCntUsr: msg.payload.values[\"Op.EvtCntUsr\"],\n        Mt_TotTmh: msg.payload.values[\"Mt.TotTmh\"],\n        Mt_TotOpTmh: msg.payload.values[\"Mt.TotOpTmh\"],\n        Op_EvtNo: msg.payload.values[\"Op.EvtNo\"],\n        Op_EvtNoDvlp: msg.payload.values[\"Op.EvtNoDvlp\"],\n        Op_TmsRmg: msg.payload.values[\"Op.TmsRmg\"],\n        Mode: msg.payload.values.Mode,\n        Error: msg.payload.values.Error,\n        Op_Health: msg.payload.values[\"Op.Health\"],\n        Op_Prio: msg.payload.values[\"Op.Prio\"],\n        Op_GriSwStt: msg.payload.values[\"Op.GriSwStt\"],\n        Inv_TmpLimStt: msg.payload.values[\"Inv.TmpLimStt\"],\n        InvCtl_Stt: msg.payload.values[\"InvCtl.Stt\"],\n        PlntCtl_Stt: msg.payload.values[\"PlntCtl.Stt\"],\n        PCM_DigInStt: msg.payload.values[\"PCM-DigInStt\"],\n        Op_Dmd_PFExtCtl: msg.payload.values[\"Op.Dmd.PFExtCtl\"]\n\n           \n}\n\nplantObj.push(obj)\n\n\nmsg.payload = plantObj\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "7c693463eab8976e"
            ]
        ]
    },
    {
        "id": "0f21182d46424e40",
        "type": "debug",
        "z": "fc42e39d94bf81f5",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c693463eab8976e",
        "type": "csv",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "395ac08096104429"
            ]
        ]
    },
    {
        "id": "395ac08096104429",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "todays date",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\n\nvar c =today1;\ncontext.set('c',c)\n\nvar path = \"/home/iplon/yasdi2mqtt/ftp/yasdi_\"+c+\".csv\"\nmsg.filename = path\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "93741b6a02893f83"
            ]
        ]
    },
    {
        "id": "93741b6a02893f83",
        "type": "file",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 900,
        "y": 180,
        "wires": [
            [
                "0f21182d46424e40"
            ]
        ]
    },
    {
        "id": "e1d06742c11a0794",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "filename",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\nvar c =today1;\ncontext.set('c',c)\n\n\nmsg.localFilename = \"/home/iplon/yasdi2mqtt/ftp/SMA_INV_1_20_\" + c + \".csv\"\n//msg.payload.filename=\"/ftp_files\"\nmsg.filename =\"/ftp_files/SMA_INV_1-20_\"+c+\".csv\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 440,
        "wires": [
            [
                "174cca89d1e6361b"
            ]
        ]
    },
    {
        "id": "4c311e629a1ce049",
        "type": "cronplus",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 */5 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "e1d06742c11a0794",
                "a2943c8e4fe9d016"
            ]
        ]
    },
    {
        "id": "174cca89d1e6361b",
        "type": "ftp in",
        "z": "fc42e39d94bf81f5",
        "ftp": "b1257bd787c290b6",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "name": "",
        "x": 730,
        "y": 440,
        "wires": [
            [
                "aed5b2d2459957a8"
            ]
        ]
    },
    {
        "id": "aed5b2d2459957a8",
        "type": "debug",
        "z": "fc42e39d94bf81f5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "9245789932e9278f",
        "type": "debug",
        "z": "fc42e39d94bf81f5",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "7227f87a69614dda",
        "type": "join",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "39",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "bf11dd82c5fcdb42",
                "50b3186611629c9e"
            ]
        ]
    },
    {
        "id": "bf11dd82c5fcdb42",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "func": "let array = [];\nlet array1 = [];\nlet plantObj\n\nplantObj = []\n\n\n\n\n       var obj =\n        \n       {\n             Time: new Date().toLocaleString('en-GB', {\n                   timeZone: 'Asia/Kolkata',\n                   dateStyle: 'short',\n                   timeStyle: 'short',\n             }),\n              INVERTER_1_IDC1: msg.payload[0].values[\"A.Ms.Amp\"],\n              INVERTER_1_IDC2: msg.payload[0].values[\"B.Ms.Amp\"],\n              INVERTER_1_UDC1: msg.payload[0].values[\"A.Ms.Vol\"],\n              INVERTER_1_UDC2: msg.payload[0].values[\"B.Ms.Vol\"],\n              INVERTER_1_PDC1: msg.payload[0].values[\"A.Ms.Watt\"],\n              INVERTER_1_PDC2: msg.payload[0].values[\"B.Ms.Watt\"],\n              INVERTER_1_PAC: msg.payload[0].values.Pac,\n              INVERTER_1_PAC1: msg.payload[0].values[\"GridMs.W.phsA\"],\n              INVERTER_1_PAC2: msg.payload[0].values[\"GridMs.W.phsB\"],\n              INVERTER_1_PAC3: msg.payload[0].values[\"GridMs.W.phsC\"],\n              INVERTER_1_UAC1: msg.payload[0].values[\"GridMs.PhV.phsA\"],\n              INVERTER_1_UAC2: msg.payload[0].values[\"GridMs.PhV.phsB\"],\n              INVERTER_1_UAC3: msg.payload[0].values[\"GridMs.PhV.phsC\"],\n              INVERTER_1_IAC1: msg.payload[0].values[\"GridMs.A.phsA\"],\n              INVERTER_1_IAC2: msg.payload[0].values[\"GridMs.A.phsB\"],\n              INVERTER_1_IAC3: msg.payload[0].values[\"GridMs.A.phsC\"],\n              INVERTER_1_FAC: msg.payload[0].values[\"GridMs.Hz\"],\n              INVERTER_1_QAC: msg.payload[0].values[\"GridMs.TotVAr\"],\n              INVERTER_1_QAC1: msg.payload[0].values[\"GridMs.VAr.phsA\"],\n              INVERTER_1_QAC2: msg.payload[0].values[\"GridMs.VAr.phsB\"],\n              INVERTER_1_QAC3: msg.payload[0].values[\"GridMs.VAr.phsC\"],\n              INVERTER_1_SAC: msg.payload[0].values[\"GridMs.TotVA\"],\n              INVERTER_1_SAC1: msg.payload[0].values[\"GridMs.VA.phsA\"],\n              INVERTER_1_SAC2: msg.payload[0].values[\"GridMs.VA.phsB\"],\n              INVERTER_1_SAC3: msg.payload[0].values[\"GridMs.VA.phsC\"],\n              INVERTER_1_PF: msg.payload[0].values[\"GridMs.TotPF\"],\n              INVERTER_1_PAC_LIMIT: msg.payload[0].values[\"Op.Dmd.WCtl\"],\n              INVERTER_1_QAC_LIMIT: msg.payload[0].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_1_PF_LIMIT: msg.payload[0].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_1_Serial_Number: msg.payload[0].values[\"Serial Number\"],\n              INVERTER_1_EAE: msg.payload[0].values[\"E-Total\"],\n              INVERTER_1_Grid_feedin: msg.payload[0].values[\"GM.TotWhOut\"],\n              INVERTER_1_User_Event_count: msg.payload[0].values[\"Op.EvtCntUsr\"],\n              INVERTER_1_Operating_Time: msg.payload[0].values[\"Mt.TotTmh\"],\n              INVERTER_1_Feed_in_time: msg.payload[0].values[\"Mt.TotOpTmh\"],\n              INVERTER_1_Event_count: msg.payload[0].values[\"Op.EvtNo\"],\n              INVERTER_1_Manufacturer_Event_count: msg.payload[0].values[\"Op.EvtNoDvlp\"],\n              INVERTER_1_Waitingtimeunitlfeedin: msg.payload[0].values[\"Op.TmsRmg\"],\n              INVERTER_1_Inverter_state: msg.payload[0].values.Inverter_state,\n              INVERTER_1_Error: msg.payload[0].values.Error,\n              INVERTER_1_Condiition: msg.payload[0].values[\"Op.Health\"],\n              INVERTER_1_Recommended_action: msg.payload[0].values[\"Op.Prio\"],\n              INVERTER_1_Grid_relay: msg.payload[0].values[\"Op.GriSwStt\"],\n              INVERTER_1_Derating_State: msg.payload[0].values[\"Inv.TmpLimStt\"],\n              INVERTER_1_InvCtl_Stt: msg.payload[0].values[\"InvCtl.Stt\"],\n              INVERTER_1_PlntCtl_Stt: msg.payload[0].values[\"PlntCtl.Stt\"],\n              INVERTER_1_PCM_DigInStt: msg.payload[0].values[\"PCM-DigInStt\"],\n              INVERTER_1_CosPhi_stimulation: msg.payload[0].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n              INVERTER_2_IDC1: msg.payload[1].values[\"A.Ms.Amp\"],\n              INVERTER_2_IDC2: msg.payload[1].values[\"B.Ms.Amp\"],\n              INVERTER_2_UDC1: msg.payload[1].values[\"A.Ms.Vol\"],\n              INVERTER_2_UDC2: msg.payload[1].values[\"B.Ms.Vol\"],\n              INVERTER_2_PDC1: msg.payload[1].values[\"A.Ms.Watt\"],\n              INVERTER_2_PDC2: msg.payload[1].values[\"B.Ms.Watt\"],\n              INVERTER_2_PAC: msg.payload[1].values.Pac,\n              INVERTER_2_PAC1: msg.payload[1].values[\"GridMs.W.phsA\"],\n              INVERTER_2_PAC2: msg.payload[1].values[\"GridMs.W.phsB\"],\n              INVERTER_2_PAC3: msg.payload[1].values[\"GridMs.W.phsC\"],\n              INVERTER_2_UAC1: msg.payload[1].values[\"GridMs.PhV.phsA\"],\n              INVERTER_2_UAC2: msg.payload[1].values[\"GridMs.PhV.phsB\"],\n              INVERTER_2_UAC3: msg.payload[1].values[\"GridMs.PhV.phsC\"],\n              INVERTER_2_IAC1: msg.payload[1].values[\"GridMs.A.phsA\"],\n              INVERTER_2_IAC2: msg.payload[1].values[\"GridMs.A.phsB\"],\n              INVERTER_2_IAC3: msg.payload[1].values[\"GridMs.A.phsC\"],\n              INVERTER_2_FAC: msg.payload[1].values[\"GridMs.Hz\"],\n              INVERTER_2_QAC: msg.payload[1].values[\"GridMs.TotVAr\"],\n              INVERTER_2_QAC1: msg.payload[1].values[\"GridMs.VAr.phsA\"],\n              INVERTER_2_QAC2: msg.payload[1].values[\"GridMs.VAr.phsB\"],\n              INVERTER_2_QAC3: msg.payload[1].values[\"GridMs.VAr.phsC\"],\n              INVERTER_2_SAC: msg.payload[1].values[\"GridMs.TotVA\"],\n              INVERTER_2_SAC1: msg.payload[1].values[\"GridMs.VA.phsA\"],\n              INVERTER_2_SAC2: msg.payload[1].values[\"GridMs.VA.phsB\"],\n              INVERTER_2_SAC3: msg.payload[1].values[\"GridMs.VA.phsC\"],\n              INVERTER_2_PF: msg.payload[1].values[\"GridMs.TotPF\"],\n              INVERTER_2_PAC_LIMIT: msg.payload[1].values[\"Op.Dmd.WCtl\"],\n              INVERTER_2_QAC_LIMIT: msg.payload[1].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_2_PF_LIMIT: msg.payload[1].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_2_Serial_Number: msg.payload[1].values[\"Serial Number\"],\n              INVERTER_2_EAE: msg.payload[1].values[\"E-Total\"],\n              INVERTER_2_Grid_feedin: msg.payload[1].values[\"GM.TotWhOut\"],\n              INVERTER_2_User_Event_count: msg.payload[1].values[\"Op.EvtCntUsr\"],\n              INVERTER_2_Operating_Time: msg.payload[1].values[\"Mt.TotTmh\"],\n              INVERTER_2_Feed_in_time: msg.payload[1].values[\"Mt.TotOpTmh\"],\n              INVERTER_2_Event_count: msg.payload[1].values[\"Op.EvtNo\"],\n              INVERTER_2_Manufacturer_Event_count: msg.payload[1].values[\"Op.EvtNoDvlp\"],\n              INVERTER_2_Waitingtimeunitlfeedin: msg.payload[1].values[\"Op.TmsRmg\"],\n              INVERTER_2_Inverter_state: msg.payload[1].values.Inverter_state,\n              INVERTER_2_Error: msg.payload[1].values.Error,\n              INVERTER_2_Condiition: msg.payload[1].values[\"Op.Health\"],\n              INVERTER_2_Recommended_action: msg.payload[1].values[\"Op.Prio\"],\n              INVERTER_2_Grid_relay: msg.payload[1].values[\"Op.GriSwStt\"],\n              INVERTER_2_Derating_State: msg.payload[1].values[\"Inv.TmpLimStt\"],\n              INVERTER_2_InvCtl_Stt: msg.payload[1].values[\"InvCtl.Stt\"],\n              INVERTER_2_PlntCtl_Stt: msg.payload[1].values[\"PlntCtl.Stt\"],\n              INVERTER_2_PCM_DigInStt: msg.payload[1].values[\"PCM-DigInStt\"],\n              INVERTER_2_CosPhi_stimulation: msg.payload[1].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_3_IDC1: msg.payload[2].values[\"A.Ms.Amp\"],\n\n              INVERTER_3_IDC2: msg.payload[2].values[\"B.Ms.Amp\"],\n\n              INVERTER_3_UDC1: msg.payload[2].values[\"A.Ms.Vol\"],\n              INVERTER_3_UDC2: msg.payload[2].values[\"B.Ms.Vol\"],\n              INVERTER_3_PDC1: msg.payload[2].values[\"A.Ms.Watt\"],\n              INVERTER_3_PDC2: msg.payload[2].values[\"B.Ms.Watt\"],\n              INVERTER_3_PAC: msg.payload[2].values.Pac,\n              INVERTER_3_PAC1: msg.payload[2].values[\"GridMs.W.phsA\"],\n              INVERTER_3_PAC2: msg.payload[2].values[\"GridMs.W.phsB\"],\n              INVERTER_3_PAC3: msg.payload[2].values[\"GridMs.W.phsC\"],\n              INVERTER_3_UAC1: msg.payload[2].values[\"GridMs.PhV.phsA\"],\n              INVERTER_3_UAC2: msg.payload[2].values[\"GridMs.PhV.phsB\"],\n              INVERTER_3_UAC3: msg.payload[2].values[\"GridMs.PhV.phsC\"],\n              INVERTER_3_IAC1: msg.payload[2].values[\"GridMs.A.phsA\"],\n              INVERTER_3_IAC2: msg.payload[2].values[\"GridMs.A.phsB\"],\n              INVERTER_3_IAC3: msg.payload[2].values[\"GridMs.A.phsC\"],\n              INVERTER_3_FAC: msg.payload[2].values[\"GridMs.Hz\"],\n              INVERTER_3_QAC: msg.payload[2].values[\"GridMs.TotVAr\"],\n              INVERTER_3_QAC1: msg.payload[2].values[\"GridMs.VAr.phsA\"],\n              INVERTER_3_QAC2: msg.payload[2].values[\"GridMs.VAr.phsB\"],\n              INVERTER_3_QAC3: msg.payload[2].values[\"GridMs.VAr.phsC\"],\n              INVERTER_3_SAC: msg.payload[2].values[\"GridMs.TotVA\"],\n              INVERTER_3_SAC1: msg.payload[2].values[\"GridMs.VA.phsA\"],\n              INVERTER_3_SAC2: msg.payload[2].values[\"GridMs.VA.phsB\"],\n              INVERTER_3_SAC3: msg.payload[2].values[\"GridMs.VA.phsC\"],\n              INVERTER_3_PF: msg.payload[2].values[\"GridMs.TotPF\"],\n              INVERTER_3_PAC_LIMIT: msg.payload[2].values[\"Op.Dmd.WCtl\"],\n              INVERTER_3_QAC_LIMIT: msg.payload[2].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_3_PF_LIMIT: msg.payload[2].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_3_Serial_Number: msg.payload[2].values[\"Serial Number\"],\n              INVERTER_3_EAE: msg.payload[2].values[\"E-Total\"],\n              INVERTER_3_Grid_feedin: msg.payload[2].values[\"GM.TotWhOut\"],\n              INVERTER_3_User_Event_count: msg.payload[2].values[\"Op.EvtCntUsr\"],\n              INVERTER_3_Operating_Time: msg.payload[2].values[\"Mt.TotTmh\"],\n              INVERTER_3_Feed_in_time: msg.payload[2].values[\"Mt.TotOpTmh\"],\n              INVERTER_3_Event_count: msg.payload[2].values[\"Op.EvtNo\"],\n              INVERTER_3_Manufacturer_Event_count: msg.payload[2].values[\"Op.EvtNoDvlp\"],\n              INVERTER_3_Waitingtimeunitlfeedin: msg.payload[2].values[\"Op.TmsRmg\"],\n              INVERTER_3_Inverter_state: msg.payload[2].values.Inverter_state,\n              INVERTER_3_Error: msg.payload[2].values.Error,\n              INVERTER_3_Condiition: msg.payload[2].values[\"Op.Health\"],\n              INVERTER_3_Recommended_action: msg.payload[2].values[\"Op.Prio\"],\n              INVERTER_3_Grid_relay: msg.payload[2].values[\"Op.GriSwStt\"],\n              INVERTER_3_Derating_State: msg.payload[2].values[\"Inv.TmpLimStt\"],\n              INVERTER_3_InvCtl_Stt: msg.payload[2].values[\"InvCtl.Stt\"],\n              INVERTER_3_PlntCtl_Stt: msg.payload[2].values[\"PlntCtl.Stt\"],\n              INVERTER_3_PCM_DigInStt: msg.payload[2].values[\"PCM-DigInStt\"],\n              INVERTER_3_CosPhi_stimulation: msg.payload[2].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_4_IDC1: msg.payload[3].values[\"A.Ms.Amp\"],\n\n              INVERTER_4_IDC2: msg.payload[3].values[\"B.Ms.Amp\"],\n\n              INVERTER_4_UDC1: msg.payload[3].values[\"A.Ms.Vol\"],\n              INVERTER_4_UDC2: msg.payload[3].values[\"B.Ms.Vol\"],\n              INVERTER_4_PDC1: msg.payload[3].values[\"A.Ms.Watt\"],\n              INVERTER_4_PDC2: msg.payload[3].values[\"B.Ms.Watt\"],\n              INVERTER_4_PAC: msg.payload[3].values.Pac,\n              INVERTER_4_PAC1: msg.payload[3].values[\"GridMs.W.phsA\"],\n              INVERTER_4_PAC2: msg.payload[3].values[\"GridMs.W.phsB\"],\n              INVERTER_4_PAC3: msg.payload[3].values[\"GridMs.W.phsC\"],\n              INVERTER_4_UAC1: msg.payload[3].values[\"GridMs.PhV.phsA\"],\n              INVERTER_4_UAC2: msg.payload[3].values[\"GridMs.PhV.phsB\"],\n              INVERTER_4_UAC3: msg.payload[3].values[\"GridMs.PhV.phsC\"],\n              INVERTER_4_IAC1: msg.payload[3].values[\"GridMs.A.phsA\"],\n              INVERTER_4_IAC2: msg.payload[3].values[\"GridMs.A.phsB\"],\n              INVERTER_4_IAC3: msg.payload[3].values[\"GridMs.A.phsC\"],\n              INVERTER_4_FAC: msg.payload[3].values[\"GridMs.Hz\"],\n              INVERTER_4_QAC: msg.payload[3].values[\"GridMs.TotVAr\"],\n              INVERTER_4_QAC1: msg.payload[3].values[\"GridMs.VAr.phsA\"],\n              INVERTER_4_QAC2: msg.payload[3].values[\"GridMs.VAr.phsB\"],\n              INVERTER_4_QAC3: msg.payload[3].values[\"GridMs.VAr.phsC\"],\n              INVERTER_4_SAC: msg.payload[3].values[\"GridMs.TotVA\"],\n              INVERTER_4_SAC1: msg.payload[3].values[\"GridMs.VA.phsA\"],\n              INVERTER_4_SAC2: msg.payload[3].values[\"GridMs.VA.phsB\"],\n              INVERTER_4_SAC3: msg.payload[3].values[\"GridMs.VA.phsC\"],\n              INVERTER_4_PF: msg.payload[3].values[\"GridMs.TotPF\"],\n              INVERTER_4_PAC_LIMIT: msg.payload[3].values[\"Op.Dmd.WCtl\"],\n              INVERTER_4_QAC_LIMIT: msg.payload[3].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_4_PF_LIMIT: msg.payload[3].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_4_Serial_Number: msg.payload[3].values[\"Serial Number\"],\n              INVERTER_4_EAE: msg.payload[3].values[\"E-Total\"],\n              INVERTER_4_Grid_feedin: msg.payload[3].values[\"GM.TotWhOut\"],\n              INVERTER_4_User_Event_count: msg.payload[3].values[\"Op.EvtCntUsr\"],\n              INVERTER_4_Operating_Time: msg.payload[3].values[\"Mt.TotTmh\"],\n              INVERTER_4_Feed_in_time: msg.payload[3].values[\"Mt.TotOpTmh\"],\n              INVERTER_4_Event_count: msg.payload[3].values[\"Op.EvtNo\"],\n              INVERTER_4_Manufacturer_Event_count: msg.payload[3].values[\"Op.EvtNoDvlp\"],\n              INVERTER_4_Waitingtimeunitlfeedin: msg.payload[3].values[\"Op.TmsRmg\"],\n              INVERTER_4_Inverter_state: msg.payload[3].values.Inverter_state,\n              INVERTER_4_Error: msg.payload[3].values.Error,\n              INVERTER_4_Condiition: msg.payload[3].values[\"Op.Health\"],\n              INVERTER_4_Recommended_action: msg.payload[3].values[\"Op.Prio\"],\n              INVERTER_4_Grid_relay: msg.payload[3].values[\"Op.GriSwStt\"],\n              INVERTER_4_Derating_State: msg.payload[3].values[\"Inv.TmpLimStt\"],\n              INVERTER_4_InvCtl_Stt: msg.payload[3].values[\"InvCtl.Stt\"],\n              INVERTER_4_PlntCtl_Stt: msg.payload[3].values[\"PlntCtl.Stt\"],\n              INVERTER_4_PCM_DigInStt: msg.payload[3].values[\"PCM-DigInStt\"],\n              INVERTER_4_CosPhi_stimulation: msg.payload[3].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_5_IDC1: msg.payload[4].values[\"A.Ms.Amp\"],\n\n              INVERTER_5_IDC2: msg.payload[4].values[\"B.Ms.Amp\"],\n\n              INVERTER_5_UDC1: msg.payload[4].values[\"A.Ms.Vol\"],\n              INVERTER_5_UDC2: msg.payload[4].values[\"B.Ms.Vol\"],\n              INVERTER_5_PDC1: msg.payload[4].values[\"A.Ms.Watt\"],\n              INVERTER_5_PDC2: msg.payload[4].values[\"B.Ms.Watt\"],\n              INVERTER_5_PAC: msg.payload[4].values.Pac,\n              INVERTER_5_PAC1: msg.payload[4].values[\"GridMs.W.phsA\"],\n              INVERTER_5_PAC2: msg.payload[4].values[\"GridMs.W.phsB\"],\n              INVERTER_5_PAC3: msg.payload[4].values[\"GridMs.W.phsC\"],\n              INVERTER_5_UAC1: msg.payload[4].values[\"GridMs.PhV.phsA\"],\n              INVERTER_5_UAC2: msg.payload[4].values[\"GridMs.PhV.phsB\"],\n              INVERTER_5_UAC3: msg.payload[4].values[\"GridMs.PhV.phsC\"],\n              INVERTER_5_IAC1: msg.payload[4].values[\"GridMs.A.phsA\"],\n              INVERTER_5_IAC2: msg.payload[4].values[\"GridMs.A.phsB\"],\n              INVERTER_5_IAC3: msg.payload[4].values[\"GridMs.A.phsC\"],\n              INVERTER_5_FAC: msg.payload[4].values[\"GridMs.Hz\"],\n              INVERTER_5_QAC: msg.payload[4].values[\"GridMs.TotVAr\"],\n              INVERTER_5_QAC1: msg.payload[4].values[\"GridMs.VAr.phsA\"],\n              INVERTER_5_QAC2: msg.payload[4].values[\"GridMs.VAr.phsB\"],\n              INVERTER_5_QAC3: msg.payload[4].values[\"GridMs.VAr.phsC\"],\n              INVERTER_5_SAC: msg.payload[4].values[\"GridMs.TotVA\"],\n              INVERTER_5_SAC1: msg.payload[4].values[\"GridMs.VA.phsA\"],\n              INVERTER_5_SAC2: msg.payload[4].values[\"GridMs.VA.phsB\"],\n              INVERTER_5_SAC3: msg.payload[4].values[\"GridMs.VA.phsC\"],\n              INVERTER_5_PF: msg.payload[4].values[\"GridMs.TotPF\"],\n              INVERTER_5_PAC_LIMIT: msg.payload[4].values[\"Op.Dmd.WCtl\"],\n              INVERTER_5_QAC_LIMIT: msg.payload[4].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_5_PF_LIMIT: msg.payload[4].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_5_Serial_Number: msg.payload[4].values[\"Serial Number\"],\n              INVERTER_5_EAE: msg.payload[4].values[\"E-Total\"],\n              INVERTER_5_Grid_feedin: msg.payload[4].values[\"GM.TotWhOut\"],\n              INVERTER_5_User_Event_count: msg.payload[4].values[\"Op.EvtCntUsr\"],\n              INVERTER_5_Operating_Time: msg.payload[4].values[\"Mt.TotTmh\"],\n              INVERTER_5_Feed_in_time: msg.payload[4].values[\"Mt.TotOpTmh\"],\n              INVERTER_5_Event_count: msg.payload[4].values[\"Op.EvtNo\"],\n              INVERTER_5_Manufacturer_Event_count: msg.payload[4].values[\"Op.EvtNoDvlp\"],\n              INVERTER_5_Waitingtimeunitlfeedin: msg.payload[4].values[\"Op.TmsRmg\"],\n              INVERTER_5_Inverter_state: msg.payload[4].values.Inverter_state,\n              INVERTER_5_Error: msg.payload[4].values.Error,\n              INVERTER_5_Condiition: msg.payload[4].values[\"Op.Health\"],\n              INVERTER_5_Recommended_action: msg.payload[4].values[\"Op.Prio\"],\n              INVERTER_5_Grid_relay: msg.payload[4].values[\"Op.GriSwStt\"],\n              INVERTER_5_Derating_State: msg.payload[4].values[\"Inv.TmpLimStt\"],\n              INVERTER_5_InvCtl_Stt: msg.payload[4].values[\"InvCtl.Stt\"],\n              INVERTER_5_PlntCtl_Stt: msg.payload[4].values[\"PlntCtl.Stt\"],\n              INVERTER_5_PCM_DigInStt: msg.payload[4].values[\"PCM-DigInStt\"],\n              INVERTER_5_CosPhi_stimulation: msg.payload[4].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_6_IDC1: msg.payload[5].values[\"A.Ms.Amp\"],\n\n              INVERTER_6_IDC2: msg.payload[5].values[\"B.Ms.Amp\"],\n\n              INVERTER_6_UDC1: msg.payload[5].values[\"A.Ms.Vol\"],\n              INVERTER_6_UDC2: msg.payload[5].values[\"B.Ms.Vol\"],\n              INVERTER_6_PDC1: msg.payload[5].values[\"A.Ms.Watt\"],\n              INVERTER_6_PDC2: msg.payload[5].values[\"B.Ms.Watt\"],\n              INVERTER_6_PAC: msg.payload[5].values.Pac,\n              INVERTER_6_PAC1: msg.payload[5].values[\"GridMs.W.phsA\"],\n              INVERTER_6_PAC2: msg.payload[5].values[\"GridMs.W.phsB\"],\n              INVERTER_6_PAC3: msg.payload[5].values[\"GridMs.W.phsC\"],\n              INVERTER_6_UAC1: msg.payload[5].values[\"GridMs.PhV.phsA\"],\n              INVERTER_6_UAC2: msg.payload[5].values[\"GridMs.PhV.phsB\"],\n              INVERTER_6_UAC3: msg.payload[5].values[\"GridMs.PhV.phsC\"],\n              INVERTER_6_IAC1: msg.payload[5].values[\"GridMs.A.phsA\"],\n              INVERTER_6_IAC2: msg.payload[5].values[\"GridMs.A.phsB\"],\n              INVERTER_6_IAC3: msg.payload[5].values[\"GridMs.A.phsC\"],\n              INVERTER_6_FAC: msg.payload[5].values[\"GridMs.Hz\"],\n              INVERTER_6_QAC: msg.payload[5].values[\"GridMs.TotVAr\"],\n              INVERTER_6_QAC1: msg.payload[5].values[\"GridMs.VAr.phsA\"],\n              INVERTER_6_QAC2: msg.payload[5].values[\"GridMs.VAr.phsB\"],\n              INVERTER_6_QAC3: msg.payload[5].values[\"GridMs.VAr.phsC\"],\n              INVERTER_6_SAC: msg.payload[5].values[\"GridMs.TotVA\"],\n              INVERTER_6_SAC1: msg.payload[5].values[\"GridMs.VA.phsA\"],\n              INVERTER_6_SAC2: msg.payload[5].values[\"GridMs.VA.phsB\"],\n              INVERTER_6_SAC3: msg.payload[5].values[\"GridMs.VA.phsC\"],\n              INVERTER_6_PF: msg.payload[5].values[\"GridMs.TotPF\"],\n              INVERTER_6_PAC_LIMIT: msg.payload[5].values[\"Op.Dmd.WCtl\"],\n              INVERTER_6_QAC_LIMIT: msg.payload[5].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_6_PF_LIMIT: msg.payload[5].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_6_Serial_Number: msg.payload[5].values[\"Serial Number\"],\n              INVERTER_6_EAE: msg.payload[5].values[\"E-Total\"],\n              INVERTER_6_Grid_feedin: msg.payload[5].values[\"GM.TotWhOut\"],\n              INVERTER_6_User_Event_count: msg.payload[5].values[\"Op.EvtCntUsr\"],\n              INVERTER_6_Operating_Time: msg.payload[5].values[\"Mt.TotTmh\"],\n              INVERTER_6_Feed_in_time: msg.payload[5].values[\"Mt.TotOpTmh\"],\n              INVERTER_6_Event_count: msg.payload[5].values[\"Op.EvtNo\"],\n              INVERTER_6_Manufacturer_Event_count: msg.payload[5].values[\"Op.EvtNoDvlp\"],\n              INVERTER_6_Waitingtimeunitlfeedin: msg.payload[5].values[\"Op.TmsRmg\"],\n              INVERTER_6_Inverter_state: msg.payload[5].values.Inverter_state,\n              INVERTER_6_Error: msg.payload[5].values.Error,\n              INVERTER_6_Condiition: msg.payload[5].values[\"Op.Health\"],\n              INVERTER_6_Recommended_action: msg.payload[5].values[\"Op.Prio\"],\n              INVERTER_6_Grid_relay: msg.payload[5].values[\"Op.GriSwStt\"],\n              INVERTER_6_Derating_State: msg.payload[5].values[\"Inv.TmpLimStt\"],\n              INVERTER_6_InvCtl_Stt: msg.payload[5].values[\"InvCtl.Stt\"],\n              INVERTER_6_PlntCtl_Stt: msg.payload[5].values[\"PlntCtl.Stt\"],\n              INVERTER_6_PCM_DigInStt: msg.payload[5].values[\"PCM-DigInStt\"],\n              INVERTER_6_CosPhi_stimulation: msg.payload[5].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_7_IDC1: msg.payload[6].values[\"A.Ms.Amp\"],\n\n              INVERTER_7_IDC2: msg.payload[6].values[\"B.Ms.Amp\"],\n\n              INVERTER_7_UDC1: msg.payload[6].values[\"A.Ms.Vol\"],\n              INVERTER_7_UDC2: msg.payload[6].values[\"B.Ms.Vol\"],\n              INVERTER_7_PDC1: msg.payload[6].values[\"A.Ms.Watt\"],\n              INVERTER_7_PDC2: msg.payload[6].values[\"B.Ms.Watt\"],\n              INVERTER_7_PAC: msg.payload[6].values.Pac,\n              INVERTER_7_PAC1: msg.payload[6].values[\"GridMs.W.phsA\"],\n              INVERTER_7_PAC2: msg.payload[6].values[\"GridMs.W.phsB\"],\n              INVERTER_7_PAC3: msg.payload[6].values[\"GridMs.W.phsC\"],\n              INVERTER_7_UAC1: msg.payload[6].values[\"GridMs.PhV.phsA\"],\n              INVERTER_7_UAC2: msg.payload[6].values[\"GridMs.PhV.phsB\"],\n              INVERTER_7_UAC3: msg.payload[6].values[\"GridMs.PhV.phsC\"],\n              INVERTER_7_IAC1: msg.payload[6].values[\"GridMs.A.phsA\"],\n              INVERTER_7_IAC2: msg.payload[6].values[\"GridMs.A.phsB\"],\n              INVERTER_7_IAC3: msg.payload[6].values[\"GridMs.A.phsC\"],\n              INVERTER_7_FAC: msg.payload[6].values[\"GridMs.Hz\"],\n              INVERTER_7_QAC: msg.payload[6].values[\"GridMs.TotVAr\"],\n              INVERTER_7_QAC1: msg.payload[6].values[\"GridMs.VAr.phsA\"],\n              INVERTER_7_QAC2: msg.payload[6].values[\"GridMs.VAr.phsB\"],\n              INVERTER_7_QAC3: msg.payload[6].values[\"GridMs.VAr.phsC\"],\n              INVERTER_7_SAC: msg.payload[6].values[\"GridMs.TotVA\"],\n              INVERTER_7_SAC1: msg.payload[6].values[\"GridMs.VA.phsA\"],\n              INVERTER_7_SAC2: msg.payload[6].values[\"GridMs.VA.phsB\"],\n              INVERTER_7_SAC3: msg.payload[6].values[\"GridMs.VA.phsC\"],\n              INVERTER_7_PF: msg.payload[6].values[\"GridMs.TotPF\"],\n              INVERTER_7_PAC_LIMIT: msg.payload[6].values[\"Op.Dmd.WCtl\"],\n              INVERTER_7_QAC_LIMIT: msg.payload[6].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_7_PF_LIMIT: msg.payload[6].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_7_Serial_Number: msg.payload[6].values[\"Serial Number\"],\n              INVERTER_7_EAE: msg.payload[6].values[\"E-Total\"],\n              INVERTER_7_Grid_feedin: msg.payload[6].values[\"GM.TotWhOut\"],\n              INVERTER_7_User_Event_count: msg.payload[6].values[\"Op.EvtCntUsr\"],\n              INVERTER_7_Operating_Time: msg.payload[6].values[\"Mt.TotTmh\"],\n              INVERTER_7_Feed_in_time: msg.payload[6].values[\"Mt.TotOpTmh\"],\n              INVERTER_7_Event_count: msg.payload[6].values[\"Op.EvtNo\"],\n              INVERTER_7_Manufacturer_Event_count: msg.payload[6].values[\"Op.EvtNoDvlp\"],\n              INVERTER_7_Waitingtimeunitlfeedin: msg.payload[6].values[\"Op.TmsRmg\"],\n              INVERTER_7_Inverter_state: msg.payload[6].values.Inverter_state,\n              INVERTER_7_Error: msg.payload[6].values.Error,\n              INVERTER_7_Condiition: msg.payload[6].values[\"Op.Health\"],\n              INVERTER_7_Recommended_action: msg.payload[6].values[\"Op.Prio\"],\n              INVERTER_7_Grid_relay: msg.payload[6].values[\"Op.GriSwStt\"],\n              INVERTER_7_Derating_State: msg.payload[6].values[\"Inv.TmpLimStt\"],\n              INVERTER_7_InvCtl_Stt: msg.payload[6].values[\"InvCtl.Stt\"],\n              INVERTER_7_PlntCtl_Stt: msg.payload[6].values[\"PlntCtl.Stt\"],\n              INVERTER_7_PCM_DigInStt: msg.payload[6].values[\"PCM-DigInStt\"],\n              INVERTER_7_CosPhi_stimulation: msg.payload[6].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_8_IDC1: msg.payload[7].values[\"A.Ms.Amp\"],\n\n              INVERTER_8_IDC2: msg.payload[7].values[\"B.Ms.Amp\"],\n\n              INVERTER_8_UDC1: msg.payload[7].values[\"A.Ms.Vol\"],\n              INVERTER_8_UDC2: msg.payload[7].values[\"B.Ms.Vol\"],\n              INVERTER_8_PDC1: msg.payload[7].values[\"A.Ms.Watt\"],\n              INVERTER_8_PDC2: msg.payload[7].values[\"B.Ms.Watt\"],\n              INVERTER_8_PAC: msg.payload[7].values.Pac,\n              INVERTER_8_PAC1: msg.payload[7].values[\"GridMs.W.phsA\"],\n              INVERTER_8_PAC2: msg.payload[7].values[\"GridMs.W.phsB\"],\n              INVERTER_8_PAC3: msg.payload[7].values[\"GridMs.W.phsC\"],\n              INVERTER_8_UAC1: msg.payload[7].values[\"GridMs.PhV.phsA\"],\n              INVERTER_8_UAC2: msg.payload[7].values[\"GridMs.PhV.phsB\"],\n              INVERTER_8_UAC3: msg.payload[7].values[\"GridMs.PhV.phsC\"],\n              INVERTER_8_IAC1: msg.payload[7].values[\"GridMs.A.phsA\"],\n              INVERTER_8_IAC2: msg.payload[7].values[\"GridMs.A.phsB\"],\n              INVERTER_8_IAC3: msg.payload[7].values[\"GridMs.A.phsC\"],\n              INVERTER_8_FAC: msg.payload[7].values[\"GridMs.Hz\"],\n              INVERTER_8_QAC: msg.payload[7].values[\"GridMs.TotVAr\"],\n              INVERTER_8_QAC1: msg.payload[7].values[\"GridMs.VAr.phsA\"],\n              INVERTER_8_QAC2: msg.payload[7].values[\"GridMs.VAr.phsB\"],\n              INVERTER_8_QAC3: msg.payload[7].values[\"GridMs.VAr.phsC\"],\n              INVERTER_8_SAC: msg.payload[7].values[\"GridMs.TotVA\"],\n              INVERTER_8_SAC1: msg.payload[7].values[\"GridMs.VA.phsA\"],\n              INVERTER_8_SAC2: msg.payload[7].values[\"GridMs.VA.phsB\"],\n              INVERTER_8_SAC3: msg.payload[7].values[\"GridMs.VA.phsC\"],\n              INVERTER_8_PF: msg.payload[7].values[\"GridMs.TotPF\"],\n              INVERTER_8_PAC_LIMIT: msg.payload[7].values[\"Op.Dmd.WCtl\"],\n              INVERTER_8_QAC_LIMIT: msg.payload[7].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_8_PF_LIMIT: msg.payload[7].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_8_Serial_Number: msg.payload[7].values[\"Serial Number\"],\n              INVERTER_8_EAE: msg.payload[7].values[\"E-Total\"],\n              INVERTER_8_Grid_feedin: msg.payload[7].values[\"GM.TotWhOut\"],\n              INVERTER_8_User_Event_count: msg.payload[7].values[\"Op.EvtCntUsr\"],\n              INVERTER_8_Operating_Time: msg.payload[7].values[\"Mt.TotTmh\"],\n              INVERTER_8_Feed_in_time: msg.payload[7].values[\"Mt.TotOpTmh\"],\n              INVERTER_8_Event_count: msg.payload[7].values[\"Op.EvtNo\"],\n              INVERTER_8_Manufacturer_Event_count: msg.payload[7].values[\"Op.EvtNoDvlp\"],\n              INVERTER_8_Waitingtimeunitlfeedin: msg.payload[7].values[\"Op.TmsRmg\"],\n              INVERTER_8_Inverter_state: msg.payload[7].values.Inverter_state,\n              INVERTER_8_Error: msg.payload[7].values.Error,\n              INVERTER_8_Condiition: msg.payload[7].values[\"Op.Health\"],\n              INVERTER_8_Recommended_action: msg.payload[7].values[\"Op.Prio\"],\n              INVERTER_8_Grid_relay: msg.payload[7].values[\"Op.GriSwStt\"],\n              INVERTER_8_Derating_State: msg.payload[7].values[\"Inv.TmpLimStt\"],\n              INVERTER_8_InvCtl_Stt: msg.payload[7].values[\"InvCtl.Stt\"],\n              INVERTER_8_PlntCtl_Stt: msg.payload[7].values[\"PlntCtl.Stt\"],\n              INVERTER_8_PCM_DigInStt: msg.payload[7].values[\"PCM-DigInStt\"],\n              INVERTER_8_CosPhi_stimulation: msg.payload[7].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_9_IDC1: msg.payload[8].values[\"A.Ms.Amp\"],\n\n              INVERTER_9_IDC2: msg.payload[8].values[\"B.Ms.Amp\"],\n\n              INVERTER_9_UDC1: msg.payload[8].values[\"A.Ms.Vol\"],\n              INVERTER_9_UDC2: msg.payload[8].values[\"B.Ms.Vol\"],\n              INVERTER_9_PDC1: msg.payload[8].values[\"A.Ms.Watt\"],\n              INVERTER_9_PDC2: msg.payload[8].values[\"B.Ms.Watt\"],\n              INVERTER_9_PAC: msg.payload[8].values.Pac,\n              INVERTER_9_PAC1: msg.payload[8].values[\"GridMs.W.phsA\"],\n              INVERTER_9_PAC2: msg.payload[8].values[\"GridMs.W.phsB\"],\n              INVERTER_9_PAC3: msg.payload[8].values[\"GridMs.W.phsC\"],\n              INVERTER_9_UAC1: msg.payload[8].values[\"GridMs.PhV.phsA\"],\n              INVERTER_9_UAC2: msg.payload[8].values[\"GridMs.PhV.phsB\"],\n              INVERTER_9_UAC3: msg.payload[8].values[\"GridMs.PhV.phsC\"],\n              INVERTER_9_IAC1: msg.payload[8].values[\"GridMs.A.phsA\"],\n              INVERTER_9_IAC2: msg.payload[8].values[\"GridMs.A.phsB\"],\n              INVERTER_9_IAC3: msg.payload[8].values[\"GridMs.A.phsC\"],\n              INVERTER_9_FAC: msg.payload[8].values[\"GridMs.Hz\"],\n              INVERTER_9_QAC: msg.payload[8].values[\"GridMs.TotVAr\"],\n              INVERTER_9_QAC1: msg.payload[8].values[\"GridMs.VAr.phsA\"],\n              INVERTER_9_QAC2: msg.payload[8].values[\"GridMs.VAr.phsB\"],\n              INVERTER_9_QAC3: msg.payload[8].values[\"GridMs.VAr.phsC\"],\n              INVERTER_9_SAC: msg.payload[8].values[\"GridMs.TotVA\"],\n              INVERTER_9_SAC1: msg.payload[8].values[\"GridMs.VA.phsA\"],\n              INVERTER_9_SAC2: msg.payload[8].values[\"GridMs.VA.phsB\"],\n              INVERTER_9_SAC3: msg.payload[8].values[\"GridMs.VA.phsC\"],\n              INVERTER_9_PF: msg.payload[8].values[\"GridMs.TotPF\"],\n              INVERTER_9_PAC_LIMIT: msg.payload[8].values[\"Op.Dmd.WCtl\"],\n              INVERTER_9_QAC_LIMIT: msg.payload[8].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_9_PF_LIMIT: msg.payload[8].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_9_Serial_Number: msg.payload[8].values[\"Serial Number\"],\n              INVERTER_9_EAE: msg.payload[8].values[\"E-Total\"],\n              INVERTER_9_Grid_feedin: msg.payload[8].values[\"GM.TotWhOut\"],\n              INVERTER_9_User_Event_count: msg.payload[8].values[\"Op.EvtCntUsr\"],\n              INVERTER_9_Operating_Time: msg.payload[8].values[\"Mt.TotTmh\"],\n              INVERTER_9_Feed_in_time: msg.payload[8].values[\"Mt.TotOpTmh\"],\n              INVERTER_9_Event_count: msg.payload[8].values[\"Op.EvtNo\"],\n              INVERTER_9_Manufacturer_Event_count: msg.payload[8].values[\"Op.EvtNoDvlp\"],\n              INVERTER_9_Waitingtimeunitlfeedin: msg.payload[8].values[\"Op.TmsRmg\"],\n              INVERTER_9_Inverter_state: msg.payload[8].values.Inverter_state,\n              INVERTER_9_Error: msg.payload[8].values.Error,\n              INVERTER_9_Condiition: msg.payload[8].values[\"Op.Health\"],\n              INVERTER_9_Recommended_action: msg.payload[8].values[\"Op.Prio\"],\n              INVERTER_9_Grid_relay: msg.payload[8].values[\"Op.GriSwStt\"],\n              INVERTER_9_Derating_State: msg.payload[8].values[\"Inv.TmpLimStt\"],\n              INVERTER_9_InvCtl_Stt: msg.payload[8].values[\"InvCtl.Stt\"],\n              INVERTER_9_PlntCtl_Stt: msg.payload[8].values[\"PlntCtl.Stt\"],\n              INVERTER_9_PCM_DigInStt: msg.payload[8].values[\"PCM-DigInStt\"],\n              INVERTER_9_CosPhi_stimulation: msg.payload[8].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n              INVERTER_10_IDC1: msg.payload[9].values[\"A.Ms.Amp\"],\n              INVERTER_10_IDC2: msg.payload[9].values[\"B.Ms.Amp\"],\n              INVERTER_10_UDC1: msg.payload[9].values[\"A.Ms.Vol\"],\n              INVERTER_10_UDC2: msg.payload[9].values[\"B.Ms.Vol\"],\n              INVERTER_10_PDC1: msg.payload[9].values[\"A.Ms.Watt\"],\n              INVERTER_10_PDC2: msg.payload[9].values[\"B.Ms.Watt\"],\n              INVERTER_10_PAC: msg.payload[9].values.Pac,\n              INVERTER_10_PAC1: msg.payload[9].values[\"GridMs.W.phsA\"],\n              INVERTER_10_PAC2: msg.payload[9].values[\"GridMs.W.phsB\"],\n              INVERTER_10_PAC3: msg.payload[9].values[\"GridMs.W.phsC\"],\n              INVERTER_10_UAC1: msg.payload[9].values[\"GridMs.PhV.phsA\"],\n              INVERTER_10_UAC2: msg.payload[9].values[\"GridMs.PhV.phsB\"],\n              INVERTER_10_UAC3: msg.payload[9].values[\"GridMs.PhV.phsC\"],\n              INVERTER_10_IAC1: msg.payload[9].values[\"GridMs.A.phsA\"],\n              INVERTER_10_IAC2: msg.payload[9].values[\"GridMs.A.phsB\"],\n              INVERTER_10_IAC3: msg.payload[9].values[\"GridMs.A.phsC\"],\n              INVERTER_10_FAC: msg.payload[9].values[\"GridMs.Hz\"],\n              INVERTER_10_QAC: msg.payload[9].values[\"GridMs.TotVAr\"],\n              INVERTER_10_QAC1: msg.payload[9].values[\"GridMs.VAr.phsA\"],\n              INVERTER_10_QAC2: msg.payload[9].values[\"GridMs.VAr.phsB\"],\n              INVERTER_10_QAC3: msg.payload[9].values[\"GridMs.VAr.phsC\"],\n              INVERTER_10_SAC: msg.payload[9].values[\"GridMs.TotVA\"],\n              INVERTER_10_SAC1: msg.payload[9].values[\"GridMs.VA.phsA\"],\n              INVERTER_10_SAC2: msg.payload[9].values[\"GridMs.VA.phsB\"],\n              INVERTER_10_SAC3: msg.payload[9].values[\"GridMs.VA.phsC\"],\n              INVERTER_10_PF: msg.payload[9].values[\"GridMs.TotPF\"],\n              INVERTER_10_PAC_LIMIT: msg.payload[9].values[\"Op.Dmd.WCtl\"],\n              INVERTER_10_QAC_LIMIT: msg.payload[9].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_10_PF_LIMIT: msg.payload[9].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_10_Serial_Number: msg.payload[9].values[\"Serial Number\"],\n              INVERTER_10_EAE: msg.payload[9].values[\"E-Total\"],\n              INVERTER_10_Grid_feedin: msg.payload[9].values[\"GM.TotWhOut\"],\n              INVERTER_10_User_Event_count: msg.payload[9].values[\"Op.EvtCntUsr\"],\n              INVERTER_10_Operating_Time: msg.payload[9].values[\"Mt.TotTmh\"],\n              INVERTER_10_Feed_in_time: msg.payload[9].values[\"Mt.TotOpTmh\"],\n              INVERTER_10_Event_count: msg.payload[9].values[\"Op.EvtNo\"],\n              INVERTER_10_Manufacturer_Event_count: msg.payload[9].values[\"Op.EvtNoDvlp\"],\n              INVERTER_10_Waitingtimeunitlfeedin: msg.payload[9].values[\"Op.TmsRmg\"],\n              INVERTER_10_Inverter_state: msg.payload[9].values.Inverter_state,\n              INVERTER_10_Error: msg.payload[9].values.Error,\n              INVERTER_10_Condiition: msg.payload[9].values[\"Op.Health\"],\n              INVERTER_10_Recommended_action: msg.payload[9].values[\"Op.Prio\"],\n              INVERTER_10_Grid_relay: msg.payload[9].values[\"Op.GriSwStt\"],\n              INVERTER_10_Derating_State: msg.payload[9].values[\"Inv.TmpLimStt\"],\n              INVERTER_10_InvCtl_Stt: msg.payload[9].values[\"InvCtl.Stt\"],\n              INVERTER_10_PlntCtl_Stt: msg.payload[9].values[\"PlntCtl.Stt\"],\n              INVERTER_10_PCM_DigInStt: msg.payload[9].values[\"PCM-DigInStt\"],\n              INVERTER_10_CosPhi_stimulation: msg.payload[9].values[\"Op.Dmd.PFExtCtl\"],\n\n              INVERTER_11_IDC1: msg.payload[10].values[\"A.Ms.Amp\"],\n              INVERTER_11_IDC2: msg.payload[10].values[\"B.Ms.Amp\"],\n              INVERTER_11_UDC1: msg.payload[10].values[\"A.Ms.Vol\"],\n              INVERTER_11_UDC2: msg.payload[10].values[\"B.Ms.Vol\"],\n              INVERTER_11_PDC1: msg.payload[10].values[\"A.Ms.Watt\"],\n              INVERTER_11_PDC2: msg.payload[10].values[\"B.Ms.Watt\"],\n              INVERTER_11_PAC: msg.payload[10].values.Pac,\n              INVERTER_11_PAC1: msg.payload[10].values[\"GridMs.W.phsA\"],\n              INVERTER_11_PAC2: msg.payload[10].values[\"GridMs.W.phsB\"],\n              INVERTER_11_PAC3: msg.payload[10].values[\"GridMs.W.phsC\"],\n              INVERTER_11_UAC1: msg.payload[10].values[\"GridMs.PhV.phsA\"],\n              INVERTER_11_UAC2: msg.payload[10].values[\"GridMs.PhV.phsB\"],\n              INVERTER_11_UAC3: msg.payload[10].values[\"GridMs.PhV.phsC\"],\n              INVERTER_11_IAC1: msg.payload[10].values[\"GridMs.A.phsA\"],\n              INVERTER_11_IAC2: msg.payload[10].values[\"GridMs.A.phsB\"],\n              INVERTER_11_IAC3: msg.payload[10].values[\"GridMs.A.phsC\"],\n              INVERTER_11_FAC: msg.payload[10].values[\"GridMs.Hz\"],\n              INVERTER_11_QAC: msg.payload[10].values[\"GridMs.TotVAr\"],\n              INVERTER_11_QAC1: msg.payload[10].values[\"GridMs.VAr.phsA\"],\n              INVERTER_11_QAC2: msg.payload[10].values[\"GridMs.VAr.phsB\"],\n              INVERTER_11_QAC3: msg.payload[10].values[\"GridMs.VAr.phsC\"],\n              INVERTER_11_SAC: msg.payload[10].values[\"GridMs.TotVA\"],\n              INVERTER_11_SAC1: msg.payload[10].values[\"GridMs.VA.phsA\"],\n              INVERTER_11_SAC2: msg.payload[10].values[\"GridMs.VA.phsB\"],\n              INVERTER_11_SAC3: msg.payload[10].values[\"GridMs.VA.phsC\"],\n              INVERTER_11_PF: msg.payload[10].values[\"GridMs.TotPF\"],\n              INVERTER_11_PAC_LIMIT: msg.payload[10].values[\"Op.Dmd.WCtl\"],\n              INVERTER_11_QAC_LIMIT: msg.payload[10].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_11_PF_LIMIT: msg.payload[10].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_11_Serial_Number: msg.payload[10].values[\"Serial Number\"],\n              INVERTER_11_EAE: msg.payload[10].values[\"E-Total\"],\n              INVERTER_11_Grid_feedin: msg.payload[10].values[\"GM.TotWhOut\"],\n              INVERTER_11_User_Event_count: msg.payload[10].values[\"Op.EvtCntUsr\"],\n              INVERTER_11_Operating_Time: msg.payload[10].values[\"Mt.TotTmh\"],\n              INVERTER_11_Feed_in_time: msg.payload[10].values[\"Mt.TotOpTmh\"],\n              INVERTER_11_Event_count: msg.payload[10].values[\"Op.EvtNo\"],\n              INVERTER_11_Manufacturer_Event_count: msg.payload[10].values[\"Op.EvtNoDvlp\"],\n              INVERTER_11_Waitingtimeunitlfeedin: msg.payload[10].values[\"Op.TmsRmg\"],\n              INVERTER_11_Inverter_state: msg.payload[10].values.Inverter_state,\n              INVERTER_11_Error: msg.payload[10].values.Error,\n              INVERTER_11_Condiition: msg.payload[10].values[\"Op.Health\"],\n              INVERTER_11_Recommended_action: msg.payload[10].values[\"Op.Prio\"],\n              INVERTER_11_Grid_relay: msg.payload[10].values[\"Op.GriSwStt\"],\n              INVERTER_11_Derating_State: msg.payload[10].values[\"Inv.TmpLimStt\"],\n              INVERTER_11_InvCtl_Stt: msg.payload[10].values[\"InvCtl.Stt\"],\n              INVERTER_11_PlntCtl_Stt: msg.payload[10].values[\"PlntCtl.Stt\"],\n              INVERTER_11_PCM_DigInStt: msg.payload[10].values[\"PCM-DigInStt\"],\n              INVERTER_11_CosPhi_stimulation: msg.payload[10].values[\"Op.Dmd.PFExtCtl\"],\n\n\n              INVERTER_12_IDC1: msg.payload[11].values[\"A.Ms.Amp\"],\n              INVERTER_12_IDC2: msg.payload[11].values[\"B.Ms.Amp\"],\n              INVERTER_12_UDC1: msg.payload[11].values[\"A.Ms.Vol\"],\n              INVERTER_12_UDC2: msg.payload[11].values[\"B.Ms.Vol\"],\n              INVERTER_12_PDC1: msg.payload[11].values[\"A.Ms.Watt\"],\n              INVERTER_12_PDC2: msg.payload[11].values[\"B.Ms.Watt\"],\n              INVERTER_12_PAC: msg.payload[11].values.Pac,\n              INVERTER_12_PAC1: msg.payload[11].values[\"GridMs.W.phsA\"],\n              INVERTER_12_PAC2: msg.payload[11].values[\"GridMs.W.phsB\"],\n              INVERTER_12_PAC3: msg.payload[11].values[\"GridMs.W.phsC\"],\n              INVERTER_12_UAC1: msg.payload[11].values[\"GridMs.PhV.phsA\"],\n              INVERTER_12_UAC2: msg.payload[11].values[\"GridMs.PhV.phsB\"],\n              INVERTER_12_UAC3: msg.payload[11].values[\"GridMs.PhV.phsC\"],\n              INVERTER_12_IAC1: msg.payload[11].values[\"GridMs.A.phsA\"],\n              INVERTER_12_IAC2: msg.payload[11].values[\"GridMs.A.phsB\"],\n              INVERTER_12_IAC3: msg.payload[11].values[\"GridMs.A.phsC\"],\n              INVERTER_12_FAC: msg.payload[11].values[\"GridMs.Hz\"],\n              INVERTER_12_QAC: msg.payload[11].values[\"GridMs.TotVAr\"],\n              INVERTER_12_QAC1: msg.payload[11].values[\"GridMs.VAr.phsA\"],\n              INVERTER_12_QAC2: msg.payload[11].values[\"GridMs.VAr.phsB\"],\n              INVERTER_12_QAC3: msg.payload[11].values[\"GridMs.VAr.phsC\"],\n              INVERTER_12_SAC: msg.payload[11].values[\"GridMs.TotVA\"],\n              INVERTER_12_SAC1: msg.payload[11].values[\"GridMs.VA.phsA\"],\n              INVERTER_12_SAC2: msg.payload[11].values[\"GridMs.VA.phsB\"],\n              INVERTER_12_SAC3: msg.payload[11].values[\"GridMs.VA.phsC\"],\n              INVERTER_12_PF: msg.payload[11].values[\"GridMs.TotPF\"],\n              INVERTER_12_PAC_LIMIT: msg.payload[11].values[\"Op.Dmd.WCtl\"],\n              INVERTER_12_QAC_LIMIT: msg.payload[11].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_12_PF_LIMIT: msg.payload[11].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_12_Serial_Number: msg.payload[11].values[\"Serial Number\"],\n              INVERTER_12_EAE: msg.payload[11].values[\"E-Total\"],\n              INVERTER_12_Grid_feedin: msg.payload[11].values[\"GM.TotWhOut\"],\n              INVERTER_12_User_Event_count: msg.payload[11].values[\"Op.EvtCntUsr\"],\n              INVERTER_12_Operating_Time: msg.payload[11].values[\"Mt.TotTmh\"],\n              INVERTER_12_Feed_in_time: msg.payload[11].values[\"Mt.TotOpTmh\"],\n              INVERTER_12_Event_count: msg.payload[11].values[\"Op.EvtNo\"],\n              INVERTER_12_Manufacturer_Event_count: msg.payload[11].values[\"Op.EvtNoDvlp\"],\n              INVERTER_12_Waitingtimeunitlfeedin: msg.payload[11].values[\"Op.TmsRmg\"],\n              INVERTER_12_Inverter_state: msg.payload[11].values.Inverter_state,\n              INVERTER_12_Error: msg.payload[11].values.Error,\n              INVERTER_12_Condiition: msg.payload[11].values[\"Op.Health\"],\n              INVERTER_12_Recommended_action: msg.payload[11].values[\"Op.Prio\"],\n              INVERTER_12_Grid_relay: msg.payload[11].values[\"Op.GriSwStt\"],\n              INVERTER_12_Derating_State: msg.payload[11].values[\"Inv.TmpLimStt\"],\n              INVERTER_12_InvCtl_Stt: msg.payload[11].values[\"InvCtl.Stt\"],\n              INVERTER_12_PlntCtl_Stt: msg.payload[11].values[\"PlntCtl.Stt\"],\n              INVERTER_12_PCM_DigInStt: msg.payload[11].values[\"PCM-DigInStt\"],\n              INVERTER_12_CosPhi_stimulation: msg.payload[11].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n              INVERTER_13_IDC1: msg.payload[12].values[\"A.Ms.Amp\"],\n              INVERTER_13_IDC2: msg.payload[12].values[\"B.Ms.Amp\"],\n              INVERTER_13_UDC1: msg.payload[12].values[\"A.Ms.Vol\"],\n              INVERTER_13_UDC2: msg.payload[12].values[\"B.Ms.Vol\"],\n              INVERTER_13_PDC1: msg.payload[12].values[\"A.Ms.Watt\"],\n              INVERTER_13_PDC2: msg.payload[12].values[\"B.Ms.Watt\"],\n              INVERTER_13_PAC: msg.payload[12].values.Pac,\n              INVERTER_13_PAC1: msg.payload[12].values[\"GridMs.W.phsA\"],\n              INVERTER_13_PAC2: msg.payload[12].values[\"GridMs.W.phsB\"],\n              INVERTER_13_PAC3: msg.payload[12].values[\"GridMs.W.phsC\"],\n              INVERTER_13_UAC1: msg.payload[12].values[\"GridMs.PhV.phsA\"],\n              INVERTER_13_UAC2: msg.payload[12].values[\"GridMs.PhV.phsB\"],\n              INVERTER_13_UAC3: msg.payload[12].values[\"GridMs.PhV.phsC\"],\n              INVERTER_13_IAC1: msg.payload[12].values[\"GridMs.A.phsA\"],\n              INVERTER_13_IAC2: msg.payload[12].values[\"GridMs.A.phsB\"],\n              INVERTER_13_IAC3: msg.payload[12].values[\"GridMs.A.phsC\"],\n              INVERTER_13_FAC: msg.payload[12].values[\"GridMs.Hz\"],\n              INVERTER_13_QAC: msg.payload[12].values[\"GridMs.TotVAr\"],\n              INVERTER_13_QAC1: msg.payload[12].values[\"GridMs.VAr.phsA\"],\n              INVERTER_13_QAC2: msg.payload[12].values[\"GridMs.VAr.phsB\"],\n              INVERTER_13_QAC3: msg.payload[12].values[\"GridMs.VAr.phsC\"],\n              INVERTER_13_SAC: msg.payload[12].values[\"GridMs.TotVA\"],\n              INVERTER_13_SAC1: msg.payload[12].values[\"GridMs.VA.phsA\"],\n              INVERTER_13_SAC2: msg.payload[12].values[\"GridMs.VA.phsB\"],\n              INVERTER_13_SAC3: msg.payload[12].values[\"GridMs.VA.phsC\"],\n              INVERTER_13_PF: msg.payload[12].values[\"GridMs.TotPF\"],\n              INVERTER_13_PAC_LIMIT: msg.payload[12].values[\"Op.Dmd.WCtl\"],\n              INVERTER_13_QAC_LIMIT: msg.payload[12].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_13_PF_LIMIT: msg.payload[12].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_13_Serial_Number: msg.payload[12].values[\"Serial Number\"],\n              INVERTER_13_EAE: msg.payload[12].values[\"E-Total\"],\n              INVERTER_13_Grid_feedin: msg.payload[12].values[\"GM.TotWhOut\"],\n              INVERTER_13_User_Event_count: msg.payload[12].values[\"Op.EvtCntUsr\"],\n              INVERTER_13_Operating_Time: msg.payload[12].values[\"Mt.TotTmh\"],\n              INVERTER_13_Feed_in_time: msg.payload[12].values[\"Mt.TotOpTmh\"],\n              INVERTER_13_Event_count: msg.payload[12].values[\"Op.EvtNo\"],\n              INVERTER_13_Manufacturer_Event_count: msg.payload[12].values[\"Op.EvtNoDvlp\"],\n              INVERTER_13_Waitingtimeunitlfeedin: msg.payload[12].values[\"Op.TmsRmg\"],\n              INVERTER_13_Inverter_state: msg.payload[12].values.Inverter_state,\n              INVERTER_13_Error: msg.payload[12].values.Error,\n              INVERTER_13_Condiition: msg.payload[12].values[\"Op.Health\"],\n              INVERTER_13_Recommended_action: msg.payload[12].values[\"Op.Prio\"],\n              INVERTER_13_Grid_relay: msg.payload[12].values[\"Op.GriSwStt\"],\n              INVERTER_13_Derating_State: msg.payload[12].values[\"Inv.TmpLimStt\"],\n              INVERTER_13_InvCtl_Stt: msg.payload[12].values[\"InvCtl.Stt\"],\n              INVERTER_13_PlntCtl_Stt: msg.payload[12].values[\"PlntCtl.Stt\"],\n              INVERTER_13_PCM_DigInStt: msg.payload[12].values[\"PCM-DigInStt\"],\n              INVERTER_13_CosPhi_stimulation: msg.payload[12].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n              INVERTER_14_IDC1: msg.payload[13].values[\"A.Ms.Amp\"],\n              INVERTER_14_IDC2: msg.payload[13].values[\"B.Ms.Amp\"],\n              INVERTER_14_UDC1: msg.payload[13].values[\"A.Ms.Vol\"],\n              INVERTER_14_UDC2: msg.payload[13].values[\"B.Ms.Vol\"],\n              INVERTER_14_PDC1: msg.payload[13].values[\"A.Ms.Watt\"],\n              INVERTER_14_PDC2: msg.payload[13].values[\"B.Ms.Watt\"],\n              INVERTER_14_PAC: msg.payload[13].values.Pac,\n              INVERTER_14_PAC1: msg.payload[13].values[\"GridMs.W.phsA\"],\n              INVERTER_14_PAC2: msg.payload[13].values[\"GridMs.W.phsB\"],\n              INVERTER_14_PAC3: msg.payload[13].values[\"GridMs.W.phsC\"],\n              INVERTER_14_UAC1: msg.payload[13].values[\"GridMs.PhV.phsA\"],\n              INVERTER_14_UAC2: msg.payload[13].values[\"GridMs.PhV.phsB\"],\n              INVERTER_14_UAC3: msg.payload[13].values[\"GridMs.PhV.phsC\"],\n              INVERTER_14_IAC1: msg.payload[13].values[\"GridMs.A.phsA\"],\n              INVERTER_14_IAC2: msg.payload[13].values[\"GridMs.A.phsB\"],\n              INVERTER_14_IAC3: msg.payload[13].values[\"GridMs.A.phsC\"],\n              INVERTER_14_FAC: msg.payload[13].values[\"GridMs.Hz\"],\n              INVERTER_14_QAC: msg.payload[13].values[\"GridMs.TotVAr\"],\n              INVERTER_14_QAC1: msg.payload[13].values[\"GridMs.VAr.phsA\"],\n              INVERTER_14_QAC2: msg.payload[13].values[\"GridMs.VAr.phsB\"],\n              INVERTER_14_QAC3: msg.payload[13].values[\"GridMs.VAr.phsC\"],\n              INVERTER_14_SAC: msg.payload[13].values[\"GridMs.TotVA\"],\n              INVERTER_14_SAC1: msg.payload[13].values[\"GridMs.VA.phsA\"],\n              INVERTER_14_SAC2: msg.payload[13].values[\"GridMs.VA.phsB\"],\n              INVERTER_14_SAC3: msg.payload[13].values[\"GridMs.VA.phsC\"],\n              INVERTER_14_PF: msg.payload[13].values[\"GridMs.TotPF\"],\n              INVERTER_14_PAC_LIMIT: msg.payload[13].values[\"Op.Dmd.WCtl\"],\n              INVERTER_14_QAC_LIMIT: msg.payload[13].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_14_PF_LIMIT: msg.payload[13].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_14_Serial_Number: msg.payload[13].values[\"Serial Number\"],\n              INVERTER_14_EAE: msg.payload[13].values[\"E-Total\"],\n              INVERTER_14_Grid_feedin: msg.payload[13].values[\"GM.TotWhOut\"],\n              INVERTER_14_User_Event_count: msg.payload[13].values[\"Op.EvtCntUsr\"],\n              INVERTER_14_Operating_Time: msg.payload[13].values[\"Mt.TotTmh\"],\n              INVERTER_14_Feed_in_time: msg.payload[13].values[\"Mt.TotOpTmh\"],\n              INVERTER_14_Event_count: msg.payload[13].values[\"Op.EvtNo\"],\n              INVERTER_14_Manufacturer_Event_count: msg.payload[13].values[\"Op.EvtNoDvlp\"],\n              INVERTER_14_Waitingtimeunitlfeedin: msg.payload[13].values[\"Op.TmsRmg\"],\n              INVERTER_14_Inverter_state: msg.payload[13].values.Inverter_state,\n              INVERTER_14_Error: msg.payload[13].values.Error,\n              INVERTER_14_Condiition: msg.payload[13].values[\"Op.Health\"],\n              INVERTER_14_Recommended_action: msg.payload[13].values[\"Op.Prio\"],\n              INVERTER_14_Grid_relay: msg.payload[13].values[\"Op.GriSwStt\"],\n              INVERTER_14_Derating_State: msg.payload[13].values[\"Inv.TmpLimStt\"],\n              INVERTER_14_InvCtl_Stt: msg.payload[13].values[\"InvCtl.Stt\"],\n              INVERTER_14_PlntCtl_Stt: msg.payload[13].values[\"PlntCtl.Stt\"],\n              INVERTER_14_PCM_DigInStt: msg.payload[13].values[\"PCM-DigInStt\"],\n              INVERTER_14_CosPhi_stimulation: msg.payload[13].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n              INVERTER_15_IDC1: msg.payload[14].values[\"A.Ms.Amp\"],\n              INVERTER_15_IDC2: msg.payload[14].values[\"B.Ms.Amp\"],\n              INVERTER_15_UDC1: msg.payload[14].values[\"A.Ms.Vol\"],\n              INVERTER_15_UDC2: msg.payload[14].values[\"B.Ms.Vol\"],\n              INVERTER_15_PDC1: msg.payload[14].values[\"A.Ms.Watt\"],\n              INVERTER_15_PDC2: msg.payload[14].values[\"B.Ms.Watt\"],\n              INVERTER_15_PAC: msg.payload[14].values.Pac,\n              INVERTER_15_PAC1: msg.payload[14].values[\"GridMs.W.phsA\"],\n              INVERTER_15_PAC2: msg.payload[14].values[\"GridMs.W.phsB\"],\n              INVERTER_15_PAC3: msg.payload[14].values[\"GridMs.W.phsC\"],\n              INVERTER_15_UAC1: msg.payload[14].values[\"GridMs.PhV.phsA\"],\n              INVERTER_15_UAC2: msg.payload[14].values[\"GridMs.PhV.phsB\"],\n              INVERTER_15_UAC3: msg.payload[14].values[\"GridMs.PhV.phsC\"],\n              INVERTER_15_IAC1: msg.payload[14].values[\"GridMs.A.phsA\"],\n              INVERTER_15_IAC2: msg.payload[14].values[\"GridMs.A.phsB\"],\n              INVERTER_15_IAC3: msg.payload[14].values[\"GridMs.A.phsC\"],\n              INVERTER_15_FAC: msg.payload[14].values[\"GridMs.Hz\"],\n              INVERTER_15_QAC: msg.payload[14].values[\"GridMs.TotVAr\"],\n              INVERTER_15_QAC1: msg.payload[14].values[\"GridMs.VAr.phsA\"],\n              INVERTER_15_QAC2: msg.payload[14].values[\"GridMs.VAr.phsB\"],\n              INVERTER_15_QAC3: msg.payload[14].values[\"GridMs.VAr.phsC\"],\n              INVERTER_15_SAC: msg.payload[14].values[\"GridMs.TotVA\"],\n              INVERTER_15_SAC1: msg.payload[14].values[\"GridMs.VA.phsA\"],\n              INVERTER_15_SAC2: msg.payload[14].values[\"GridMs.VA.phsB\"],\n              INVERTER_15_SAC3: msg.payload[14].values[\"GridMs.VA.phsC\"],\n              INVERTER_15_PF: msg.payload[14].values[\"GridMs.TotPF\"],\n              INVERTER_15_PAC_LIMIT: msg.payload[14].values[\"Op.Dmd.WCtl\"],\n              INVERTER_15_QAC_LIMIT: msg.payload[14].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_15_PF_LIMIT: msg.payload[14].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_15_Serial_Number: msg.payload[14].values[\"Serial Number\"],\n              INVERTER_15_EAE: msg.payload[14].values[\"E-Total\"],\n              INVERTER_15_Grid_feedin: msg.payload[14].values[\"GM.TotWhOut\"],\n              INVERTER_15_User_Event_count: msg.payload[14].values[\"Op.EvtCntUsr\"],\n              INVERTER_15_Operating_Time: msg.payload[14].values[\"Mt.TotTmh\"],\n              INVERTER_15_Feed_in_time: msg.payload[14].values[\"Mt.TotOpTmh\"],\n              INVERTER_15_Event_count: msg.payload[14].values[\"Op.EvtNo\"],\n              INVERTER_15_Manufacturer_Event_count: msg.payload[14].values[\"Op.EvtNoDvlp\"],\n              INVERTER_15_Waitingtimeunitlfeedin: msg.payload[14].values[\"Op.TmsRmg\"],\n              INVERTER_15_Inverter_state: msg.payload[14].values.Inverter_state,\n              INVERTER_15_Error: msg.payload[14].values.Error,\n              INVERTER_15_Condiition: msg.payload[14].values[\"Op.Health\"],\n              INVERTER_15_Recommended_action: msg.payload[14].values[\"Op.Prio\"],\n              INVERTER_15_Grid_relay: msg.payload[14].values[\"Op.GriSwStt\"],\n              INVERTER_15_Derating_State: msg.payload[14].values[\"Inv.TmpLimStt\"],\n              INVERTER_15_InvCtl_Stt: msg.payload[14].values[\"InvCtl.Stt\"],\n              INVERTER_15_PlntCtl_Stt: msg.payload[14].values[\"PlntCtl.Stt\"],\n              INVERTER_15_PCM_DigInStt: msg.payload[14].values[\"PCM-DigInStt\"],\n              INVERTER_15_CosPhi_stimulation: msg.payload[14].values[\"Op.Dmd.PFExtCtl\"],\n\n\n              INVERTER_16_IDC1: msg.payload[15].values[\"A.Ms.Amp\"],\n              INVERTER_16_IDC2: msg.payload[15].values[\"B.Ms.Amp\"],\n              INVERTER_16_UDC1: msg.payload[15].values[\"A.Ms.Vol\"],\n              INVERTER_16_UDC2: msg.payload[15].values[\"B.Ms.Vol\"],\n              INVERTER_16_PDC1: msg.payload[15].values[\"A.Ms.Watt\"],\n              INVERTER_16_PDC2: msg.payload[15].values[\"B.Ms.Watt\"],\n              INVERTER_16_PAC: msg.payload[15].values.Pac,\n              INVERTER_16_PAC1: msg.payload[15].values[\"GridMs.W.phsA\"],\n              INVERTER_16_PAC2: msg.payload[15].values[\"GridMs.W.phsB\"],\n              INVERTER_16_PAC3: msg.payload[15].values[\"GridMs.W.phsC\"],\n              INVERTER_16_UAC1: msg.payload[15].values[\"GridMs.PhV.phsA\"],\n              INVERTER_16_UAC2: msg.payload[15].values[\"GridMs.PhV.phsB\"],\n              INVERTER_16_UAC3: msg.payload[15].values[\"GridMs.PhV.phsC\"],\n              INVERTER_16_IAC1: msg.payload[15].values[\"GridMs.A.phsA\"],\n              INVERTER_16_IAC2: msg.payload[15].values[\"GridMs.A.phsB\"],\n              INVERTER_16_IAC3: msg.payload[15].values[\"GridMs.A.phsC\"],\n              INVERTER_16_FAC: msg.payload[15].values[\"GridMs.Hz\"],\n              INVERTER_16_QAC: msg.payload[15].values[\"GridMs.TotVAr\"],\n              INVERTER_16_QAC1: msg.payload[15].values[\"GridMs.VAr.phsA\"],\n              INVERTER_16_QAC2: msg.payload[15].values[\"GridMs.VAr.phsB\"],\n              INVERTER_16_QAC3: msg.payload[15].values[\"GridMs.VAr.phsC\"],\n              INVERTER_16_SAC: msg.payload[15].values[\"GridMs.TotVA\"],\n              INVERTER_16_SAC1: msg.payload[15].values[\"GridMs.VA.phsA\"],\n              INVERTER_16_SAC2: msg.payload[15].values[\"GridMs.VA.phsB\"],\n              INVERTER_16_SAC3: msg.payload[15].values[\"GridMs.VA.phsC\"],\n              INVERTER_16_PF: msg.payload[15].values[\"GridMs.TotPF\"],\n              INVERTER_16_PAC_LIMIT: msg.payload[15].values[\"Op.Dmd.WCtl\"],\n              INVERTER_16_QAC_LIMIT: msg.payload[15].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_16_PF_LIMIT: msg.payload[15].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_16_Serial_Number: msg.payload[15].values[\"Serial Number\"],\n              INVERTER_16_EAE: msg.payload[15].values[\"E-Total\"],\n              INVERTER_16_Grid_feedin: msg.payload[15].values[\"GM.TotWhOut\"],\n              INVERTER_16_User_Event_count: msg.payload[15].values[\"Op.EvtCntUsr\"],\n              INVERTER_16_Operating_Time: msg.payload[15].values[\"Mt.TotTmh\"],\n              INVERTER_16_Feed_in_time: msg.payload[15].values[\"Mt.TotOpTmh\"],\n              INVERTER_16_Event_count: msg.payload[15].values[\"Op.EvtNo\"],\n              INVERTER_16_Manufacturer_Event_count: msg.payload[15].values[\"Op.EvtNoDvlp\"],\n              INVERTER_16_Waitingtimeunitlfeedin: msg.payload[15].values[\"Op.TmsRmg\"],\n              INVERTER_16_Inverter_state: msg.payload[15].values.Inverter_state,\n              INVERTER_16_Error: msg.payload[15].values.Error,\n              INVERTER_16_Condiition: msg.payload[15].values[\"Op.Health\"],\n              INVERTER_16_Recommended_action: msg.payload[15].values[\"Op.Prio\"],\n              INVERTER_16_Grid_relay: msg.payload[15].values[\"Op.GriSwStt\"],\n              INVERTER_16_Derating_State: msg.payload[15].values[\"Inv.TmpLimStt\"],\n              INVERTER_16_InvCtl_Stt: msg.payload[15].values[\"InvCtl.Stt\"],\n              INVERTER_16_PlntCtl_Stt: msg.payload[15].values[\"PlntCtl.Stt\"],\n              INVERTER_16_PCM_DigInStt: msg.payload[15].values[\"PCM-DigInStt\"],\n              INVERTER_16_CosPhi_stimulation: msg.payload[15].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n\n              INVERTER_17_IDC1: msg.payload[16].values[\"A.Ms.Amp\"],\n              INVERTER_17_IDC2: msg.payload[16].values[\"B.Ms.Amp\"],\n              INVERTER_17_UDC1: msg.payload[16].values[\"A.Ms.Vol\"],\n              INVERTER_17_UDC2: msg.payload[16].values[\"B.Ms.Vol\"],\n              INVERTER_17_PDC1: msg.payload[16].values[\"A.Ms.Watt\"],\n              INVERTER_17_PDC2: msg.payload[16].values[\"B.Ms.Watt\"],\n              INVERTER_17_PAC: msg.payload[16].values.Pac,\n              INVERTER_17_PAC1: msg.payload[16].values[\"GridMs.W.phsA\"],\n              INVERTER_17_PAC2: msg.payload[16].values[\"GridMs.W.phsB\"],\n              INVERTER_17_PAC3: msg.payload[16].values[\"GridMs.W.phsC\"],\n              INVERTER_17_UAC1: msg.payload[16].values[\"GridMs.PhV.phsA\"],\n              INVERTER_17_UAC2: msg.payload[16].values[\"GridMs.PhV.phsB\"],\n              INVERTER_17_UAC3: msg.payload[16].values[\"GridMs.PhV.phsC\"],\n              INVERTER_17_IAC1: msg.payload[16].values[\"GridMs.A.phsA\"],\n              INVERTER_17_IAC2: msg.payload[16].values[\"GridMs.A.phsB\"],\n              INVERTER_17_IAC3: msg.payload[16].values[\"GridMs.A.phsC\"],\n              INVERTER_17_FAC: msg.payload[16].values[\"GridMs.Hz\"],\n              INVERTER_17_QAC: msg.payload[16].values[\"GridMs.TotVAr\"],\n              INVERTER_17_QAC1: msg.payload[16].values[\"GridMs.VAr.phsA\"],\n              INVERTER_17_QAC2: msg.payload[16].values[\"GridMs.VAr.phsB\"],\n              INVERTER_17_QAC3: msg.payload[16].values[\"GridMs.VAr.phsC\"],\n              INVERTER_17_SAC: msg.payload[16].values[\"GridMs.TotVA\"],\n              INVERTER_17_SAC1: msg.payload[16].values[\"GridMs.VA.phsA\"],\n              INVERTER_17_SAC2: msg.payload[16].values[\"GridMs.VA.phsB\"],\n              INVERTER_17_SAC3: msg.payload[16].values[\"GridMs.VA.phsC\"],\n              INVERTER_17_PF: msg.payload[16].values[\"GridMs.TotPF\"],\n              INVERTER_17_PAC_LIMIT: msg.payload[16].values[\"Op.Dmd.WCtl\"],\n              INVERTER_17_QAC_LIMIT: msg.payload[16].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_17_PF_LIMIT: msg.payload[16].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_17_Serial_Number: msg.payload[16].values[\"Serial Number\"],\n              INVERTER_17_EAE: msg.payload[16].values[\"E-Total\"],\n              INVERTER_17_Grid_feedin: msg.payload[16].values[\"GM.TotWhOut\"],\n              INVERTER_17_User_Event_count: msg.payload[16].values[\"Op.EvtCntUsr\"],\n              INVERTER_17_Operating_Time: msg.payload[16].values[\"Mt.TotTmh\"],\n              INVERTER_17_Feed_in_time: msg.payload[16].values[\"Mt.TotOpTmh\"],\n              INVERTER_17_Event_count: msg.payload[16].values[\"Op.EvtNo\"],\n              INVERTER_17_Manufacturer_Event_count: msg.payload[16].values[\"Op.EvtNoDvlp\"],\n              INVERTER_17_Waitingtimeunitlfeedin: msg.payload[16].values[\"Op.TmsRmg\"],\n              INVERTER_17_Inverter_state: msg.payload[16].values.Inverter_state,\n              INVERTER_17_Error: msg.payload[16].values.Error,\n              INVERTER_17_Condiition: msg.payload[16].values[\"Op.Health\"],\n              INVERTER_17_Recommended_action: msg.payload[16].values[\"Op.Prio\"],\n              INVERTER_17_Grid_relay: msg.payload[16].values[\"Op.GriSwStt\"],\n              INVERTER_17_Derating_State: msg.payload[16].values[\"Inv.TmpLimStt\"],\n              INVERTER_17_InvCtl_Stt: msg.payload[16].values[\"InvCtl.Stt\"],\n              INVERTER_17_PlntCtl_Stt: msg.payload[16].values[\"PlntCtl.Stt\"],\n              INVERTER_17_PCM_DigInStt: msg.payload[16].values[\"PCM-DigInStt\"],\n              INVERTER_17_CosPhi_stimulation: msg.payload[16].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n              INVERTER_18_IDC1: msg.payload[17].values[\"A.Ms.Amp\"],\n              INVERTER_18_IDC2: msg.payload[17].values[\"B.Ms.Amp\"],\n              INVERTER_18_UDC1: msg.payload[17].values[\"A.Ms.Vol\"],\n              INVERTER_18_UDC2: msg.payload[17].values[\"B.Ms.Vol\"],\n              INVERTER_18_PDC1: msg.payload[17].values[\"A.Ms.Watt\"],\n              INVERTER_18_PDC2: msg.payload[17].values[\"B.Ms.Watt\"],\n              INVERTER_18_PAC: msg.payload[17].values.Pac,\n              INVERTER_18_PAC1: msg.payload[17].values[\"GridMs.W.phsA\"],\n              INVERTER_18_PAC2: msg.payload[17].values[\"GridMs.W.phsB\"],\n              INVERTER_18_PAC3: msg.payload[17].values[\"GridMs.W.phsC\"],\n              INVERTER_18_UAC1: msg.payload[17].values[\"GridMs.PhV.phsA\"],\n              INVERTER_18_UAC2: msg.payload[17].values[\"GridMs.PhV.phsB\"],\n              INVERTER_18_UAC3: msg.payload[17].values[\"GridMs.PhV.phsC\"],\n              INVERTER_18_IAC1: msg.payload[17].values[\"GridMs.A.phsA\"],\n              INVERTER_18_IAC2: msg.payload[17].values[\"GridMs.A.phsB\"],\n              INVERTER_18_IAC3: msg.payload[17].values[\"GridMs.A.phsC\"],\n              INVERTER_18_FAC: msg.payload[17].values[\"GridMs.Hz\"],\n              INVERTER_18_QAC: msg.payload[17].values[\"GridMs.TotVAr\"],\n              INVERTER_18_QAC1: msg.payload[17].values[\"GridMs.VAr.phsA\"],\n              INVERTER_18_QAC2: msg.payload[17].values[\"GridMs.VAr.phsB\"],\n              INVERTER_18_QAC3: msg.payload[17].values[\"GridMs.VAr.phsC\"],\n              INVERTER_18_SAC: msg.payload[17].values[\"GridMs.TotVA\"],\n              INVERTER_18_SAC1: msg.payload[17].values[\"GridMs.VA.phsA\"],\n              INVERTER_18_SAC2: msg.payload[17].values[\"GridMs.VA.phsB\"],\n              INVERTER_18_SAC3: msg.payload[17].values[\"GridMs.VA.phsC\"],\n              INVERTER_18_PF: msg.payload[17].values[\"GridMs.TotPF\"],\n              INVERTER_18_PAC_LIMIT: msg.payload[17].values[\"Op.Dmd.WCtl\"],\n              INVERTER_18_QAC_LIMIT: msg.payload[17].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_18_PF_LIMIT: msg.payload[17].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_18_Serial_Number: msg.payload[17].values[\"Serial Number\"],\n              INVERTER_18_EAE: msg.payload[17].values[\"E-Total\"],\n              INVERTER_18_Grid_feedin: msg.payload[17].values[\"GM.TotWhOut\"],\n              INVERTER_18_User_Event_count: msg.payload[17].values[\"Op.EvtCntUsr\"],\n              INVERTER_18_Operating_Time: msg.payload[17].values[\"Mt.TotTmh\"],\n              INVERTER_18_Feed_in_time: msg.payload[17].values[\"Mt.TotOpTmh\"],\n              INVERTER_18_Event_count: msg.payload[17].values[\"Op.EvtNo\"],\n              INVERTER_18_Manufacturer_Event_count: msg.payload[17].values[\"Op.EvtNoDvlp\"],\n              INVERTER_18_Waitingtimeunitlfeedin: msg.payload[17].values[\"Op.TmsRmg\"],\n              INVERTER_18_Inverter_state: msg.payload[17].values.Inverter_state,\n              INVERTER_18_Error: msg.payload[17].values.Error,\n              INVERTER_18_Condiition: msg.payload[17].values[\"Op.Health\"],\n              INVERTER_18_Recommended_action: msg.payload[17].values[\"Op.Prio\"],\n              INVERTER_18_Grid_relay: msg.payload[17].values[\"Op.GriSwStt\"],\n              INVERTER_18_Derating_State: msg.payload[17].values[\"Inv.TmpLimStt\"],\n              INVERTER_18_InvCtl_Stt: msg.payload[17].values[\"InvCtl.Stt\"],\n              INVERTER_18_PlntCtl_Stt: msg.payload[17].values[\"PlntCtl.Stt\"],\n              INVERTER_18_PCM_DigInStt: msg.payload[17].values[\"PCM-DigInStt\"],\n              INVERTER_18_CosPhi_stimulation: msg.payload[17].values[\"Op.Dmd.PFExtCtl\"],\n\n\n              INVERTER_19_IDC1: msg.payload[18].values[\"A.Ms.Amp\"],\n              INVERTER_19_IDC2: msg.payload[18].values[\"B.Ms.Amp\"],\n              INVERTER_19_UDC1: msg.payload[18].values[\"A.Ms.Vol\"],\n              INVERTER_19_UDC2: msg.payload[18].values[\"B.Ms.Vol\"],\n              INVERTER_19_PDC1: msg.payload[18].values[\"A.Ms.Watt\"],\n              INVERTER_19_PDC2: msg.payload[18].values[\"B.Ms.Watt\"],\n              INVERTER_19_PAC: msg.payload[18].values.Pac,\n              INVERTER_19_PAC1: msg.payload[18].values[\"GridMs.W.phsA\"],\n              INVERTER_19_PAC2: msg.payload[18].values[\"GridMs.W.phsB\"],\n              INVERTER_19_PAC3: msg.payload[18].values[\"GridMs.W.phsC\"],\n              INVERTER_19_UAC1: msg.payload[18].values[\"GridMs.PhV.phsA\"],\n              INVERTER_19_UAC2: msg.payload[18].values[\"GridMs.PhV.phsB\"],\n              INVERTER_19_UAC3: msg.payload[18].values[\"GridMs.PhV.phsC\"],\n              INVERTER_19_IAC1: msg.payload[18].values[\"GridMs.A.phsA\"],\n              INVERTER_19_IAC2: msg.payload[18].values[\"GridMs.A.phsB\"],\n              INVERTER_19_IAC3: msg.payload[18].values[\"GridMs.A.phsC\"],\n              INVERTER_19_FAC: msg.payload[18].values[\"GridMs.Hz\"],\n              INVERTER_19_QAC: msg.payload[18].values[\"GridMs.TotVAr\"],\n              INVERTER_19_QAC1: msg.payload[18].values[\"GridMs.VAr.phsA\"],\n              INVERTER_19_QAC2: msg.payload[18].values[\"GridMs.VAr.phsB\"],\n              INVERTER_19_QAC3: msg.payload[18].values[\"GridMs.VAr.phsC\"],\n              INVERTER_19_SAC: msg.payload[18].values[\"GridMs.TotVA\"],\n              INVERTER_19_SAC1: msg.payload[18].values[\"GridMs.VA.phsA\"],\n              INVERTER_19_SAC2: msg.payload[18].values[\"GridMs.VA.phsB\"],\n              INVERTER_19_SAC3: msg.payload[18].values[\"GridMs.VA.phsC\"],\n              INVERTER_19_PF: msg.payload[18].values[\"GridMs.TotPF\"],\n              INVERTER_19_PAC_LIMIT: msg.payload[18].values[\"Op.Dmd.WCtl\"],\n              INVERTER_19_QAC_LIMIT: msg.payload[18].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_19_PF_LIMIT: msg.payload[18].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_19_Serial_Number: msg.payload[18].values[\"Serial Number\"],\n              INVERTER_19_EAE: msg.payload[18].values[\"E-Total\"],\n              INVERTER_19_Grid_feedin: msg.payload[18].values[\"GM.TotWhOut\"],\n              INVERTER_19_User_Event_count: msg.payload[18].values[\"Op.EvtCntUsr\"],\n              INVERTER_19_Operating_Time: msg.payload[18].values[\"Mt.TotTmh\"],\n              INVERTER_19_Feed_in_time: msg.payload[18].values[\"Mt.TotOpTmh\"],\n              INVERTER_19_Event_count: msg.payload[18].values[\"Op.EvtNo\"],\n              INVERTER_19_Manufacturer_Event_count: msg.payload[18].values[\"Op.EvtNoDvlp\"],\n              INVERTER_19_Waitingtimeunitlfeedin: msg.payload[18].values[\"Op.TmsRmg\"],\n              INVERTER_19_Inverter_state: msg.payload[18].values.Inverter_state,\n              INVERTER_19_Error: msg.payload[18].values.Error,\n              INVERTER_19_Condiition: msg.payload[18].values[\"Op.Health\"],\n              INVERTER_19_Recommended_action: msg.payload[18].values[\"Op.Prio\"],\n              INVERTER_19_Grid_relay: msg.payload[18].values[\"Op.GriSwStt\"],\n              INVERTER_19_Derating_State: msg.payload[18].values[\"Inv.TmpLimStt\"],\n              INVERTER_19_InvCtl_Stt: msg.payload[18].values[\"InvCtl.Stt\"],\n              INVERTER_19_PlntCtl_Stt: msg.payload[18].values[\"PlntCtl.Stt\"],\n              INVERTER_19_PCM_DigInStt: msg.payload[18].values[\"PCM-DigInStt\"],\n              INVERTER_19_CosPhi_stimulation: msg.payload[18].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n\n              INVERTER_20_IDC1: msg.payload[19].values[\"A.Ms.Amp\"],\n              INVERTER_20_IDC2: msg.payload[19].values[\"B.Ms.Amp\"],\n              INVERTER_20_UDC1: msg.payload[19].values[\"A.Ms.Vol\"],\n              INVERTER_20_UDC2: msg.payload[19].values[\"B.Ms.Vol\"],\n              INVERTER_20_PDC1: msg.payload[19].values[\"A.Ms.Watt\"],\n              INVERTER_20_PDC2: msg.payload[19].values[\"B.Ms.Watt\"],\n              INVERTER_20_PAC: msg.payload[19].values.Pac,\n              INVERTER_20_PAC1: msg.payload[19].values[\"GridMs.W.phsA\"],\n              INVERTER_20_PAC2: msg.payload[19].values[\"GridMs.W.phsB\"],\n              INVERTER_20_PAC3: msg.payload[19].values[\"GridMs.W.phsC\"],\n              INVERTER_20_UAC1: msg.payload[19].values[\"GridMs.PhV.phsA\"],\n              INVERTER_20_UAC2: msg.payload[19].values[\"GridMs.PhV.phsB\"],\n              INVERTER_20_UAC3: msg.payload[19].values[\"GridMs.PhV.phsC\"],\n              INVERTER_20_IAC1: msg.payload[19].values[\"GridMs.A.phsA\"],\n              INVERTER_20_IAC2: msg.payload[19].values[\"GridMs.A.phsB\"],\n              INVERTER_20_IAC3: msg.payload[19].values[\"GridMs.A.phsC\"],\n              INVERTER_20_FAC: msg.payload[19].values[\"GridMs.Hz\"],\n              INVERTER_20_QAC: msg.payload[19].values[\"GridMs.TotVAr\"],\n              INVERTER_20_QAC1: msg.payload[19].values[\"GridMs.VAr.phsA\"],\n              INVERTER_20_QAC2: msg.payload[19].values[\"GridMs.VAr.phsB\"],\n              INVERTER_20_QAC3: msg.payload[19].values[\"GridMs.VAr.phsC\"],\n              INVERTER_20_SAC: msg.payload[19].values[\"GridMs.TotVA\"],\n              INVERTER_20_SAC1: msg.payload[19].values[\"GridMs.VA.phsA\"],\n              INVERTER_20_SAC2: msg.payload[19].values[\"GridMs.VA.phsB\"],\n              INVERTER_20_SAC3: msg.payload[19].values[\"GridMs.VA.phsC\"],\n              INVERTER_20_PF: msg.payload[19].values[\"GridMs.TotPF\"],\n              INVERTER_20_PAC_LIMIT: msg.payload[19].values[\"Op.Dmd.WCtl\"],\n              INVERTER_20_QAC_LIMIT: msg.payload[19].values[\"Op.Dmd.VArCtl\"],\n              INVERTER_20_PF_LIMIT: msg.payload[19].values[\"Op.Dmd.PFCtl\"],\n              INVERTER_20_Serial_Number: msg.payload[19].values[\"Serial Number\"],\n              INVERTER_20_EAE: msg.payload[19].values[\"E-Total\"],\n              INVERTER_20_Grid_feedin: msg.payload[19].values[\"GM.TotWhOut\"],\n              INVERTER_20_User_Event_count: msg.payload[19].values[\"Op.EvtCntUsr\"],\n              INVERTER_20_Operating_Time: msg.payload[19].values[\"Mt.TotTmh\"],\n              INVERTER_20_Feed_in_time: msg.payload[19].values[\"Mt.TotOpTmh\"],\n              INVERTER_20_Event_count: msg.payload[19].values[\"Op.EvtNo\"],\n              INVERTER_20_Manufacturer_Event_count: msg.payload[19].values[\"Op.EvtNoDvlp\"],\n              INVERTER_20_Waitingtimeunitlfeedin: msg.payload[19].values[\"Op.TmsRmg\"],\n              INVERTER_20_Inverter_state: msg.payload[19].values.Inverter_state,\n              INVERTER_20_Error: msg.payload[19].values.Error,\n              INVERTER_20_Condiition: msg.payload[19].values[\"Op.Health\"],\n              INVERTER_20_Recommended_action: msg.payload[19].values[\"Op.Prio\"],\n              INVERTER_20_Grid_relay: msg.payload[19].values[\"Op.GriSwStt\"],\n              INVERTER_20_Derating_State: msg.payload[19].values[\"Inv.TmpLimStt\"],\n              INVERTER_20_InvCtl_Stt: msg.payload[19].values[\"InvCtl.Stt\"],\n              INVERTER_20_PlntCtl_Stt: msg.payload[19].values[\"PlntCtl.Stt\"],\n              INVERTER_20_PCM_DigInStt: msg.payload[19].values[\"PCM-DigInStt\"],\n              INVERTER_20_CosPhi_stimulation: msg.payload[19].values[\"Op.Dmd.PFExtCtl\"]\n\n\n\n\n\n           \n}\n\nplantObj.push(obj)\n\n\nmsg.payload = plantObj\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "6216da9838165800"
            ]
        ]
    },
    {
        "id": "6216da9838165800",
        "type": "csv",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "34b77a5cabfab805"
            ]
        ]
    },
    {
        "id": "34b77a5cabfab805",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "todays date",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\n\nvar c =today1;\ncontext.set('c',c)\n\nvar path = \"/home/iplon/yasdi2mqtt/ftp/SMA_INV_1_20_\"+c+\".csv\"\nmsg.filename = path\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "8afadab1022e1722"
            ]
        ]
    },
    {
        "id": "8afadab1022e1722",
        "type": "file",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 980,
        "y": 260,
        "wires": [
            [
                "9245789932e9278f"
            ]
        ]
    },
    {
        "id": "50b3186611629c9e",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "func": "let array = [];\nlet array1 = [];\nlet plantObj\n\nplantObj = []\n\n\n\n\n       var obj =\n        \n       {\n           Time: new Date().toLocaleString('en-GB', {\n               timeZone: 'Asia/Kolkata',\n               dateStyle: 'short',\n               timeStyle: 'short',\n           }),\n             \n            INVERTER_21_IDC1: msg.payload[20].values[\"A.Ms.Amp\"],\n             INVERTER_21_IDC2: msg.payload[20].values[\"B.Ms.Amp\"],\n             INVERTER_21_UDC1: msg.payload[20].values[\"A.Ms.Vol\"],\n             INVERTER_21_UDC2: msg.payload[20].values[\"B.Ms.Vol\"],\n             INVERTER_21_PDC1: msg.payload[20].values[\"A.Ms.Watt\"],\n             INVERTER_21_PDC2: msg.payload[20].values[\"B.Ms.Watt\"],\n             INVERTER_21_PAC: msg.payload[20].values.Pac,\n             INVERTER_21_PAC1: msg.payload[20].values[\"GridMs.W.phsA\"],\n             INVERTER_21_PAC2: msg.payload[20].values[\"GridMs.W.phsB\"],\n             INVERTER_21_PAC3: msg.payload[20].values[\"GridMs.W.phsC\"],\n             INVERTER_21_UAC1: msg.payload[20].values[\"GridMs.PhV.phsA\"],\n             INVERTER_21_UAC2: msg.payload[20].values[\"GridMs.PhV.phsB\"],\n             INVERTER_21_UAC3: msg.payload[20].values[\"GridMs.PhV.phsC\"],\n             INVERTER_21_IAC1: msg.payload[20].values[\"GridMs.A.phsA\"],\n             INVERTER_21_IAC2: msg.payload[20].values[\"GridMs.A.phsB\"],\n             INVERTER_21_IAC3: msg.payload[20].values[\"GridMs.A.phsC\"],\n             INVERTER_21_FAC: msg.payload[20].values[\"GridMs.Hz\"],\n             INVERTER_21_QAC: msg.payload[20].values[\"GridMs.TotVAr\"],\n             INVERTER_21_QAC1: msg.payload[20].values[\"GridMs.VAr.phsA\"],\n             INVERTER_21_QAC2: msg.payload[20].values[\"GridMs.VAr.phsB\"],\n             INVERTER_21_QAC3: msg.payload[20].values[\"GridMs.VAr.phsC\"],\n             INVERTER_21_SAC: msg.payload[20].values[\"GridMs.TotVA\"],\n             INVERTER_21_SAC1: msg.payload[20].values[\"GridMs.VA.phsA\"],\n             INVERTER_21_SAC2: msg.payload[20].values[\"GridMs.VA.phsB\"],\n             INVERTER_21_SAC3: msg.payload[20].values[\"GridMs.VA.phsC\"],\n             INVERTER_21_PF: msg.payload[20].values[\"GridMs.TotPF\"],\n             INVERTER_21_PAC_LIMIT: msg.payload[20].values[\"Op.Dmd.WCtl\"],\n             INVERTER_21_QAC_LIMIT: msg.payload[20].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_21_PF_LIMIT: msg.payload[20].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_21_Serial_Number: msg.payload[20].values[\"Serial Number\"],\n             INVERTER_21_EAE: msg.payload[20].values[\"E-Total\"],\n             INVERTER_21_Grid_feedin: msg.payload[20].values[\"GM.TotWhOut\"],\n             INVERTER_21_User_Event_count: msg.payload[20].values[\"Op.EvtCntUsr\"],\n             INVERTER_21_Operating_Time: msg.payload[20].values[\"Mt.TotTmh\"],\n             INVERTER_21_Feed_in_time: msg.payload[20].values[\"Mt.TotOpTmh\"],\n             INVERTER_21_Event_count: msg.payload[20].values[\"Op.EvtNo\"],\n             INVERTER_21_Manufacturer_Event_count: msg.payload[20].values[\"Op.EvtNoDvlp\"],\n             INVERTER_21_Waitingtimeunitlfeedin: msg.payload[20].values[\"Op.TmsRmg\"],\n             INVERTER_21_Inverter_state: msg.payload[20].values.Inverter_state,\n             INVERTER_21_Error: msg.payload[20].values.Error,\n             INVERTER_21_Condiition: msg.payload[20].values[\"Op.Health\"],\n             INVERTER_21_Recommended_action: msg.payload[20].values[\"Op.Prio\"],\n             INVERTER_21_Grid_relay: msg.payload[20].values[\"Op.GriSwStt\"],\n             INVERTER_21_Derating_State: msg.payload[20].values[\"Inv.TmpLimStt\"],\n             INVERTER_21_InvCtl_Stt: msg.payload[20].values[\"InvCtl.Stt\"],\n             INVERTER_21_PlntCtl_Stt: msg.payload[20].values[\"PlntCtl.Stt\"],\n             INVERTER_21_PCM_DigInStt: msg.payload[20].values[\"PCM-DigInStt\"],\n             INVERTER_21_CosPhi_stimulation: msg.payload[20].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_22_IDC1: msg.payload[21].values[\"A.Ms.Amp\"],\n             INVERTER_22_IDC2: msg.payload[21].values[\"B.Ms.Amp\"],\n             INVERTER_22_UDC1: msg.payload[21].values[\"A.Ms.Vol\"],\n             INVERTER_22_UDC2: msg.payload[21].values[\"B.Ms.Vol\"],\n             INVERTER_22_PDC1: msg.payload[21].values[\"A.Ms.Watt\"],\n             INVERTER_22_PDC2: msg.payload[21].values[\"B.Ms.Watt\"],\n             INVERTER_22_PAC: msg.payload[21].values.Pac,\n             INVERTER_22_PAC1: msg.payload[21].values[\"GridMs.W.phsA\"],\n             INVERTER_22_PAC2: msg.payload[21].values[\"GridMs.W.phsB\"],\n             INVERTER_22_PAC3: msg.payload[21].values[\"GridMs.W.phsC\"],\n             INVERTER_22_UAC1: msg.payload[21].values[\"GridMs.PhV.phsA\"],\n             INVERTER_22_UAC2: msg.payload[21].values[\"GridMs.PhV.phsB\"],\n             INVERTER_22_UAC3: msg.payload[21].values[\"GridMs.PhV.phsC\"],\n             INVERTER_22_IAC1: msg.payload[21].values[\"GridMs.A.phsA\"],\n             INVERTER_22_IAC2: msg.payload[21].values[\"GridMs.A.phsB\"],\n             INVERTER_22_IAC3: msg.payload[21].values[\"GridMs.A.phsC\"],\n             INVERTER_22_FAC: msg.payload[21].values[\"GridMs.Hz\"],\n             INVERTER_22_QAC: msg.payload[21].values[\"GridMs.TotVAr\"],\n             INVERTER_22_QAC1: msg.payload[21].values[\"GridMs.VAr.phsA\"],\n             INVERTER_22_QAC2: msg.payload[21].values[\"GridMs.VAr.phsB\"],\n             INVERTER_22_QAC3: msg.payload[21].values[\"GridMs.VAr.phsC\"],\n             INVERTER_22_SAC: msg.payload[21].values[\"GridMs.TotVA\"],\n             INVERTER_22_SAC1: msg.payload[21].values[\"GridMs.VA.phsA\"],\n             INVERTER_22_SAC2: msg.payload[21].values[\"GridMs.VA.phsB\"],\n             INVERTER_22_SAC3: msg.payload[21].values[\"GridMs.VA.phsC\"],\n             INVERTER_22_PF: msg.payload[21].values[\"GridMs.TotPF\"],\n             INVERTER_22_PAC_LIMIT: msg.payload[21].values[\"Op.Dmd.WCtl\"],\n             INVERTER_22_QAC_LIMIT: msg.payload[21].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_22_PF_LIMIT: msg.payload[21].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_22_Serial_Number: msg.payload[21].values[\"Serial Number\"],\n             INVERTER_22_EAE: msg.payload[21].values[\"E-Total\"],\n             INVERTER_22_Grid_feedin: msg.payload[21].values[\"GM.TotWhOut\"],\n             INVERTER_22_User_Event_count: msg.payload[21].values[\"Op.EvtCntUsr\"],\n             INVERTER_22_Operating_Time: msg.payload[21].values[\"Mt.TotTmh\"],\n             INVERTER_22_Feed_in_time: msg.payload[21].values[\"Mt.TotOpTmh\"],\n             INVERTER_22_Event_count: msg.payload[21].values[\"Op.EvtNo\"],\n             INVERTER_22_Manufacturer_Event_count: msg.payload[21].values[\"Op.EvtNoDvlp\"],\n             INVERTER_22_Waitingtimeunitlfeedin: msg.payload[21].values[\"Op.TmsRmg\"],\n             INVERTER_22_Inverter_state: msg.payload[21].values.Inverter_state,\n             INVERTER_22_Error: msg.payload[21].values.Error,\n             INVERTER_22_Condiition: msg.payload[21].values[\"Op.Health\"],\n             INVERTER_22_Recommended_action: msg.payload[21].values[\"Op.Prio\"],\n             INVERTER_22_Grid_relay: msg.payload[21].values[\"Op.GriSwStt\"],\n             INVERTER_22_Derating_State: msg.payload[21].values[\"Inv.TmpLimStt\"],\n             INVERTER_22_InvCtl_Stt: msg.payload[21].values[\"InvCtl.Stt\"],\n             INVERTER_22_PlntCtl_Stt: msg.payload[21].values[\"PlntCtl.Stt\"],\n             INVERTER_22_PCM_DigInStt: msg.payload[21].values[\"PCM-DigInStt\"],\n             INVERTER_22_CosPhi_stimulation: msg.payload[21].values[\"Op.Dmd.PFExtCtl\"],\n\n             INVERTER_23_IDC1: msg.payload[22].values[\"A.Ms.Amp\"],\n             INVERTER_23_IDC2: msg.payload[22].values[\"B.Ms.Amp\"],\n             INVERTER_23_UDC1: msg.payload[22].values[\"A.Ms.Vol\"],\n             INVERTER_23_UDC2: msg.payload[22].values[\"B.Ms.Vol\"],\n             INVERTER_23_PDC1: msg.payload[22].values[\"A.Ms.Watt\"],\n             INVERTER_23_PDC2: msg.payload[22].values[\"B.Ms.Watt\"],\n             INVERTER_23_PAC: msg.payload[22].values.Pac,\n             INVERTER_23_PAC1: msg.payload[22].values[\"GridMs.W.phsA\"],\n             INVERTER_23_PAC2: msg.payload[22].values[\"GridMs.W.phsB\"],\n             INVERTER_23_PAC3: msg.payload[22].values[\"GridMs.W.phsC\"],\n             INVERTER_23_UAC1: msg.payload[22].values[\"GridMs.PhV.phsA\"],\n             INVERTER_23_UAC2: msg.payload[22].values[\"GridMs.PhV.phsB\"],\n             INVERTER_23_UAC3: msg.payload[22].values[\"GridMs.PhV.phsC\"],\n             INVERTER_23_IAC1: msg.payload[22].values[\"GridMs.A.phsA\"],\n             INVERTER_23_IAC2: msg.payload[22].values[\"GridMs.A.phsB\"],\n             INVERTER_23_IAC3: msg.payload[22].values[\"GridMs.A.phsC\"],\n             INVERTER_23_FAC: msg.payload[22].values[\"GridMs.Hz\"],\n             INVERTER_23_QAC: msg.payload[22].values[\"GridMs.TotVAr\"],\n             INVERTER_23_QAC1: msg.payload[22].values[\"GridMs.VAr.phsA\"],\n             INVERTER_23_QAC2: msg.payload[22].values[\"GridMs.VAr.phsB\"],\n             INVERTER_23_QAC3: msg.payload[22].values[\"GridMs.VAr.phsC\"],\n             INVERTER_23_SAC: msg.payload[22].values[\"GridMs.TotVA\"],\n             INVERTER_23_SAC1: msg.payload[22].values[\"GridMs.VA.phsA\"],\n             INVERTER_23_SAC2: msg.payload[22].values[\"GridMs.VA.phsB\"],\n             INVERTER_23_SAC3: msg.payload[22].values[\"GridMs.VA.phsC\"],\n             INVERTER_23_PF: msg.payload[22].values[\"GridMs.TotPF\"],\n             INVERTER_23_PAC_LIMIT: msg.payload[22].values[\"Op.Dmd.WCtl\"],\n             INVERTER_23_QAC_LIMIT: msg.payload[22].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_23_PF_LIMIT: msg.payload[22].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_23_Serial_Number: msg.payload[22].values[\"Serial Number\"],\n             INVERTER_23_EAE: msg.payload[22].values[\"E-Total\"],\n             INVERTER_23_Grid_feedin: msg.payload[22].values[\"GM.TotWhOut\"],\n             INVERTER_23_User_Event_count: msg.payload[22].values[\"Op.EvtCntUsr\"],\n             INVERTER_23_Operating_Time: msg.payload[22].values[\"Mt.TotTmh\"],\n             INVERTER_23_Feed_in_time: msg.payload[22].values[\"Mt.TotOpTmh\"],\n             INVERTER_23_Event_count: msg.payload[22].values[\"Op.EvtNo\"],\n             INVERTER_23_Manufacturer_Event_count: msg.payload[22].values[\"Op.EvtNoDvlp\"],\n             INVERTER_23_Waitingtimeunitlfeedin: msg.payload[22].values[\"Op.TmsRmg\"],\n             INVERTER_23_Inverter_state: msg.payload[22].values.Inverter_state,\n             INVERTER_23_Error: msg.payload[22].values.Error,\n             INVERTER_23_Condiition: msg.payload[22].values[\"Op.Health\"],\n             INVERTER_23_Recommended_action: msg.payload[22].values[\"Op.Prio\"],\n             INVERTER_23_Grid_relay: msg.payload[22].values[\"Op.GriSwStt\"],\n             INVERTER_23_Derating_State: msg.payload[22].values[\"Inv.TmpLimStt\"],\n             INVERTER_23_InvCtl_Stt: msg.payload[22].values[\"InvCtl.Stt\"],\n             INVERTER_23_PlntCtl_Stt: msg.payload[22].values[\"PlntCtl.Stt\"],\n             INVERTER_23_PCM_DigInStt: msg.payload[22].values[\"PCM-DigInStt\"],\n             INVERTER_23_CosPhi_stimulation: msg.payload[22].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_24_IDC1: msg.payload[23].values[\"A.Ms.Amp\"],\n             INVERTER_24_IDC2: msg.payload[23].values[\"B.Ms.Amp\"],\n             INVERTER_24_UDC1: msg.payload[23].values[\"A.Ms.Vol\"],\n             INVERTER_24_UDC2: msg.payload[23].values[\"B.Ms.Vol\"],\n             INVERTER_24_PDC1: msg.payload[23].values[\"A.Ms.Watt\"],\n             INVERTER_24_PDC2: msg.payload[23].values[\"B.Ms.Watt\"],\n             INVERTER_24_PAC: msg.payload[23].values.Pac,\n             INVERTER_24_PAC1: msg.payload[23].values[\"GridMs.W.phsA\"],\n             INVERTER_24_PAC2: msg.payload[23].values[\"GridMs.W.phsB\"],\n             INVERTER_24_PAC3: msg.payload[23].values[\"GridMs.W.phsC\"],\n             INVERTER_24_UAC1: msg.payload[23].values[\"GridMs.PhV.phsA\"],\n             INVERTER_24_UAC2: msg.payload[23].values[\"GridMs.PhV.phsB\"],\n             INVERTER_24_UAC3: msg.payload[23].values[\"GridMs.PhV.phsC\"],\n             INVERTER_24_IAC1: msg.payload[23].values[\"GridMs.A.phsA\"],\n             INVERTER_24_IAC2: msg.payload[23].values[\"GridMs.A.phsB\"],\n             INVERTER_24_IAC3: msg.payload[23].values[\"GridMs.A.phsC\"],\n             INVERTER_24_FAC: msg.payload[23].values[\"GridMs.Hz\"],\n             INVERTER_24_QAC: msg.payload[23].values[\"GridMs.TotVAr\"],\n             INVERTER_24_QAC1: msg.payload[23].values[\"GridMs.VAr.phsA\"],\n             INVERTER_24_QAC2: msg.payload[23].values[\"GridMs.VAr.phsB\"],\n             INVERTER_24_QAC3: msg.payload[23].values[\"GridMs.VAr.phsC\"],\n             INVERTER_24_SAC: msg.payload[23].values[\"GridMs.TotVA\"],\n             INVERTER_24_SAC1: msg.payload[23].values[\"GridMs.VA.phsA\"],\n             INVERTER_24_SAC2: msg.payload[23].values[\"GridMs.VA.phsB\"],\n             INVERTER_24_SAC3: msg.payload[23].values[\"GridMs.VA.phsC\"],\n             INVERTER_24_PF: msg.payload[23].values[\"GridMs.TotPF\"],\n             INVERTER_24_PAC_LIMIT: msg.payload[23].values[\"Op.Dmd.WCtl\"],\n             INVERTER_24_QAC_LIMIT: msg.payload[23].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_24_PF_LIMIT: msg.payload[23].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_24_Serial_Number: msg.payload[23].values[\"Serial Number\"],\n             INVERTER_24_EAE: msg.payload[23].values[\"E-Total\"],\n             INVERTER_24_Grid_feedin: msg.payload[23].values[\"GM.TotWhOut\"],\n             INVERTER_24_User_Event_count: msg.payload[23].values[\"Op.EvtCntUsr\"],\n             INVERTER_24_Operating_Time: msg.payload[23].values[\"Mt.TotTmh\"],\n             INVERTER_24_Feed_in_time: msg.payload[23].values[\"Mt.TotOpTmh\"],\n             INVERTER_24_Event_count: msg.payload[23].values[\"Op.EvtNo\"],\n             INVERTER_24_Manufacturer_Event_count: msg.payload[23].values[\"Op.EvtNoDvlp\"],\n             INVERTER_24_Waitingtimeunitlfeedin: msg.payload[23].values[\"Op.TmsRmg\"],\n             INVERTER_24_Inverter_state: msg.payload[23].values.Inverter_state,\n             INVERTER_24_Error: msg.payload[23].values.Error,\n             INVERTER_24_Condiition: msg.payload[23].values[\"Op.Health\"],\n             INVERTER_24_Recommended_action: msg.payload[23].values[\"Op.Prio\"],\n             INVERTER_24_Grid_relay: msg.payload[23].values[\"Op.GriSwStt\"],\n             INVERTER_24_Derating_State: msg.payload[23].values[\"Inv.TmpLimStt\"],\n             INVERTER_24_InvCtl_Stt: msg.payload[23].values[\"InvCtl.Stt\"],\n             INVERTER_24_PlntCtl_Stt: msg.payload[23].values[\"PlntCtl.Stt\"],\n             INVERTER_24_PCM_DigInStt: msg.payload[23].values[\"PCM-DigInStt\"],\n             INVERTER_24_CosPhi_stimulation: msg.payload[23].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_25_IDC1: msg.payload[24].values[\"A.Ms.Amp\"],\n             INVERTER_25_IDC2: msg.payload[24].values[\"B.Ms.Amp\"],\n             INVERTER_25_UDC1: msg.payload[24].values[\"A.Ms.Vol\"],\n             INVERTER_25_UDC2: msg.payload[24].values[\"B.Ms.Vol\"],\n             INVERTER_25_PDC1: msg.payload[24].values[\"A.Ms.Watt\"],\n             INVERTER_25_PDC2: msg.payload[24].values[\"B.Ms.Watt\"],\n             INVERTER_25_PAC: msg.payload[24].values.Pac,\n             INVERTER_25_PAC1: msg.payload[24].values[\"GridMs.W.phsA\"],\n             INVERTER_25_PAC2: msg.payload[24].values[\"GridMs.W.phsB\"],\n             INVERTER_25_PAC3: msg.payload[24].values[\"GridMs.W.phsC\"],\n             INVERTER_25_UAC1: msg.payload[24].values[\"GridMs.PhV.phsA\"],\n             INVERTER_25_UAC2: msg.payload[24].values[\"GridMs.PhV.phsB\"],\n             INVERTER_25_UAC3: msg.payload[24].values[\"GridMs.PhV.phsC\"],\n             INVERTER_25_IAC1: msg.payload[24].values[\"GridMs.A.phsA\"],\n             INVERTER_25_IAC2: msg.payload[24].values[\"GridMs.A.phsB\"],\n             INVERTER_25_IAC3: msg.payload[24].values[\"GridMs.A.phsC\"],\n             INVERTER_25_FAC: msg.payload[24].values[\"GridMs.Hz\"],\n             INVERTER_25_QAC: msg.payload[24].values[\"GridMs.TotVAr\"],\n             INVERTER_25_QAC1: msg.payload[24].values[\"GridMs.VAr.phsA\"],\n             INVERTER_25_QAC2: msg.payload[24].values[\"GridMs.VAr.phsB\"],\n             INVERTER_25_QAC3: msg.payload[24].values[\"GridMs.VAr.phsC\"],\n             INVERTER_25_SAC: msg.payload[24].values[\"GridMs.TotVA\"],\n             INVERTER_25_SAC1: msg.payload[24].values[\"GridMs.VA.phsA\"],\n             INVERTER_25_SAC2: msg.payload[24].values[\"GridMs.VA.phsB\"],\n             INVERTER_25_SAC3: msg.payload[24].values[\"GridMs.VA.phsC\"],\n             INVERTER_25_PF: msg.payload[24].values[\"GridMs.TotPF\"],\n             INVERTER_25_PAC_LIMIT: msg.payload[24].values[\"Op.Dmd.WCtl\"],\n             INVERTER_25_QAC_LIMIT: msg.payload[24].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_25_PF_LIMIT: msg.payload[24].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_25_Serial_Number: msg.payload[24].values[\"Serial Number\"],\n             INVERTER_25_EAE: msg.payload[24].values[\"E-Total\"],\n             INVERTER_25_Grid_feedin: msg.payload[24].values[\"GM.TotWhOut\"],\n             INVERTER_25_User_Event_count: msg.payload[24].values[\"Op.EvtCntUsr\"],\n             INVERTER_25_Operating_Time: msg.payload[24].values[\"Mt.TotTmh\"],\n             INVERTER_25_Feed_in_time: msg.payload[24].values[\"Mt.TotOpTmh\"],\n             INVERTER_25_Event_count: msg.payload[24].values[\"Op.EvtNo\"],\n             INVERTER_25_Manufacturer_Event_count: msg.payload[24].values[\"Op.EvtNoDvlp\"],\n             INVERTER_25_Waitingtimeunitlfeedin: msg.payload[24].values[\"Op.TmsRmg\"],\n             INVERTER_25_Inverter_state: msg.payload[24].values.Inverter_state,\n             INVERTER_25_Error: msg.payload[24].values.Error,\n             INVERTER_25_Condiition: msg.payload[24].values[\"Op.Health\"],\n             INVERTER_25_Recommended_action: msg.payload[24].values[\"Op.Prio\"],\n             INVERTER_25_Grid_relay: msg.payload[24].values[\"Op.GriSwStt\"],\n             INVERTER_25_Derating_State: msg.payload[24].values[\"Inv.TmpLimStt\"],\n             INVERTER_25_InvCtl_Stt: msg.payload[24].values[\"InvCtl.Stt\"],\n             INVERTER_25_PlntCtl_Stt: msg.payload[24].values[\"PlntCtl.Stt\"],\n             INVERTER_25_PCM_DigInStt: msg.payload[24].values[\"PCM-DigInStt\"],\n             INVERTER_25_CosPhi_stimulation: msg.payload[24].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_26_IDC1: msg.payload[25].values[\"A.Ms.Amp\"],\n             INVERTER_26_IDC2: msg.payload[25].values[\"B.Ms.Amp\"],\n             INVERTER_26_UDC1: msg.payload[25].values[\"A.Ms.Vol\"],\n             INVERTER_26_UDC2: msg.payload[25].values[\"B.Ms.Vol\"],\n             INVERTER_26_PDC1: msg.payload[25].values[\"A.Ms.Watt\"],\n             INVERTER_26_PDC2: msg.payload[25].values[\"B.Ms.Watt\"],\n             INVERTER_26_PAC: msg.payload[25].values.Pac,\n             INVERTER_26_PAC1: msg.payload[25].values[\"GridMs.W.phsA\"],\n             INVERTER_26_PAC2: msg.payload[25].values[\"GridMs.W.phsB\"],\n             INVERTER_26_PAC3: msg.payload[25].values[\"GridMs.W.phsC\"],\n             INVERTER_26_UAC1: msg.payload[25].values[\"GridMs.PhV.phsA\"],\n             INVERTER_26_UAC2: msg.payload[25].values[\"GridMs.PhV.phsB\"],\n             INVERTER_26_UAC3: msg.payload[25].values[\"GridMs.PhV.phsC\"],\n             INVERTER_26_IAC1: msg.payload[25].values[\"GridMs.A.phsA\"],\n             INVERTER_26_IAC2: msg.payload[25].values[\"GridMs.A.phsB\"],\n             INVERTER_26_IAC3: msg.payload[25].values[\"GridMs.A.phsC\"],\n             INVERTER_26_FAC: msg.payload[25].values[\"GridMs.Hz\"],\n             INVERTER_26_QAC: msg.payload[25].values[\"GridMs.TotVAr\"],\n             INVERTER_26_QAC1: msg.payload[25].values[\"GridMs.VAr.phsA\"],\n             INVERTER_26_QAC2: msg.payload[25].values[\"GridMs.VAr.phsB\"],\n             INVERTER_26_QAC3: msg.payload[25].values[\"GridMs.VAr.phsC\"],\n             INVERTER_26_SAC: msg.payload[25].values[\"GridMs.TotVA\"],\n             INVERTER_26_SAC1: msg.payload[25].values[\"GridMs.VA.phsA\"],\n             INVERTER_26_SAC2: msg.payload[25].values[\"GridMs.VA.phsB\"],\n             INVERTER_26_SAC3: msg.payload[25].values[\"GridMs.VA.phsC\"],\n             INVERTER_26_PF: msg.payload[25].values[\"GridMs.TotPF\"],\n             INVERTER_26_PAC_LIMIT: msg.payload[25].values[\"Op.Dmd.WCtl\"],\n             INVERTER_26_QAC_LIMIT: msg.payload[25].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_26_PF_LIMIT: msg.payload[25].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_26_Serial_Number: msg.payload[25].values[\"Serial Number\"],\n             INVERTER_26_EAE: msg.payload[25].values[\"E-Total\"],\n             INVERTER_26_Grid_feedin: msg.payload[25].values[\"GM.TotWhOut\"],\n             INVERTER_26_User_Event_count: msg.payload[25].values[\"Op.EvtCntUsr\"],\n             INVERTER_26_Operating_Time: msg.payload[25].values[\"Mt.TotTmh\"],\n             INVERTER_26_Feed_in_time: msg.payload[25].values[\"Mt.TotOpTmh\"],\n             INVERTER_26_Event_count: msg.payload[25].values[\"Op.EvtNo\"],\n             INVERTER_26_Manufacturer_Event_count: msg.payload[25].values[\"Op.EvtNoDvlp\"],\n             INVERTER_26_Waitingtimeunitlfeedin: msg.payload[25].values[\"Op.TmsRmg\"],\n             INVERTER_26_Inverter_state: msg.payload[25].values.Inverter_state,\n             INVERTER_26_Error: msg.payload[25].values.Error,\n             INVERTER_26_Condiition: msg.payload[25].values[\"Op.Health\"],\n             INVERTER_26_Recommended_action: msg.payload[25].values[\"Op.Prio\"],\n             INVERTER_26_Grid_relay: msg.payload[25].values[\"Op.GriSwStt\"],\n             INVERTER_26_Derating_State: msg.payload[25].values[\"Inv.TmpLimStt\"],\n             INVERTER_26_InvCtl_Stt: msg.payload[25].values[\"InvCtl.Stt\"],\n             INVERTER_26_PlntCtl_Stt: msg.payload[25].values[\"PlntCtl.Stt\"],\n             INVERTER_26_PCM_DigInStt: msg.payload[25].values[\"PCM-DigInStt\"],\n             INVERTER_26_CosPhi_stimulation: msg.payload[25].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_27_IDC1: msg.payload[26].values[\"A.Ms.Amp\"],\n             INVERTER_27_IDC2: msg.payload[26].values[\"B.Ms.Amp\"],\n             INVERTER_27_UDC1: msg.payload[26].values[\"A.Ms.Vol\"],\n             INVERTER_27_UDC2: msg.payload[26].values[\"B.Ms.Vol\"],\n             INVERTER_27_PDC1: msg.payload[26].values[\"A.Ms.Watt\"],\n             INVERTER_27_PDC2: msg.payload[26].values[\"B.Ms.Watt\"],\n             INVERTER_27_PAC: msg.payload[26].values.Pac,\n             INVERTER_27_PAC1: msg.payload[26].values[\"GridMs.W.phsA\"],\n             INVERTER_27_PAC2: msg.payload[26].values[\"GridMs.W.phsB\"],\n             INVERTER_27_PAC3: msg.payload[26].values[\"GridMs.W.phsC\"],\n             INVERTER_27_UAC1: msg.payload[26].values[\"GridMs.PhV.phsA\"],\n             INVERTER_27_UAC2: msg.payload[26].values[\"GridMs.PhV.phsB\"],\n             INVERTER_27_UAC3: msg.payload[26].values[\"GridMs.PhV.phsC\"],\n             INVERTER_27_IAC1: msg.payload[26].values[\"GridMs.A.phsA\"],\n             INVERTER_27_IAC2: msg.payload[26].values[\"GridMs.A.phsB\"],\n             INVERTER_27_IAC3: msg.payload[26].values[\"GridMs.A.phsC\"],\n             INVERTER_27_FAC: msg.payload[26].values[\"GridMs.Hz\"],\n             INVERTER_27_QAC: msg.payload[26].values[\"GridMs.TotVAr\"],\n             INVERTER_27_QAC1: msg.payload[26].values[\"GridMs.VAr.phsA\"],\n             INVERTER_27_QAC2: msg.payload[26].values[\"GridMs.VAr.phsB\"],\n             INVERTER_27_QAC3: msg.payload[26].values[\"GridMs.VAr.phsC\"],\n             INVERTER_27_SAC: msg.payload[26].values[\"GridMs.TotVA\"],\n             INVERTER_27_SAC1: msg.payload[26].values[\"GridMs.VA.phsA\"],\n             INVERTER_27_SAC2: msg.payload[26].values[\"GridMs.VA.phsB\"],\n             INVERTER_27_SAC3: msg.payload[26].values[\"GridMs.VA.phsC\"],\n             INVERTER_27_PF: msg.payload[26].values[\"GridMs.TotPF\"],\n             INVERTER_27_PAC_LIMIT: msg.payload[26].values[\"Op.Dmd.WCtl\"],\n             INVERTER_27_QAC_LIMIT: msg.payload[26].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_27_PF_LIMIT: msg.payload[26].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_27_Serial_Number: msg.payload[26].values[\"Serial Number\"],\n             INVERTER_27_EAE: msg.payload[26].values[\"E-Total\"],\n             INVERTER_27_Grid_feedin: msg.payload[26].values[\"GM.TotWhOut\"],\n             INVERTER_27_User_Event_count: msg.payload[26].values[\"Op.EvtCntUsr\"],\n             INVERTER_27_Operating_Time: msg.payload[26].values[\"Mt.TotTmh\"],\n             INVERTER_27_Feed_in_time: msg.payload[26].values[\"Mt.TotOpTmh\"],\n             INVERTER_27_Event_count: msg.payload[26].values[\"Op.EvtNo\"],\n             INVERTER_27_Manufacturer_Event_count: msg.payload[26].values[\"Op.EvtNoDvlp\"],\n             INVERTER_27_Waitingtimeunitlfeedin: msg.payload[26].values[\"Op.TmsRmg\"],\n             INVERTER_27_Inverter_state: msg.payload[26].values.Inverter_state,\n             INVERTER_27_Error: msg.payload[26].values.Error,\n             INVERTER_27_Condiition: msg.payload[26].values[\"Op.Health\"],\n             INVERTER_27_Recommended_action: msg.payload[26].values[\"Op.Prio\"],\n             INVERTER_27_Grid_relay: msg.payload[26].values[\"Op.GriSwStt\"],\n             INVERTER_27_Derating_State: msg.payload[26].values[\"Inv.TmpLimStt\"],\n             INVERTER_27_InvCtl_Stt: msg.payload[26].values[\"InvCtl.Stt\"],\n             INVERTER_27_PlntCtl_Stt: msg.payload[26].values[\"PlntCtl.Stt\"],\n             INVERTER_27_PCM_DigInStt: msg.payload[26].values[\"PCM-DigInStt\"],\n             INVERTER_27_CosPhi_stimulation: msg.payload[26].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_28_IDC1: msg.payload[27].values[\"A.Ms.Amp\"],\n             INVERTER_28_IDC2: msg.payload[27].values[\"B.Ms.Amp\"],\n             INVERTER_28_UDC1: msg.payload[27].values[\"A.Ms.Vol\"],\n             INVERTER_28_UDC2: msg.payload[27].values[\"B.Ms.Vol\"],\n             INVERTER_28_PDC1: msg.payload[27].values[\"A.Ms.Watt\"],\n             INVERTER_28_PDC2: msg.payload[27].values[\"B.Ms.Watt\"],\n             INVERTER_28_PAC: msg.payload[27].values.Pac,\n             INVERTER_28_PAC1: msg.payload[27].values[\"GridMs.W.phsA\"],\n             INVERTER_28_PAC2: msg.payload[27].values[\"GridMs.W.phsB\"],\n             INVERTER_28_PAC3: msg.payload[27].values[\"GridMs.W.phsC\"],\n             INVERTER_28_UAC1: msg.payload[27].values[\"GridMs.PhV.phsA\"],\n             INVERTER_28_UAC2: msg.payload[27].values[\"GridMs.PhV.phsB\"],\n             INVERTER_28_UAC3: msg.payload[27].values[\"GridMs.PhV.phsC\"],\n             INVERTER_28_IAC1: msg.payload[27].values[\"GridMs.A.phsA\"],\n             INVERTER_28_IAC2: msg.payload[27].values[\"GridMs.A.phsB\"],\n             INVERTER_28_IAC3: msg.payload[27].values[\"GridMs.A.phsC\"],\n             INVERTER_28_FAC: msg.payload[27].values[\"GridMs.Hz\"],\n             INVERTER_28_QAC: msg.payload[27].values[\"GridMs.TotVAr\"],\n             INVERTER_28_QAC1: msg.payload[27].values[\"GridMs.VAr.phsA\"],\n             INVERTER_28_QAC2: msg.payload[27].values[\"GridMs.VAr.phsB\"],\n             INVERTER_28_QAC3: msg.payload[27].values[\"GridMs.VAr.phsC\"],\n             INVERTER_28_SAC: msg.payload[27].values[\"GridMs.TotVA\"],\n             INVERTER_28_SAC1: msg.payload[27].values[\"GridMs.VA.phsA\"],\n             INVERTER_28_SAC2: msg.payload[27].values[\"GridMs.VA.phsB\"],\n             INVERTER_28_SAC3: msg.payload[27].values[\"GridMs.VA.phsC\"],\n             INVERTER_28_PF: msg.payload[27].values[\"GridMs.TotPF\"],\n             INVERTER_28_PAC_LIMIT: msg.payload[27].values[\"Op.Dmd.WCtl\"],\n             INVERTER_28_QAC_LIMIT: msg.payload[27].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_28_PF_LIMIT: msg.payload[27].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_28_Serial_Number: msg.payload[27].values[\"Serial Number\"],\n             INVERTER_28_EAE: msg.payload[27].values[\"E-Total\"],\n             INVERTER_28_Grid_feedin: msg.payload[27].values[\"GM.TotWhOut\"],\n             INVERTER_28_User_Event_count: msg.payload[27].values[\"Op.EvtCntUsr\"],\n             INVERTER_28_Operating_Time: msg.payload[27].values[\"Mt.TotTmh\"],\n             INVERTER_28_Feed_in_time: msg.payload[27].values[\"Mt.TotOpTmh\"],\n             INVERTER_28_Event_count: msg.payload[27].values[\"Op.EvtNo\"],\n             INVERTER_28_Manufacturer_Event_count: msg.payload[27].values[\"Op.EvtNoDvlp\"],\n             INVERTER_28_Waitingtimeunitlfeedin: msg.payload[27].values[\"Op.TmsRmg\"],\n             INVERTER_28_Inverter_state: msg.payload[27].values.Inverter_state,\n             INVERTER_28_Error: msg.payload[27].values.Error,\n             INVERTER_28_Condiition: msg.payload[27].values[\"Op.Health\"],\n             INVERTER_28_Recommended_action: msg.payload[27].values[\"Op.Prio\"],\n             INVERTER_28_Grid_relay: msg.payload[27].values[\"Op.GriSwStt\"],\n             INVERTER_28_Derating_State: msg.payload[27].values[\"Inv.TmpLimStt\"],\n             INVERTER_28_InvCtl_Stt: msg.payload[27].values[\"InvCtl.Stt\"],\n             INVERTER_28_PlntCtl_Stt: msg.payload[27].values[\"PlntCtl.Stt\"],\n             INVERTER_28_PCM_DigInStt: msg.payload[27].values[\"PCM-DigInStt\"],\n             INVERTER_28_CosPhi_stimulation: msg.payload[27].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER__IDC1: msg.payload[28].values[\"A.Ms.Amp\"],\n             INVERTER_29_IDC2: msg.payload[28].values[\"B.Ms.Amp\"],\n             INVERTER_29_UDC1: msg.payload[28].values[\"A.Ms.Vol\"],\n             INVERTER_29_UDC2: msg.payload[28].values[\"B.Ms.Vol\"],\n             INVERTER_29_PDC1: msg.payload[28].values[\"A.Ms.Watt\"],\n             INVERTER_29_PDC2: msg.payload[28].values[\"B.Ms.Watt\"],\n             INVERTER_29_PAC: msg.payload[28].values.Pac,\n             INVERTER_29_PAC1: msg.payload[28].values[\"GridMs.W.phsA\"],\n             INVERTER_29_PAC2: msg.payload[28].values[\"GridMs.W.phsB\"],\n             INVERTER_29_PAC3: msg.payload[28].values[\"GridMs.W.phsC\"],\n             INVERTER_29_UAC1: msg.payload[28].values[\"GridMs.PhV.phsA\"],\n             INVERTER_29_UAC2: msg.payload[28].values[\"GridMs.PhV.phsB\"],\n             INVERTER_29_UAC3: msg.payload[28].values[\"GridMs.PhV.phsC\"],\n             INVERTER_29_IAC1: msg.payload[28].values[\"GridMs.A.phsA\"],\n             INVERTER_29_IAC2: msg.payload[28].values[\"GridMs.A.phsB\"],\n             INVERTER_29_IAC3: msg.payload[28].values[\"GridMs.A.phsC\"],\n             INVERTER_29_FAC: msg.payload[28].values[\"GridMs.Hz\"],\n             INVERTER_29_QAC: msg.payload[28].values[\"GridMs.TotVAr\"],\n             INVERTER_29_QAC1: msg.payload[28].values[\"GridMs.VAr.phsA\"],\n             INVERTER_29_QAC2: msg.payload[28].values[\"GridMs.VAr.phsB\"],\n             INVERTER_29_QAC3: msg.payload[28].values[\"GridMs.VAr.phsC\"],\n             INVERTER_29_SAC: msg.payload[28].values[\"GridMs.TotVA\"],\n             INVERTER_29_SAC1: msg.payload[28].values[\"GridMs.VA.phsA\"],\n             INVERTER_29_SAC2: msg.payload[28].values[\"GridMs.VA.phsB\"],\n             INVERTER_29_SAC3: msg.payload[28].values[\"GridMs.VA.phsC\"],\n             INVERTER_29_PF: msg.payload[28].values[\"GridMs.TotPF\"],\n             INVERTER_29_PAC_LIMIT: msg.payload[28].values[\"Op.Dmd.WCtl\"],\n             INVERTER_29_QAC_LIMIT: msg.payload[28].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_29_PF_LIMIT: msg.payload[28].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_29_Serial_Number: msg.payload[28].values[\"Serial Number\"],\n             INVERTER_29_EAE: msg.payload[28].values[\"E-Total\"],\n             INVERTER_29_Grid_feedin: msg.payload[28].values[\"GM.TotWhOut\"],\n             INVERTER_29_User_Event_count: msg.payload[28].values[\"Op.EvtCntUsr\"],\n             INVERTER_29_Operating_Time: msg.payload[28].values[\"Mt.TotTmh\"],\n             INVERTER_29_Feed_in_time: msg.payload[28].values[\"Mt.TotOpTmh\"],\n             INVERTER_29_Event_count: msg.payload[28].values[\"Op.EvtNo\"],\n             INVERTER_29_Manufacturer_Event_count: msg.payload[28].values[\"Op.EvtNoDvlp\"],\n             INVERTER_29_Waitingtimeunitlfeedin: msg.payload[28].values[\"Op.TmsRmg\"],\n             INVERTER_29_Inverter_state: msg.payload[28].values.Inverter_state,\n             INVERTER_29_Error: msg.payload[28].values.Error,\n             INVERTER_29_Condiition: msg.payload[28].values[\"Op.Health\"],\n             INVERTER_29_Recommended_action: msg.payload[28].values[\"Op.Prio\"],\n             INVERTER_29_Grid_relay: msg.payload[28].values[\"Op.GriSwStt\"],\n             INVERTER_29_Derating_State: msg.payload[28].values[\"Inv.TmpLimStt\"],\n             INVERTER_29_InvCtl_Stt: msg.payload[28].values[\"InvCtl.Stt\"],\n             INVERTER_29_PlntCtl_Stt: msg.payload[28].values[\"PlntCtl.Stt\"],\n             INVERTER_29_PCM_DigInStt: msg.payload[28].values[\"PCM-DigInStt\"],\n             INVERTER_29_CosPhi_stimulation: msg.payload[28].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_30_IDC1: msg.payload[29].values[\"A.Ms.Amp\"],\n             INVERTER_30_IDC2: msg.payload[29].values[\"B.Ms.Amp\"],\n             INVERTER_30_UDC1: msg.payload[29].values[\"A.Ms.Vol\"],\n             INVERTER_30_UDC2: msg.payload[29].values[\"B.Ms.Vol\"],\n             INVERTER_30_PDC1: msg.payload[29].values[\"A.Ms.Watt\"],\n             INVERTER_30_PDC2: msg.payload[29].values[\"B.Ms.Watt\"],\n             INVERTER_30_PAC: msg.payload[29].values.Pac,\n             INVERTER_30_PAC1: msg.payload[29].values[\"GridMs.W.phsA\"],\n             INVERTER_30_PAC2: msg.payload[29].values[\"GridMs.W.phsB\"],\n             INVERTER_30_PAC3: msg.payload[29].values[\"GridMs.W.phsC\"],\n             INVERTER_30_UAC1: msg.payload[29].values[\"GridMs.PhV.phsA\"],\n             INVERTER_30_UAC2: msg.payload[29].values[\"GridMs.PhV.phsB\"],\n             INVERTER_30_UAC3: msg.payload[29].values[\"GridMs.PhV.phsC\"],\n             INVERTER_30_IAC1: msg.payload[29].values[\"GridMs.A.phsA\"],\n             INVERTER_30_IAC2: msg.payload[29].values[\"GridMs.A.phsB\"],\n             INVERTER_30_IAC3: msg.payload[29].values[\"GridMs.A.phsC\"],\n             INVERTER_30_FAC: msg.payload[29].values[\"GridMs.Hz\"],\n             INVERTER_30_QAC: msg.payload[29].values[\"GridMs.TotVAr\"],\n             INVERTER_30_QAC1: msg.payload[29].values[\"GridMs.VAr.phsA\"],\n             INVERTER_30_QAC2: msg.payload[29].values[\"GridMs.VAr.phsB\"],\n             INVERTER_30_QAC3: msg.payload[29].values[\"GridMs.VAr.phsC\"],\n             INVERTER_30_SAC: msg.payload[29].values[\"GridMs.TotVA\"],\n             INVERTER_30_SAC1: msg.payload[29].values[\"GridMs.VA.phsA\"],\n             INVERTER_30_SAC2: msg.payload[29].values[\"GridMs.VA.phsB\"],\n             INVERTER_30_SAC3: msg.payload[29].values[\"GridMs.VA.phsC\"],\n             INVERTER_30_PF: msg.payload[29].values[\"GridMs.TotPF\"],\n             INVERTER_30_PAC_LIMIT: msg.payload[29].values[\"Op.Dmd.WCtl\"],\n             INVERTER_30_QAC_LIMIT: msg.payload[29].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_30_PF_LIMIT: msg.payload[29].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_30_Serial_Number: msg.payload[29].values[\"Serial Number\"],\n             INVERTER_30_EAE: msg.payload[29].values[\"E-Total\"],\n             INVERTER_30_Grid_feedin: msg.payload[29].values[\"GM.TotWhOut\"],\n             INVERTER_30_User_Event_count: msg.payload[29].values[\"Op.EvtCntUsr\"],\n             INVERTER_30_Operating_Time: msg.payload[29].values[\"Mt.TotTmh\"],\n             INVERTER_30_Feed_in_time: msg.payload[29].values[\"Mt.TotOpTmh\"],\n             INVERTER_30_Event_count: msg.payload[29].values[\"Op.EvtNo\"],\n             INVERTER_30_Manufacturer_Event_count: msg.payload[29].values[\"Op.EvtNoDvlp\"],\n             INVERTER_30_Waitingtimeunitlfeedin: msg.payload[29].values[\"Op.TmsRmg\"],\n             INVERTER_30_Inverter_state: msg.payload[29].values.Inverter_state,\n             INVERTER_30_Error: msg.payload[29].values.Error,\n             INVERTER_30_Condiition: msg.payload[29].values[\"Op.Health\"],\n             INVERTER_30_Recommended_action: msg.payload[29].values[\"Op.Prio\"],\n             INVERTER_30_Grid_relay: msg.payload[29].values[\"Op.GriSwStt\"],\n             INVERTER_30_Derating_State: msg.payload[29].values[\"Inv.TmpLimStt\"],\n             INVERTER_30_InvCtl_Stt: msg.payload[29].values[\"InvCtl.Stt\"],\n             INVERTER_30_PlntCtl_Stt: msg.payload[29].values[\"PlntCtl.Stt\"],\n             INVERTER_30_PCM_DigInStt: msg.payload[29].values[\"PCM-DigInStt\"],\n             INVERTER_30_CosPhi_stimulation: msg.payload[29].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_31_IDC1: msg.payload[30].values[\"A.Ms.Amp\"],\n             INVERTER_31_IDC2: msg.payload[30].values[\"B.Ms.Amp\"],\n             INVERTER_31_UDC1: msg.payload[30].values[\"A.Ms.Vol\"],\n             INVERTER_31_UDC2: msg.payload[30].values[\"B.Ms.Vol\"],\n             INVERTER_31_PDC1: msg.payload[30].values[\"A.Ms.Watt\"],\n             INVERTER_31_PDC2: msg.payload[30].values[\"B.Ms.Watt\"],\n             INVERTER_31_PAC: msg.payload[30].values.Pac,\n             INVERTER_31_PAC1: msg.payload[30].values[\"GridMs.W.phsA\"],\n             INVERTER_31_PAC2: msg.payload[30].values[\"GridMs.W.phsB\"],\n             INVERTER_31_PAC3: msg.payload[30].values[\"GridMs.W.phsC\"],\n             INVERTER_31_UAC1: msg.payload[30].values[\"GridMs.PhV.phsA\"],\n             INVERTER_31_UAC2: msg.payload[30].values[\"GridMs.PhV.phsB\"],\n             INVERTER_31_UAC3: msg.payload[30].values[\"GridMs.PhV.phsC\"],\n             INVERTER_31_IAC1: msg.payload[30].values[\"GridMs.A.phsA\"],\n             INVERTER_31_IAC2: msg.payload[30].values[\"GridMs.A.phsB\"],\n             INVERTER_31_IAC3: msg.payload[30].values[\"GridMs.A.phsC\"],\n             INVERTER_31_FAC: msg.payload[30].values[\"GridMs.Hz\"],\n             INVERTER_31_QAC: msg.payload[30].values[\"GridMs.TotVAr\"],\n             INVERTER_31_QAC1: msg.payload[30].values[\"GridMs.VAr.phsA\"],\n             INVERTER_31_QAC2: msg.payload[30].values[\"GridMs.VAr.phsB\"],\n             INVERTER_31_QAC3: msg.payload[30].values[\"GridMs.VAr.phsC\"],\n             INVERTER_31_SAC: msg.payload[30].values[\"GridMs.TotVA\"],\n             INVERTER_31_SAC1: msg.payload[30].values[\"GridMs.VA.phsA\"],\n             INVERTER_31_SAC2: msg.payload[30].values[\"GridMs.VA.phsB\"],\n             INVERTER_31_SAC3: msg.payload[30].values[\"GridMs.VA.phsC\"],\n             INVERTER_31_PF: msg.payload[30].values[\"GridMs.TotPF\"],\n             INVERTER_31_PAC_LIMIT: msg.payload[30].values[\"Op.Dmd.WCtl\"],\n             INVERTER_31_QAC_LIMIT: msg.payload[30].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_31_PF_LIMIT: msg.payload[30].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_31_Serial_Number: msg.payload[30].values[\"Serial Number\"],\n             INVERTER_31_EAE: msg.payload[30].values[\"E-Total\"],\n             INVERTER_31_Grid_feedin: msg.payload[30].values[\"GM.TotWhOut\"],\n             INVERTER_31_User_Event_count: msg.payload[30].values[\"Op.EvtCntUsr\"],\n             INVERTER_31_Operating_Time: msg.payload[30].values[\"Mt.TotTmh\"],\n             INVERTER_31_Feed_in_time: msg.payload[30].values[\"Mt.TotOpTmh\"],\n             INVERTER_31_Event_count: msg.payload[30].values[\"Op.EvtNo\"],\n             INVERTER_31_Manufacturer_Event_count: msg.payload[30].values[\"Op.EvtNoDvlp\"],\n             INVERTER_31_Waitingtimeunitlfeedin: msg.payload[30].values[\"Op.TmsRmg\"],\n             INVERTER_31_Inverter_state: msg.payload[30].values.Inverter_state,\n             INVERTER_31_Error: msg.payload[30].values.Error,\n             INVERTER_31_Condiition: msg.payload[30].values[\"Op.Health\"],\n             INVERTER_31_Recommended_action: msg.payload[30].values[\"Op.Prio\"],\n             INVERTER_31_Grid_relay: msg.payload[30].values[\"Op.GriSwStt\"],\n             INVERTER_31_Derating_State: msg.payload[30].values[\"Inv.TmpLimStt\"],\n             INVERTER_31_InvCtl_Stt: msg.payload[30].values[\"InvCtl.Stt\"],\n             INVERTER_31_PlntCtl_Stt: msg.payload[30].values[\"PlntCtl.Stt\"],\n             INVERTER_31_PCM_DigInStt: msg.payload[30].values[\"PCM-DigInStt\"],\n             INVERTER_31_CosPhi_stimulation: msg.payload[30].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_32_IDC1: msg.payload[31].values[\"A.Ms.Amp\"],\n             INVERTER_32_IDC2: msg.payload[31].values[\"B.Ms.Amp\"],\n             INVERTER_32_UDC1: msg.payload[31].values[\"A.Ms.Vol\"],\n             INVERTER_32_UDC2: msg.payload[31].values[\"B.Ms.Vol\"],\n             INVERTER_32_PDC1: msg.payload[31].values[\"A.Ms.Watt\"],\n             INVERTER_32_PDC2: msg.payload[31].values[\"B.Ms.Watt\"],\n             INVERTER_32_PAC: msg.payload[31].values.Pac,\n             INVERTER_32_PAC1: msg.payload[31].values[\"GridMs.W.phsA\"],\n             INVERTER_32_PAC2: msg.payload[31].values[\"GridMs.W.phsB\"],\n             INVERTER_32_PAC3: msg.payload[31].values[\"GridMs.W.phsC\"],\n             INVERTER_32_UAC1: msg.payload[31].values[\"GridMs.PhV.phsA\"],\n             INVERTER_32_UAC2: msg.payload[31].values[\"GridMs.PhV.phsB\"],\n             INVERTER_32_UAC3: msg.payload[31].values[\"GridMs.PhV.phsC\"],\n             INVERTER_32_IAC1: msg.payload[31].values[\"GridMs.A.phsA\"],\n             INVERTER_32_IAC2: msg.payload[31].values[\"GridMs.A.phsB\"],\n             INVERTER_32_IAC3: msg.payload[31].values[\"GridMs.A.phsC\"],\n             INVERTER_32_FAC: msg.payload[31].values[\"GridMs.Hz\"],\n             INVERTER_32_QAC: msg.payload[31].values[\"GridMs.TotVAr\"],\n             INVERTER_32_QAC1: msg.payload[31].values[\"GridMs.VAr.phsA\"],\n             INVERTER_32_QAC2: msg.payload[31].values[\"GridMs.VAr.phsB\"],\n             INVERTER_32_QAC3: msg.payload[31].values[\"GridMs.VAr.phsC\"],\n             INVERTER_32_SAC: msg.payload[31].values[\"GridMs.TotVA\"],\n             INVERTER_32_SAC1: msg.payload[31].values[\"GridMs.VA.phsA\"],\n             INVERTER_32_SAC2: msg.payload[31].values[\"GridMs.VA.phsB\"],\n             INVERTER_32_SAC3: msg.payload[31].values[\"GridMs.VA.phsC\"],\n             INVERTER_32_PF: msg.payload[31].values[\"GridMs.TotPF\"],\n             INVERTER_32_PAC_LIMIT: msg.payload[31].values[\"Op.Dmd.WCtl\"],\n             INVERTER_32_QAC_LIMIT: msg.payload[31].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_32_PF_LIMIT: msg.payload[31].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_32_Serial_Number: msg.payload[31].values[\"Serial Number\"],\n             INVERTER_32_EAE: msg.payload[31].values[\"E-Total\"],\n             INVERTER_32_Grid_feedin: msg.payload[31].values[\"GM.TotWhOut\"],\n             INVERTER_32_User_Event_count: msg.payload[31].values[\"Op.EvtCntUsr\"],\n             INVERTER_32_Operating_Time: msg.payload[31].values[\"Mt.TotTmh\"],\n             INVERTER_32_Feed_in_time: msg.payload[31].values[\"Mt.TotOpTmh\"],\n             INVERTER_32_Event_count: msg.payload[31].values[\"Op.EvtNo\"],\n             INVERTER_32_Manufacturer_Event_count: msg.payload[31].values[\"Op.EvtNoDvlp\"],\n             INVERTER_32_Waitingtimeunitlfeedin: msg.payload[31].values[\"Op.TmsRmg\"],\n             INVERTER_32_Inverter_state: msg.payload[31].values.Inverter_state,\n             INVERTER_32_Error: msg.payload[31].values.Error,\n             INVERTER_32_Condiition: msg.payload[31].values[\"Op.Health\"],\n             INVERTER_32_Recommended_action: msg.payload[31].values[\"Op.Prio\"],\n             INVERTER_32_Grid_relay: msg.payload[31].values[\"Op.GriSwStt\"],\n             INVERTER_32_Derating_State: msg.payload[31].values[\"Inv.TmpLimStt\"],\n             INVERTER_32_InvCtl_Stt: msg.payload[31].values[\"InvCtl.Stt\"],\n             INVERTER_32_PlntCtl_Stt: msg.payload[31].values[\"PlntCtl.Stt\"],\n             INVERTER_32_PCM_DigInStt: msg.payload[31].values[\"PCM-DigInStt\"],\n             INVERTER_32_CosPhi_stimulation: msg.payload[31].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_33_IDC1: msg.payload[32].values[\"A.Ms.Amp\"],\n             INVERTER_33_IDC2: msg.payload[32].values[\"B.Ms.Amp\"],\n             INVERTER_33_UDC1: msg.payload[32].values[\"A.Ms.Vol\"],\n             INVERTER_33_UDC2: msg.payload[32].values[\"B.Ms.Vol\"],\n             INVERTER_33_PDC1: msg.payload[32].values[\"A.Ms.Watt\"],\n             INVERTER_33_PDC2: msg.payload[32].values[\"B.Ms.Watt\"],\n             INVERTER_33_PAC: msg.payload[32].values.Pac,\n             INVERTER_33_PAC1: msg.payload[32].values[\"GridMs.W.phsA\"],\n             INVERTER_33_PAC2: msg.payload[32].values[\"GridMs.W.phsB\"],\n             INVERTER_33_PAC3: msg.payload[32].values[\"GridMs.W.phsC\"],\n             INVERTER_33_UAC1: msg.payload[32].values[\"GridMs.PhV.phsA\"],\n             INVERTER_33_UAC2: msg.payload[32].values[\"GridMs.PhV.phsB\"],\n             INVERTER_33_UAC3: msg.payload[32].values[\"GridMs.PhV.phsC\"],\n             INVERTER_33_IAC1: msg.payload[32].values[\"GridMs.A.phsA\"],\n             INVERTER_33_IAC2: msg.payload[32].values[\"GridMs.A.phsB\"],\n             INVERTER_33_IAC3: msg.payload[32].values[\"GridMs.A.phsC\"],\n             INVERTER_33_FAC: msg.payload[32].values[\"GridMs.Hz\"],\n             INVERTER_33_QAC: msg.payload[32].values[\"GridMs.TotVAr\"],\n             INVERTER_33_QAC1: msg.payload[32].values[\"GridMs.VAr.phsA\"],\n             INVERTER_33_QAC2: msg.payload[32].values[\"GridMs.VAr.phsB\"],\n             INVERTER_33_QAC3: msg.payload[32].values[\"GridMs.VAr.phsC\"],\n             INVERTER_33_SAC: msg.payload[32].values[\"GridMs.TotVA\"],\n             INVERTER_33_SAC1: msg.payload[32].values[\"GridMs.VA.phsA\"],\n             INVERTER_33_SAC2: msg.payload[32].values[\"GridMs.VA.phsB\"],\n             INVERTER_33_SAC3: msg.payload[32].values[\"GridMs.VA.phsC\"],\n             INVERTER_33_PF: msg.payload[32].values[\"GridMs.TotPF\"],\n             INVERTER_33_PAC_LIMIT: msg.payload[32].values[\"Op.Dmd.WCtl\"],\n             INVERTER_33_QAC_LIMIT: msg.payload[32].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_33_PF_LIMIT: msg.payload[32].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_33_Serial_Number: msg.payload[32].values[\"Serial Number\"],\n             INVERTER_33_EAE: msg.payload[32].values[\"E-Total\"],\n             INVERTER_33_Grid_feedin: msg.payload[32].values[\"GM.TotWhOut\"],\n             INVERTER_33_User_Event_count: msg.payload[32].values[\"Op.EvtCntUsr\"],\n             INVERTER_33_Operating_Time: msg.payload[32].values[\"Mt.TotTmh\"],\n             INVERTER_33_Feed_in_time: msg.payload[32].values[\"Mt.TotOpTmh\"],\n             INVERTER_33_Event_count: msg.payload[32].values[\"Op.EvtNo\"],\n             INVERTER_33_Manufacturer_Event_count: msg.payload[32].values[\"Op.EvtNoDvlp\"],\n             INVERTER_33_Waitingtimeunitlfeedin: msg.payload[32].values[\"Op.TmsRmg\"],\n             INVERTER_33_Inverter_state: msg.payload[32].values.Inverter_state,\n             INVERTER_33_Error: msg.payload[32].values.Error,\n             INVERTER_33_Condiition: msg.payload[32].values[\"Op.Health\"],\n             INVERTER_33_Recommended_action: msg.payload[32].values[\"Op.Prio\"],\n             INVERTER_33_Grid_relay: msg.payload[32].values[\"Op.GriSwStt\"],\n             INVERTER_33_Derating_State: msg.payload[32].values[\"Inv.TmpLimStt\"],\n             INVERTER_33_InvCtl_Stt: msg.payload[32].values[\"InvCtl.Stt\"],\n             INVERTER_33_PlntCtl_Stt: msg.payload[32].values[\"PlntCtl.Stt\"],\n             INVERTER_33_PCM_DigInStt: msg.payload[32].values[\"PCM-DigInStt\"],\n             INVERTER_33_CosPhi_stimulation: msg.payload[32].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_34_IDC1: msg.payload[33].values[\"A.Ms.Amp\"],\n             INVERTER_34_IDC2: msg.payload[33].values[\"B.Ms.Amp\"],\n             INVERTER_34_UDC1: msg.payload[33].values[\"A.Ms.Vol\"],\n             INVERTER_34_UDC2: msg.payload[33].values[\"B.Ms.Vol\"],\n             INVERTER_34_PDC1: msg.payload[33].values[\"A.Ms.Watt\"],\n             INVERTER_34_PDC2: msg.payload[33].values[\"B.Ms.Watt\"],\n             INVERTER_34_PAC: msg.payload[33].values.Pac,\n             INVERTER_34_PAC1: msg.payload[33].values[\"GridMs.W.phsA\"],\n             INVERTER_34_PAC2: msg.payload[33].values[\"GridMs.W.phsB\"],\n             INVERTER_34_PAC3: msg.payload[33].values[\"GridMs.W.phsC\"],\n             INVERTER_34_UAC1: msg.payload[33].values[\"GridMs.PhV.phsA\"],\n             INVERTER_34_UAC2: msg.payload[33].values[\"GridMs.PhV.phsB\"],\n             INVERTER_34_UAC3: msg.payload[33].values[\"GridMs.PhV.phsC\"],\n             INVERTER_34_IAC1: msg.payload[33].values[\"GridMs.A.phsA\"],\n             INVERTER_34_IAC2: msg.payload[33].values[\"GridMs.A.phsB\"],\n             INVERTER_34_IAC3: msg.payload[33].values[\"GridMs.A.phsC\"],\n             INVERTER_34_FAC: msg.payload[33].values[\"GridMs.Hz\"],\n             INVERTER_34_QAC: msg.payload[33].values[\"GridMs.TotVAr\"],\n             INVERTER_34_QAC1: msg.payload[33].values[\"GridMs.VAr.phsA\"],\n             INVERTER_34_QAC2: msg.payload[33].values[\"GridMs.VAr.phsB\"],\n             INVERTER_34_QAC3: msg.payload[33].values[\"GridMs.VAr.phsC\"],\n             INVERTER_34_SAC: msg.payload[33].values[\"GridMs.TotVA\"],\n             INVERTER_34_SAC1: msg.payload[33].values[\"GridMs.VA.phsA\"],\n             INVERTER_34_SAC2: msg.payload[33].values[\"GridMs.VA.phsB\"],\n             INVERTER_34_SAC3: msg.payload[33].values[\"GridMs.VA.phsC\"],\n             INVERTER_34_PF: msg.payload[33].values[\"GridMs.TotPF\"],\n             INVERTER_34_PAC_LIMIT: msg.payload[33].values[\"Op.Dmd.WCtl\"],\n             INVERTER_34_QAC_LIMIT: msg.payload[33].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_34_PF_LIMIT: msg.payload[33].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_34_Serial_Number: msg.payload[33].values[\"Serial Number\"],\n             INVERTER_34_EAE: msg.payload[33].values[\"E-Total\"],\n             INVERTER_34_Grid_feedin: msg.payload[33].values[\"GM.TotWhOut\"],\n             INVERTER_34_User_Event_count: msg.payload[33].values[\"Op.EvtCntUsr\"],\n             INVERTER_34_Operating_Time: msg.payload[33].values[\"Mt.TotTmh\"],\n             INVERTER_34_Feed_in_time: msg.payload[33].values[\"Mt.TotOpTmh\"],\n             INVERTER_34_Event_count: msg.payload[33].values[\"Op.EvtNo\"],\n             INVERTER_34_Manufacturer_Event_count: msg.payload[33].values[\"Op.EvtNoDvlp\"],\n             INVERTER_34_Waitingtimeunitlfeedin: msg.payload[33].values[\"Op.TmsRmg\"],\n             INVERTER_34_Inverter_state: msg.payload[33].values.Inverter_state,\n             INVERTER_34_Error: msg.payload[33].values.Error,\n             INVERTER_34_Condiition: msg.payload[33].values[\"Op.Health\"],\n             INVERTER_34_Recommended_action: msg.payload[33].values[\"Op.Prio\"],\n             INVERTER_34_Grid_relay: msg.payload[33].values[\"Op.GriSwStt\"],\n             INVERTER_34_Derating_State: msg.payload[33].values[\"Inv.TmpLimStt\"],\n             INVERTER_34_InvCtl_Stt: msg.payload[33].values[\"InvCtl.Stt\"],\n             INVERTER_34_PlntCtl_Stt: msg.payload[33].values[\"PlntCtl.Stt\"],\n             INVERTER_34_PCM_DigInStt: msg.payload[33].values[\"PCM-DigInStt\"],\n             INVERTER_34_CosPhi_stimulation: msg.payload[33].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_35_IDC1: msg.payload[34].values[\"A.Ms.Amp\"],\n             INVERTER_35_IDC2: msg.payload[34].values[\"B.Ms.Amp\"],\n             INVERTER_35_UDC1: msg.payload[34].values[\"A.Ms.Vol\"],\n             INVERTER_35_UDC2: msg.payload[34].values[\"B.Ms.Vol\"],\n             INVERTER_35_PDC1: msg.payload[34].values[\"A.Ms.Watt\"],\n             INVERTER_35_PDC2: msg.payload[34].values[\"B.Ms.Watt\"],\n             INVERTER_35_PAC: msg.payload[34].values.Pac,\n             INVERTER_35_PAC1: msg.payload[34].values[\"GridMs.W.phsA\"],\n             INVERTER_35_PAC2: msg.payload[34].values[\"GridMs.W.phsB\"],\n             INVERTER_35_PAC3: msg.payload[34].values[\"GridMs.W.phsC\"],\n             INVERTER_35_UAC1: msg.payload[34].values[\"GridMs.PhV.phsA\"],\n             INVERTER_35_UAC2: msg.payload[34].values[\"GridMs.PhV.phsB\"],\n             INVERTER_35_UAC3: msg.payload[34].values[\"GridMs.PhV.phsC\"],\n             INVERTER_35_IAC1: msg.payload[34].values[\"GridMs.A.phsA\"],\n             INVERTER_35_IAC2: msg.payload[34].values[\"GridMs.A.phsB\"],\n             INVERTER_35_IAC3: msg.payload[34].values[\"GridMs.A.phsC\"],\n             INVERTER_35_FAC: msg.payload[34].values[\"GridMs.Hz\"],\n             INVERTER_35_QAC: msg.payload[34].values[\"GridMs.TotVAr\"],\n             INVERTER_35_QAC1: msg.payload[34].values[\"GridMs.VAr.phsA\"],\n             INVERTER_35_QAC2: msg.payload[34].values[\"GridMs.VAr.phsB\"],\n             INVERTER_35_QAC3: msg.payload[34].values[\"GridMs.VAr.phsC\"],\n             INVERTER_35_SAC: msg.payload[34].values[\"GridMs.TotVA\"],\n             INVERTER_35_SAC1: msg.payload[34].values[\"GridMs.VA.phsA\"],\n             INVERTER_35_SAC2: msg.payload[34].values[\"GridMs.VA.phsB\"],\n             INVERTER_35_SAC3: msg.payload[34].values[\"GridMs.VA.phsC\"],\n             INVERTER_35_PF: msg.payload[34].values[\"GridMs.TotPF\"],\n             INVERTER_35_PAC_LIMIT: msg.payload[34].values[\"Op.Dmd.WCtl\"],\n             INVERTER_35_QAC_LIMIT: msg.payload[34].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_35_PF_LIMIT: msg.payload[34].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_35_Serial_Number: msg.payload[34].values[\"Serial Number\"],\n             INVERTER_35_EAE: msg.payload[34].values[\"E-Total\"],\n             INVERTER_35_Grid_feedin: msg.payload[34].values[\"GM.TotWhOut\"],\n             INVERTER_35_User_Event_count: msg.payload[34].values[\"Op.EvtCntUsr\"],\n             INVERTER_35_Operating_Time: msg.payload[34].values[\"Mt.TotTmh\"],\n             INVERTER_35_Feed_in_time: msg.payload[34].values[\"Mt.TotOpTmh\"],\n             INVERTER_35_Event_count: msg.payload[34].values[\"Op.EvtNo\"],\n             INVERTER_35_Manufacturer_Event_count: msg.payload[34].values[\"Op.EvtNoDvlp\"],\n             INVERTER_35_Waitingtimeunitlfeedin: msg.payload[34].values[\"Op.TmsRmg\"],\n             INVERTER_35_Inverter_state: msg.payload[34].values.Inverter_state,\n             INVERTER_35_Error: msg.payload[34].values.Error,\n             INVERTER_35_Condiition: msg.payload[34].values[\"Op.Health\"],\n             INVERTER_35_Recommended_action: msg.payload[34].values[\"Op.Prio\"],\n             INVERTER_35_Grid_relay: msg.payload[34].values[\"Op.GriSwStt\"],\n             INVERTER_35_Derating_State: msg.payload[34].values[\"Inv.TmpLimStt\"],\n             INVERTER_35_InvCtl_Stt: msg.payload[34].values[\"InvCtl.Stt\"],\n             INVERTER_35_PlntCtl_Stt: msg.payload[34].values[\"PlntCtl.Stt\"],\n             INVERTER_35_PCM_DigInStt: msg.payload[34].values[\"PCM-DigInStt\"],\n             INVERTER_35_CosPhi_stimulation: msg.payload[34].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_36_IDC1: msg.payload[35].values[\"A.Ms.Amp\"],\n             INVERTER_36_IDC2: msg.payload[35].values[\"B.Ms.Amp\"],\n             INVERTER_36_UDC1: msg.payload[35].values[\"A.Ms.Vol\"],\n             INVERTER_36_UDC2: msg.payload[35].values[\"B.Ms.Vol\"],\n             INVERTER_36_PDC1: msg.payload[35].values[\"A.Ms.Watt\"],\n             INVERTER_36_PDC2: msg.payload[35].values[\"B.Ms.Watt\"],\n             INVERTER_36_PAC: msg.payload[35].values.Pac,\n             INVERTER_36_PAC1: msg.payload[35].values[\"GridMs.W.phsA\"],\n             INVERTER_36_PAC2: msg.payload[35].values[\"GridMs.W.phsB\"],\n             INVERTER_36_PAC3: msg.payload[35].values[\"GridMs.W.phsC\"],\n             INVERTER_36_UAC1: msg.payload[35].values[\"GridMs.PhV.phsA\"],\n             INVERTER_36_UAC2: msg.payload[35].values[\"GridMs.PhV.phsB\"],\n             INVERTER_36_UAC3: msg.payload[35].values[\"GridMs.PhV.phsC\"],\n             INVERTER_36_IAC1: msg.payload[35].values[\"GridMs.A.phsA\"],\n             INVERTER_36_IAC2: msg.payload[35].values[\"GridMs.A.phsB\"],\n             INVERTER_36_IAC3: msg.payload[35].values[\"GridMs.A.phsC\"],\n             INVERTER_36_FAC: msg.payload[35].values[\"GridMs.Hz\"],\n             INVERTER_36_QAC: msg.payload[35].values[\"GridMs.TotVAr\"],\n             INVERTER_36_QAC1: msg.payload[35].values[\"GridMs.VAr.phsA\"],\n             INVERTER_36_QAC2: msg.payload[35].values[\"GridMs.VAr.phsB\"],\n             INVERTER_36_QAC3: msg.payload[35].values[\"GridMs.VAr.phsC\"],\n             INVERTER_36_SAC: msg.payload[35].values[\"GridMs.TotVA\"],\n             INVERTER_36_SAC1: msg.payload[35].values[\"GridMs.VA.phsA\"],\n             INVERTER_36_SAC2: msg.payload[35].values[\"GridMs.VA.phsB\"],\n             INVERTER_36_SAC3: msg.payload[35].values[\"GridMs.VA.phsC\"],\n             INVERTER_36_PF: msg.payload[35].values[\"GridMs.TotPF\"],\n             INVERTER_36_PAC_LIMIT: msg.payload[35].values[\"Op.Dmd.WCtl\"],\n             INVERTER_36_QAC_LIMIT: msg.payload[35].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_36_PF_LIMIT: msg.payload[35].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_36_Serial_Number: msg.payload[35].values[\"Serial Number\"],\n             INVERTER_36_EAE: msg.payload[35].values[\"E-Total\"],\n             INVERTER_36_Grid_feedin: msg.payload[35].values[\"GM.TotWhOut\"],\n             INVERTER_36_User_Event_count: msg.payload[35].values[\"Op.EvtCntUsr\"],\n             INVERTER_36_Operating_Time: msg.payload[35].values[\"Mt.TotTmh\"],\n             INVERTER_36_Feed_in_time: msg.payload[35].values[\"Mt.TotOpTmh\"],\n             INVERTER_36_Event_count: msg.payload[35].values[\"Op.EvtNo\"],\n             INVERTER_36_Manufacturer_Event_count: msg.payload[35].values[\"Op.EvtNoDvlp\"],\n             INVERTER_36_Waitingtimeunitlfeedin: msg.payload[35].values[\"Op.TmsRmg\"],\n             INVERTER_36_Inverter_state: msg.payload[35].values.Inverter_state,\n             INVERTER_36_Error: msg.payload[35].values.Error,\n             INVERTER_36_Condiition: msg.payload[35].values[\"Op.Health\"],\n             INVERTER_36_Recommended_action: msg.payload[35].values[\"Op.Prio\"],\n             INVERTER_36_Grid_relay: msg.payload[35].values[\"Op.GriSwStt\"],\n             INVERTER_36_Derating_State: msg.payload[35].values[\"Inv.TmpLimStt\"],\n             INVERTER_36_InvCtl_Stt: msg.payload[35].values[\"InvCtl.Stt\"],\n             INVERTER_36_PlntCtl_Stt: msg.payload[35].values[\"PlntCtl.Stt\"],\n             INVERTER_36_PCM_DigInStt: msg.payload[35].values[\"PCM-DigInStt\"],\n             INVERTER_36_CosPhi_stimulation: msg.payload[35].values[\"Op.Dmd.PFExtCtl\"],\n\n\n\n             INVERTER_37_IDC1: msg.payload[36].values[\"A.Ms.Amp\"],\n             INVERTER_37_IDC2: msg.payload[36].values[\"B.Ms.Amp\"],\n             INVERTER_37_UDC1: msg.payload[36].values[\"A.Ms.Vol\"],\n             INVERTER_37_UDC2: msg.payload[36].values[\"B.Ms.Vol\"],\n             INVERTER_37_PDC1: msg.payload[36].values[\"A.Ms.Watt\"],\n             INVERTER_37_PDC2: msg.payload[36].values[\"B.Ms.Watt\"],\n             INVERTER_37_PAC: msg.payload[36].values.Pac,\n             INVERTER_37_PAC1: msg.payload[36].values[\"GridMs.W.phsA\"],\n             INVERTER_37_PAC2: msg.payload[36].values[\"GridMs.W.phsB\"],\n             INVERTER_37_PAC3: msg.payload[36].values[\"GridMs.W.phsC\"],\n             INVERTER_37_UAC1: msg.payload[36].values[\"GridMs.PhV.phsA\"],\n             INVERTER_37_UAC2: msg.payload[36].values[\"GridMs.PhV.phsB\"],\n             INVERTER_37_UAC3: msg.payload[36].values[\"GridMs.PhV.phsC\"],\n             INVERTER_37_IAC1: msg.payload[36].values[\"GridMs.A.phsA\"],\n             INVERTER_37_IAC2: msg.payload[36].values[\"GridMs.A.phsB\"],\n             INVERTER_37_IAC3: msg.payload[36].values[\"GridMs.A.phsC\"],\n             INVERTER_37_FAC: msg.payload[36].values[\"GridMs.Hz\"],\n             INVERTER_37_QAC: msg.payload[36].values[\"GridMs.TotVAr\"],\n             INVERTER_37_QAC1: msg.payload[36].values[\"GridMs.VAr.phsA\"],\n             INVERTER_37_QAC2: msg.payload[36].values[\"GridMs.VAr.phsB\"],\n             INVERTER_37_QAC3: msg.payload[36].values[\"GridMs.VAr.phsC\"],\n             INVERTER_37_SAC: msg.payload[36].values[\"GridMs.TotVA\"],\n             INVERTER_37_SAC1: msg.payload[36].values[\"GridMs.VA.phsA\"],\n             INVERTER_37_SAC2: msg.payload[36].values[\"GridMs.VA.phsB\"],\n             INVERTER_37_SAC3: msg.payload[36].values[\"GridMs.VA.phsC\"],\n             INVERTER_37_PF: msg.payload[36].values[\"GridMs.TotPF\"],\n             INVERTER_37_PAC_LIMIT: msg.payload[36].values[\"Op.Dmd.WCtl\"],\n             INVERTER_37_QAC_LIMIT: msg.payload[36].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_37_PF_LIMIT: msg.payload[36].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_37_Serial_Number: msg.payload[36].values[\"Serial Number\"],\n             INVERTER_37_EAE: msg.payload[36].values[\"E-Total\"],\n             INVERTER_37_Grid_feedin: msg.payload[36].values[\"GM.TotWhOut\"],\n             INVERTER_37_User_Event_count: msg.payload[36].values[\"Op.EvtCntUsr\"],\n             INVERTER_37_Operating_Time: msg.payload[36].values[\"Mt.TotTmh\"],\n             INVERTER_37_Feed_in_time: msg.payload[36].values[\"Mt.TotOpTmh\"],\n             INVERTER_37_Event_count: msg.payload[36].values[\"Op.EvtNo\"],\n             INVERTER_37_Manufacturer_Event_count: msg.payload[36].values[\"Op.EvtNoDvlp\"],\n             INVERTER_37_Waitingtimeunitlfeedin: msg.payload[36].values[\"Op.TmsRmg\"],\n             INVERTER_37_Inverter_state: msg.payload[36].values.Inverter_state,\n             INVERTER_37_Error: msg.payload[36].values.Error,\n             INVERTER_37_Condiition: msg.payload[36].values[\"Op.Health\"],\n             INVERTER_37_Recommended_action: msg.payload[36].values[\"Op.Prio\"],\n             INVERTER_37_Grid_relay: msg.payload[36].values[\"Op.GriSwStt\"],\n             INVERTER_37_Derating_State: msg.payload[36].values[\"Inv.TmpLimStt\"],\n             INVERTER_37_InvCtl_Stt: msg.payload[36].values[\"InvCtl.Stt\"],\n             INVERTER_37_PlntCtl_Stt: msg.payload[36].values[\"PlntCtl.Stt\"],\n             INVERTER_37_PCM_DigInStt: msg.payload[36].values[\"PCM-DigInStt\"],\n             INVERTER_37_CosPhi_stimulation: msg.payload[36].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_38_IDC1: msg.payload[37].values[\"A.Ms.Amp\"],\n             INVERTER_38_IDC2: msg.payload[37].values[\"B.Ms.Amp\"],\n             INVERTER_38_UDC1: msg.payload[37].values[\"A.Ms.Vol\"],\n             INVERTER_38_UDC2: msg.payload[37].values[\"B.Ms.Vol\"],\n             INVERTER_38_PDC1: msg.payload[37].values[\"A.Ms.Watt\"],\n             INVERTER_38_PDC2: msg.payload[37].values[\"B.Ms.Watt\"],\n             INVERTER_38_PAC: msg.payload[37].values.Pac,\n             INVERTER_38_PAC1: msg.payload[37].values[\"GridMs.W.phsA\"],\n             INVERTER_38_PAC2: msg.payload[37].values[\"GridMs.W.phsB\"],\n             INVERTER_38_PAC3: msg.payload[37].values[\"GridMs.W.phsC\"],\n             INVERTER_38_UAC1: msg.payload[37].values[\"GridMs.PhV.phsA\"],\n             INVERTER_38_UAC2: msg.payload[37].values[\"GridMs.PhV.phsB\"],\n             INVERTER_38_UAC3: msg.payload[37].values[\"GridMs.PhV.phsC\"],\n             INVERTER_38_IAC1: msg.payload[37].values[\"GridMs.A.phsA\"],\n             INVERTER_38_IAC2: msg.payload[37].values[\"GridMs.A.phsB\"],\n             INVERTER_38_IAC3: msg.payload[37].values[\"GridMs.A.phsC\"],\n             INVERTER_38_FAC: msg.payload[37].values[\"GridMs.Hz\"],\n             INVERTER_38_QAC: msg.payload[37].values[\"GridMs.TotVAr\"],\n             INVERTER_38_QAC1: msg.payload[37].values[\"GridMs.VAr.phsA\"],\n             INVERTER_38_QAC2: msg.payload[37].values[\"GridMs.VAr.phsB\"],\n             INVERTER_38_QAC3: msg.payload[37].values[\"GridMs.VAr.phsC\"],\n             INVERTER_38_SAC: msg.payload[37].values[\"GridMs.TotVA\"],\n             INVERTER_38_SAC1: msg.payload[37].values[\"GridMs.VA.phsA\"],\n             INVERTER_38_SAC2: msg.payload[37].values[\"GridMs.VA.phsB\"],\n             INVERTER_38_SAC3: msg.payload[37].values[\"GridMs.VA.phsC\"],\n             INVERTER_38_PF: msg.payload[37].values[\"GridMs.TotPF\"],\n             INVERTER_38_PAC_LIMIT: msg.payload[37].values[\"Op.Dmd.WCtl\"],\n             INVERTER_38_QAC_LIMIT: msg.payload[37].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_38_PF_LIMIT: msg.payload[37].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_38_Serial_Number: msg.payload[37].values[\"Serial Number\"],\n             INVERTER_38_EAE: msg.payload[37].values[\"E-Total\"],\n             INVERTER_38_Grid_feedin: msg.payload[37].values[\"GM.TotWhOut\"],\n             INVERTER_38_User_Event_count: msg.payload[37].values[\"Op.EvtCntUsr\"],\n             INVERTER_38_Operating_Time: msg.payload[37].values[\"Mt.TotTmh\"],\n             INVERTER_38_Feed_in_time: msg.payload[37].values[\"Mt.TotOpTmh\"],\n             INVERTER_38_Event_count: msg.payload[37].values[\"Op.EvtNo\"],\n             INVERTER_38_Manufacturer_Event_count: msg.payload[37].values[\"Op.EvtNoDvlp\"],\n             INVERTER_38_Waitingtimeunitlfeedin: msg.payload[37].values[\"Op.TmsRmg\"],\n             INVERTER_38_Inverter_state: msg.payload[37].values.Inverter_state,\n             INVERTER_38_Error: msg.payload[37].values.Error,\n             INVERTER_38_Condiition: msg.payload[37].values[\"Op.Health\"],\n             INVERTER_38_Recommended_action: msg.payload[37].values[\"Op.Prio\"],\n             INVERTER_38_Grid_relay: msg.payload[37].values[\"Op.GriSwStt\"],\n             INVERTER_38_Derating_State: msg.payload[37].values[\"Inv.TmpLimStt\"],\n             INVERTER_38_InvCtl_Stt: msg.payload[37].values[\"InvCtl.Stt\"],\n             INVERTER_38_PlntCtl_Stt: msg.payload[37].values[\"PlntCtl.Stt\"],\n             INVERTER_38_PCM_DigInStt: msg.payload[37].values[\"PCM-DigInStt\"],\n             INVERTER_38_CosPhi_stimulation: msg.payload[37].values[\"Op.Dmd.PFExtCtl\"],\n\n\n             INVERTER_39_IDC1: msg.payload[38].values[\"A.Ms.Amp\"],\n             INVERTER_39_IDC2: msg.payload[38].values[\"B.Ms.Amp\"],\n             INVERTER_39_UDC1: msg.payload[38].values[\"A.Ms.Vol\"],\n             INVERTER_39_UDC2: msg.payload[38].values[\"B.Ms.Vol\"],\n             INVERTER_39_PDC1: msg.payload[38].values[\"A.Ms.Watt\"],\n             INVERTER_39_PDC2: msg.payload[38].values[\"B.Ms.Watt\"],\n             INVERTER_39_PAC: msg.payload[38].values.Pac,\n             INVERTER_39_PAC1: msg.payload[38].values[\"GridMs.W.phsA\"],\n             INVERTER_39_PAC2: msg.payload[38].values[\"GridMs.W.phsB\"],\n             INVERTER_39_PAC3: msg.payload[38].values[\"GridMs.W.phsC\"],\n             INVERTER_39_UAC1: msg.payload[38].values[\"GridMs.PhV.phsA\"],\n             INVERTER_39_UAC2: msg.payload[38].values[\"GridMs.PhV.phsB\"],\n             INVERTER_39_UAC3: msg.payload[38].values[\"GridMs.PhV.phsC\"],\n             INVERTER_39_IAC1: msg.payload[38].values[\"GridMs.A.phsA\"],\n             INVERTER_39_IAC2: msg.payload[38].values[\"GridMs.A.phsB\"],\n             INVERTER_39_IAC3: msg.payload[38].values[\"GridMs.A.phsC\"],\n             INVERTER_39_FAC: msg.payload[38].values[\"GridMs.Hz\"],\n             INVERTER_39_QAC: msg.payload[38].values[\"GridMs.TotVAr\"],\n             INVERTER_39_QAC1: msg.payload[38].values[\"GridMs.VAr.phsA\"],\n             INVERTER_39_QAC2: msg.payload[38].values[\"GridMs.VAr.phsB\"],\n             INVERTER_39_QAC3: msg.payload[38].values[\"GridMs.VAr.phsC\"],\n             INVERTER_39_SAC: msg.payload[38].values[\"GridMs.TotVA\"],\n             INVERTER_39_SAC1: msg.payload[38].values[\"GridMs.VA.phsA\"],\n             INVERTER_39_SAC2: msg.payload[38].values[\"GridMs.VA.phsB\"],\n             INVERTER_39_SAC3: msg.payload[38].values[\"GridMs.VA.phsC\"],\n             INVERTER_39_PF: msg.payload[38].values[\"GridMs.TotPF\"],\n             INVERTER_39_PAC_LIMIT: msg.payload[38].values[\"Op.Dmd.WCtl\"],\n             INVERTER_39_QAC_LIMIT: msg.payload[38].values[\"Op.Dmd.VArCtl\"],\n             INVERTER_39_PF_LIMIT: msg.payload[38].values[\"Op.Dmd.PFCtl\"],\n             INVERTER_39_Serial_Number: msg.payload[38].values[\"Serial Number\"],\n             INVERTER_39_EAE: msg.payload[38].values[\"E-Total\"],\n             INVERTER_39_Grid_feedin: msg.payload[38].values[\"GM.TotWhOut\"],\n             INVERTER_39_User_Event_count: msg.payload[38].values[\"Op.EvtCntUsr\"],\n             INVERTER_39_Operating_Time: msg.payload[38].values[\"Mt.TotTmh\"],\n             INVERTER_39_Feed_in_time: msg.payload[38].values[\"Mt.TotOpTmh\"],\n             INVERTER_39_Event_count: msg.payload[38].values[\"Op.EvtNo\"],\n             INVERTER_39_Manufacturer_Event_count: msg.payload[38].values[\"Op.EvtNoDvlp\"],\n             INVERTER_39_Waitingtimeunitlfeedin: msg.payload[38].values[\"Op.TmsRmg\"],\n             INVERTER_39_Inverter_state: msg.payload[38].values.Inverter_state,\n             INVERTER_39_Error: msg.payload[38].values.Error,\n             INVERTER_39_Condiition: msg.payload[38].values[\"Op.Health\"],\n             INVERTER_39_Recommended_action: msg.payload[38].values[\"Op.Prio\"],\n             INVERTER_39_Grid_relay: msg.payload[38].values[\"Op.GriSwStt\"],\n             INVERTER_39_Derating_State: msg.payload[38].values[\"Inv.TmpLimStt\"],\n             INVERTER_39_InvCtl_Stt: msg.payload[38].values[\"InvCtl.Stt\"],\n             INVERTER_39_PlntCtl_Stt: msg.payload[38].values[\"PlntCtl.Stt\"],\n             INVERTER_39_PCM_DigInStt: msg.payload[38].values[\"PCM-DigInStt\"],\n             INVERTER_39_CosPhi_stimulation: msg.payload[38].values[\"Op.Dmd.PFExtCtl\"]\n\n\n           \n}\n\nplantObj.push(obj)\n\n\nmsg.payload = plantObj\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "0c7832abae7fdc36"
            ]
        ]
    },
    {
        "id": "b8eeaccd704391b8",
        "type": "debug",
        "z": "fc42e39d94bf81f5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "0c7832abae7fdc36",
        "type": "csv",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "e29f94f79314c7c6"
            ]
        ]
    },
    {
        "id": "e29f94f79314c7c6",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "todays date",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\n\nvar c =today1;\ncontext.set('c',c)\n\nvar path = \"/home/iplon/yasdi2mqtt/ftp/SMA_INV_21_39_\"+c+\".csv\"\nmsg.filename = path\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            [
                "b0e442d181309f0d"
            ]
        ]
    },
    {
        "id": "b0e442d181309f0d",
        "type": "file",
        "z": "fc42e39d94bf81f5",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 980,
        "y": 320,
        "wires": [
            [
                "b8eeaccd704391b8"
            ]
        ]
    },
    {
        "id": "a2943c8e4fe9d016",
        "type": "function",
        "z": "fc42e39d94bf81f5",
        "name": "filename",
        "func": "var currentTime = new Date();\n\nvar currentOffset = currentTime.getTimezoneOffset();\n\nvar ISTOffset = 330;   // IST offset UTC +5:30 \n\nvar today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\nvar today1 = dd + '_' + mm + '_' + yyyy;\n\nvar c =today1;\ncontext.set('c',c)\n\n\nmsg.localFilename = \"/home/iplon/yasdi2mqtt/ftp/SMA_INV_21_39_\" + c + \".csv\"\n//msg.payload.filename=\"/ftp/solarlog/archive\"\nmsg.filename =\"/ftp_files/SMA_INV_21-39_\"+c+\".csv\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "1220b125a67cc2b8"
            ]
        ]
    },
    {
        "id": "1220b125a67cc2b8",
        "type": "ftp in",
        "z": "fc42e39d94bf81f5",
        "ftp": "b1257bd787c290b6",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "name": "",
        "x": 750,
        "y": 500,
        "wires": [
            [
                "aed5b2d2459957a8"
            ]
        ]
    },
    {
        "id": "89702165c41dd266",
        "type": "debug",
        "z": "fc42e39d94bf81f5",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 380,
        "wires": []
    },
    {
        "id": "efdbf9fee9037cee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1257bd787c290b6",
        "type": "ftp",
        "host": "ftpserver1.solarlink.co",
        "port": "",
        "secureOptions": "",
        "user": "mh_ci_fiat_one_fpel",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": ""
    }
]
