url dashboard creation
[
    {
        "id": "7db57965.76d468",
        "type": "ui_button",
        "z": "93163a23.467de8",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Node-RED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Node-RED",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "ece06122.7e762"
            ]
        ]
    },
    {
        "id": "5e1f0081.6dc3c",
        "type": "ui_template",
        "z": "93163a23.467de8",
        "group": "ca2272c3.e8396",
        "name": "window redirect",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"Node-RED\") {\n          //window.open(\"https://www.nodered.org\");\n          window.location.href = \"https://www.nodered.org\";\n        } \n        if (data == \"GitHub\") {\n          //window.open(\"https://github.com/node-red\");\n          window.location.href = \"https://github.com/node-red\";\n        } \n        if (data == \"pv-india\") {\n        //window.open(\"http://pv-india.eu:1881\");\n        window.location.href = \"http://pv-india.eu:1881\";\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "8582289.2d757d8"
            ]
        ]
    },
    {
        "id": "23caf401.9d6d4c",
        "type": "ui_button",
        "z": "93163a23.467de8",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "GitHub",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "GitHub",
        "payloadType": "str",
        "topic": "",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "ece06122.7e762"
            ]
        ]
    },
    {
        "id": "ece06122.7e762",
        "type": "trigger",
        "z": "93163a23.467de8",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "5e1f0081.6dc3c"
            ]
        ]
    },
    {
        "id": "8582289.2d757d8",
        "type": "debug",
        "z": "93163a23.467de8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "7bb12be249bb7d90",
        "type": "ui_button",
        "z": "93163a23.467de8",
        "name": "",
        "group": "ca2272c3.e8396",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "pv-india",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "pv-india",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "ece06122.7e762"
            ]
        ]
    },
    {
        "id": "ca2272c3.e8396",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d9bf7560.df5e58",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d9bf7560.df5e58",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]
